<template>
    <div>
        <div class="head">
            <div class="left">
                <el-input placeholder="请输入学生姓名" v-model="query.key" class="sarchInput" size="small"
                          clearable></el-input>
                <el-select v-model="query.class_id" placeholder="请选择班级" style="width:120px" size="small" class="selectBox" clearable>
                    <el-option
                            v-for="item in classData"
                            :key="item.class_id"
                            :label="item.class_name"
                            :value="item.class_id"></el-option>
                </el-select>
                <el-date-picker
                        class="pickClass"
                        size="small"
                        v-model="query.day"
                        type="date"
                        placeholder="选择日期"
                        format="YYYY-MM-DD"
                        style="margin-left:10px"
                >
                </el-date-picker>
                <el-button type="primary" class="search" size="small" @click="getData('1')">搜索</el-button>
<!--                <el-button type="primary" class="search" size="small" @click="exportStu">学生导出</el-button>-->
            </div>
            <div class="right">
<!--                <el-button type="success" size="small" class="add" @click="showDialog()">添加学生</el-button>-->
            </div>
        </div>


        <div class="table">
            <el-table :data="tableData" border style="width: 100%" class="tableBox" v-loading="loadings">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column prop="class_name" label="名称"   :resizable="false"></el-table-column>

                <el-table-column  label="操作" width="100"   :resizable="false">
                    <template #default="scope">
                        <el-button size="small" @click="showDialog(scope.row)">详情</el-button>
                        <!--                       <el-button size="small">微信配置</el-button>-->
                    </template>
                </el-table-column>

            </el-table>
            <el-pagination
                    class="pagin"
                    background
                    layout="prev, pager, next"
                    :total="total"
                    :current-page="query.currentpage"
                    @current-change="pagechange"
            >
            </el-pagination>
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import {shortcuts,formatDate} from '@/utils/utils.ts'
    export default defineComponent({
        name: "deviceCard",
        setup() {
            return reactive({
                type: '',
                component: 'device_card',
                classData:[],
                shortcuts: shortcuts(),
                query:{
                    key:"",
                    class_id:'',
                    currentpage:'1',
                    pagesize:'10',
                    day: new Date()

                },
                total:'0',
                tableData:[],
                loadings:false,

            })
        },
        data() {
            return {}
        },
        mounted() {
            this.getData();
            this. getClassData();
        },
        watch: {
            $route() {
                (this as any).type = (this as any).$route.query.type;
                (this as any).component = (this as any).$route.query.component;
            },
            component() {
                if (this.component == 'device_card') {
                    this.getData();
                    this.getClassData()
                }
            }
        },
        methods: {
            pagechange(val: any) {
                this.query.currentpage = val.toString();
                this.getData()
            },
            getData() {
                let data:any = Object.assign({},this.query);

                (this as any).axios.post('garden/class_equipment_bobtree_statistics/list', data, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        if (d.success) {
                            let arr: any = JSON.parse(JSON.stringify(d.msg.list));
                            arr.map((item: any) => {
                                if (item.state === '1') { // 1正常 0停用
                                    item.stateFlag = true
                                } else {
                                    item.stateFlag = false
                                }
                            });
                            this.total = d.msg.count;
                            this.tableData = arr;
                        }else{
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },
            getClassData(){
                (this as any).axios.post('garden/class/selectList', {},{ headers: { token :(this as any).$store.state.token }
                }).then((e:any) => {
                    if(e.status === 200){
                        let d:any = e.data;
                        if(d.success){
                            let arr:any = JSON.parse(JSON.stringify(d.msg.list));
                            this.classData  = arr;
                        }else{
                            (this as any).$message.error(e.data.err);
                        }
                    }
                })
            },
        }
    })
</script>

<style lang="less" scoped>
    .tabBox {
        width: 100%;
        height: 35px;
        padding-top: 10px;

        .tabsInfo {
        }
    }

    .head {
        /*height: 35px;*/
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        line-height: 35px;
        font-size: @--font-size;

        .selectBox {
            margin:0 10px;
        }

        .left {
            width: 80%;
            height: 100%;
            float: left;
            text-align: left;


            .sarchInput {
                width: 200px;
                height: 100%;
                line-height: 35px;
                margin-left: 10px;float: left;
            }

            .sarchInput:nth-of-type(1) {
                margin-left: 10px;
            }
        }

        .right {
            width: 20%;
            height: 100%;
            float: right;
            text-align: right;

            .add {
                margin-right: 10px;
            }
        }
    }

    .table {
        overflow-y: auto;
        height: calc(100% - 65px);
        width: calc(100% - 20px);
        margin: 0 auto;

        .tableBox {
            line-height: 35px;
            overflow: inherit;
        }

        .pagin {
            line-height: 35px;
            margin-top: 10px;
        }
    }
    .pickClass{
        margin-left: @--margin;
    }
</style>