<template>
    <div style="text-align: left">
        <div class="subtitle">
            <span>刷卡机字幕</span>
            <el-input type="textarea" v-model="subtitle" class="textareaInp" :row="15" style="width: 50%"></el-input>
        </div>
        <el-button type="primary" size="small" class="btnDefault" @click="editSubtitle">修改字幕</el-button>
        <div class="editBox">
            <span class="span">刷卡机轮播图</span>
            <div>
                <el-upload :action="uploadHost" list-type="picture-card"
                           :auto-upload="true" style="float: left" :on-success="imgSuc"
                           :file-list="fileList">
                    <template #default>
                        <i class="el-icon-plus"></i>
                    </template>
                    <template #file="{file}">
                        <div>
                            <img class="el-upload-list__item-thumbnail" :src="file.url" alt=""/>
                            <span class="el-upload-list__item-actions">
<!--                                          <span class="el-upload-list__item-preview"-->
                                <!--                                                @click="handlePictureCardPreview(file)">-->
                                <!--                                            <i class="el-icon-zoom-in"></i>-->
                                <!--                                          </span>-->
                                <!--                                          <span v-if="!disabled" class="el-upload-list__item-delete"-->
                                <!--                                                @click="handleDownload(file)">-->
                                <!--                                            <i class="el-icon-download"></i>-->
                                <!--                                          </span>-->
                                          <span v-if="!disabled" class="el-upload-list__item-delete"
                                                @click="handleRemove(file)">
                                            <i class="el-icon-delete"></i>
                                          </span>
                                        </span>
                        </div>
                    </template>
                </el-upload>
                <el-dialog v-model="dialogVisible">
                    <img width="100%" :src="dialogImageUrl" alt="">
                </el-dialog>
            </div>
        </div>
        <el-button type="primary" size="small" class="btnDefault" @click="editImg">修改轮播图</el-button>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    // import {fileHost, areaList} from "@/utils/utils"
    import {fileHost, uploadHost, beforeUpload} from "@/utils/utils";

    export default defineComponent({
        name: "deviceCard",
        components: {},
        setup() {
            return reactive({
                fileHost: fileHost(),
                uploadHost: uploadHost(),
                type: '',
                component: 'device_card',
                subtitle: '',// 刷卡机字幕
                fileList: [],
                fileListOld: []
            })
        },
        data() {
            return {}
        },
        mounted() {
            this.getData();
        },
        watch: {
            $route() {
                (this as any).type = (this as any).$route.query.type;
                (this as any).component = (this as any).$route.query.component;
            },
            component() {
                if (this.component == 'device_card') {
                    this.getData();
                }
            }
        },
        methods: {
            editSubtitle() {
                (this as any).axios.post('garden/device_card/subtitle', {subtitle: this.subtitle}, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        if (d.success) {
                            (this as any).$message.success('成功');
                            this.getData();
                        } else {
                            (this as any).$message.error(e.data.err);
                        }
                    }
                })
            },
            getData() {
                (this as any).axios.post('garden/device_card/list', {}, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        if (d.success) {
                            this.subtitle = d.msg.subtitle;
                            let arr: Array<string> = d.msg.imgs.split(",");
                            let arr1: Array<Object> = [];
                            arr.map((item: any) => {
                                let ob: any = {
                                    name: "", url: fileHost() + 'schoolimage/' + item
                                };
                                arr1.push(ob);
                            });
                            this.fileList = JSON.parse(JSON.stringify(arr1));
                            this.fileListOld = JSON.parse(JSON.stringify(arr1));
                        } else {
                            (this as any).$message.error(e.data.err);
                          (this as any).$store.dispatch('loginOut', '').then(() => {
                            (this as any).$router.replace("/")
                          })
                        }
                    }
                })
            },
            imgRev() {
                this.fileList = JSON.parse('[]');
                // this.tableData = []
            },
            handleRemove(file: any) {
                let arr: any = this.fileList.concat(), arr1: any = [];
                arr.map((item: any) => {
                    if (file.url.indexOf(item.url) < 0) {
                        arr1.push(item)
                    }
                });
                this.fileList = arr1
            },
            imgSuc(response: any) {
                let obj: any = {
                    name: '', url: `${beforeUpload()}upload/${response.filename}`
                };
                let arr: any = this.fileList.concat(obj);
                this.fileList = arr.concat();
            },
            onPre(file: any) {
                console.log(file);
            },
            editImg() {
                let arr: any = this.fileList.concat(), newArr: any = [], oldArr: any = [];
                arr.map((item: any) => {
                    let sArr: any = item.url.split("/");
                    newArr.push(sArr[sArr.length - 1]);
                    // if(item.url.indexOf())
                });
                this.fileListOld.map((val: any) => {
                    let sArr: any = val.url.split("/");
                    oldArr.push(sArr[sArr.length - 1]);
                });
                console.log(newArr, oldArr);
                (this as any).axios.post('garden/device_card/images', {
                    imgs_old: oldArr.join(','),
                    imgs: newArr.join(','),
                }, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        if (d.success) {
                            (this as any).$message.success('成功');
                            this.getData()
                        } else {
                            (this as any).$message.error(e.data.err);
                        }
                    }
                });
            },
        }
    })
</script>

<style lang="less" scoped>
    .subtitle {
        width: 100%;padding-left: 10px;box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        margin: 0 auto;
        span {
            width: 130px;
            display: block;
            text-align: left;
            font-size: @--font-size-big;

            .textareaInp {
                width: 500px;
            }
        }

    }

    .btnDefault {
        margin: 10px 0 30px 140px;
    }

    .editBox {
        width: calc(100% - 20px) !important;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;

        .span {
            width: 130px;
            display: block;
            /*margin: 0 10px;*/
            text-align: left;
            font-size: @--font-size-big;

        }

    }
</style>