<template>
  <div>
    <div class="head">
      <div class="left">
        <el-input placeholder="请输入图书姓名" v-model="query.key" class="sarchInput" size="small"
                  clearable></el-input>
        <el-select v-model="query.state" placeholder="图书状态" style="width:120px" size="small" class="selectBox" clearable>
          <el-option
                  v-for="item in stateData"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"></el-option>
        </el-select>
        <el-button type="primary" class="search" size="small" @click="getData('1')">搜索</el-button>
      </div>
      <div class="right">
          <el-button type="success" size="small" class="add" @click="showDialog()">添加图书</el-button>
      </div>
    </div>
    <div class="table">
      <el-table :data="tableData" border style="width: 100%" class="tableBox" v-loading="loadings">
        <template #empty>
          <span style="color: #969799;">没有更多数据</span>
        </template>
        <el-table-column prop="name" label="名称"   :resizable="false"></el-table-column>
        <el-table-column prop="code" label="条码"   :resizable="false"></el-table-column>
        <el-table-column prop="cou" label="数量"   :resizable="false"></el-table-column>
        <el-table-column prop="borrow" label="借书次数"   :resizable="false"></el-table-column>
        <el-table-column prop="booknum" label="名称"   :resizable="false"></el-table-column>
        <el-table-column prop="lastday" label="最后日期"   :resizable="false"></el-table-column>
        <el-table-column prop="laststate" label="最后状态"   :resizable="false">
          <template #default="scope">
            {{stateArr[scope.row.laststate]}}
          </template>
        </el-table-column>
        <el-table-column prop="position" label="所在位置"   :resizable="false"></el-table-column>

        <el-table-column  label="操作" width="300"   :resizable="false">
          <template #default="scope">
            <el-button size="small" @click="showTable(scope.row)">流转历史</el-button>
            <el-button size="small" @click="showDialog(scope.row)">编辑</el-button>
            <el-popconfirm
                    confirmButtonText='好的'
                    cancelButtonText='不用了'
                    @confirm="del(scope.row)"
                    icon="el-icon-info"
                    iconColor="red"
                    title="这是一段内容确定删除吗？"
            >
              <template #reference>
                <el-button size="mini" type="danger">删除</el-button>
              </template>
            </el-popconfirm>
          </template>
        </el-table-column>

      </el-table>
      <el-pagination
              class="pagin"
              background
              layout="prev, pager, next"
              :total="total"
              :current-page="query.currentpage"
              @current-change="pagechange"
      >
      </el-pagination>
    </div>
    <!--        编辑图书-->
    <el-drawer
            :title="(d.id?'编辑':'添加')+'图书'"
            :size="'40%'"
            v-model="dialogFormVisible"
            :direction="'rtl'"
            :before-close="handleClose" destroy-on-close>
      <div class="edit" v-if="dialogFormVisible">
        <el-form ref="from" :model="d" label-width="80px" @close="closeDialog()" class="commonForm" >
          <el-form-item label="名称" prop="name" :rules="[ { required: true, message: '名称不能为空'} ]">
            <el-input v-model="d.name" autocomplete="off" clearable></el-input>
          </el-form-item>
          <el-form-item label="条码" prop="code" :rules="[ { required: true, message: '条码不能为空'} ]">
            <el-input v-model="d.code" autocomplete="off" clearable></el-input>
          </el-form-item>
          <el-form-item label="标准书号" prop="booknum" :rules="[ { required: true, message: '标准书号不能为空'} ]">
            <el-input v-model="d.booknum" autocomplete="off" clearable></el-input>
          </el-form-item>
          <el-form-item label="作者" prop="source" :rules="[ { required: true, message: '作者不能为空'} ]">
            <el-input v-model="d.source" autocomplete="off" clearable></el-input>
          </el-form-item>
          <el-form-item label="索引书号" prop="searchid" :rules="[ { required: true, message: '索引书号不能为空'} ]">
            <el-input v-model="d.searchid" autocomplete="off" clearable></el-input>
          </el-form-item>
          <el-form-item label="出版社" prop="press" :rules="[ { required: true, message: '出版社不能为空'} ]">
            <el-input v-model="d.press" autocomplete="off" clearable></el-input>
          </el-form-item>
          <el-form-item label="出版年月" prop="pubyear" :rules="[ { required: true, message: '出版年月不能为空'} ]">
            <el-date-picker
                    class="pickClass"
                    v-model="d.pubyear"
                    type="date"
                    placeholder="选择日期"
                    format="YYYY-MM-DD"
            >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="原价" prop="price" :rules="[ { required: true, message: '原价不能为空'} ]">
            <el-input v-model="d.price" autocomplete="off" clearable></el-input>
          </el-form-item>
          <el-form-item label="所在位置" prop="position" :rules="[ { required: true, message: '所在位置不能为空'} ]">
            <el-input v-model="d.position" autocomplete="off" clearable></el-input>
          </el-form-item>

          <el-form-item>
            <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
              <el-button @click="closeDialog()"  >取 消</el-button>
              <el-button type="primary" @click="submitForm('from')" >确 定</el-button>
            </div>
          </el-form-item>
        </el-form>
      </div>

    </el-drawer>
<!--    流转历史-->
    <el-dialog title="图书流转历史"  v-model="tableVisible"  >
      <div>
        <el-table :data="bookhistory" height="550">
          <el-table-column  :resizable="false" property="num" label="学号"></el-table-column>
          <el-table-column  :resizable="false" property="name" label="姓名" width="200"></el-table-column>
          <el-table-column  :resizable="false" property="s_sign" label="签到时间"></el-table-column>
          <el-table-column  :resizable="false" property="e_sign" label="签退时间"></el-table-column>
        </el-table>
        <el-pagination
                class="pagin"
                background
                layout="prev, pager, next"
                :total="historytotal"
                :current-page="book_d.currentpage"
                @current-change="book_dpagechange"
        >
        </el-pagination>
      </div>
    </el-dialog>
  </div>
</template>

<script lang="ts">
  import {defineComponent, reactive} from 'vue';
  import { shortcuts } from '@/utils/utils.ts'
  export default defineComponent({
    name: "deviceCard",
    setup() {
      return reactive({
        tableVisible:false,
        dialogFormVisible:false,
        historytotal:0,
        bookhistory:[],
        d:{
          id:"",
          name:"",
          code:"",
          booknum:"",
          source:"",
          searchid:"",
          press:"",
          pubyear:"",
          price:"",
          position:"",
        },
        type: '',
        component: 'books',
        stateData:[
          {label:'在库',value:0},
          {label:'借出',value:1},
          {label:'逾期',value:2}
        ],
        stateArr:['在库','借出','逾期'],
        shortcuts: shortcuts(),
        query:{
          key:"",
          state:'',
          currentpage:'1',
          pagesize:'10',
        },
        total:'0',
        tableData:[],
        loadings:false,
        book_d:{
          book_id:'',
          key:'',
          currentpage:'1',
          pagesize:'10',
        }
      })
    },
    mounted() {
      this.getData();
    },
    watch: {
      $route() {
        (this as any).type = (this as any).$route.query.type;
        (this as any).component = (this as any).$route.query.component;
      },
      component() {
        if (this.component == 'books') {
          this.getData();
        }
      }
    },
    methods: {
      showTable(row:any){
        this.tableVisible = true;
        this.book_d.book_id = row.id;
        this.getHistory();
      },
      getHistory(){
        (this as any).axios.post("garden/books/book_history", this.book_d, {
          headers: {token: (this as any).$store.state.token}
        })
      },
      del(row: any) {
        (this as any).axios.post("garden/books/delete", {id: row.id}, {
          headers: {token: (this as any).$store.state.token}
        }).then((e: any) => {
          if (e.status === 200) {
            if (e.data.success) {
              (this as any).$message.success('成功');
              this.getData()
            } else {
              (this as any).$message.error(e.data.err);
            }
          }
        })
      },
      handleClose(done: any) {
        (this as any).$confirm('确认关闭？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.closeDialog();
          done();
        }).catch(() => {
        });
      },
      tableHandleClose(done: any) {
        (this as any).$confirm('确认关闭？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          done();
        }).catch(() => {
        });
      },
      closeDialog(){
        this.dialogFormVisible = false;
        let d:any =  {
          id:"",
          name:"",
          code:"",
          booknum:"",
          source:"",
          searchid:"",
          press:"",
          pubyear:"",
          price:"",
          position:"",
        };
        this.d = Object.assign({},d);
      },
      showDialog(row: any = undefined) {
        this.dialogFormVisible = true;
        if ( row ) {
          (this as any).axios.post("garden/books/get", {id: row.id}, {
            headers: {token: (this as any).$store.state.token}
          }).then((t: any) => {
            if (t.status == 200) {
              if(t.data.success){
                let ds:any = t.data.msg;
                let d: any = {
                  id:ds.id,
                  name:ds.name,
                  code:ds.code,
                  booknum:ds.booknum,
                  source:ds.source,
                  searchid:ds.searchid,
                  press:ds.press,
                  pubyear:ds.pubyear,
                  price:ds.price,
                  position:ds.position,
                };
                this.d = Object.assign({}, d);
              }else{
                (this as any).$message.error(t.data.err);
              }
            } else {
              (this as any).$message.error(t.data.err);
            }
          } )
        }
      },
      submitForm(formName: any) {
        (this as any).$refs[formName].validate((valid: Boolean) => {
          if (valid) {
            let data: any = {
              ...this.d,
            };
            (this as any).axios.post('garden/books/design', data, {
              headers: {token: (this as any).$store.state.token}
            }).then((t: any) => {
              if (t.status == 200) {
                if (t.data.success) {
                  this.dialogFormVisible = false;
                  this.getData('1');
                  (this as any).$message.success('成功');
                } else {
                  (this as any).$message.error(t.data.err);
                }
              } else {
                (this as any).$message.error(t.data.err);
              }
            })
          } else {
            return false;
          }
        });
      },
      pagechange(val: any) {
        this.query.currentpage = val.toString();
        this.getData()
      },
      book_dpagechange(val: any) {
        this.book_d.currentpage = val.toString();
        this.getHistory()
      },
      getData(currentpage: string = '') {
        let data:any = Object.assign({},this.query);
        if (currentpage) {
          this.query.currentpage = '1'
        }
        (this as any).axios.post('garden/books/list', data, {
          headers: {token: (this as any).$store.state.token}
        }).then((e: any) => {
          if (e.status === 200) {
            let d: any = e.data;
            if (d.success) {
              let arr: any = JSON.parse(JSON.stringify(d.msg.list));
              arr.map((item: any) => {
                if (item.state === '1') { // 1正常 0停用
                  item.stateFlag = true
                } else {
                  item.stateFlag = false
                }
              });
              this.total = d.msg.count;
              this.tableData = arr;
            }else{
              (this as any).$message.error(e.data.err);
              (this as any).$store.dispatch('loginOut', '').then(() => {
                (this as any).$router.replace("/")
              })
            }
          }
        })
      },

    }
  })
</script>

<style lang="less" scoped>
  .tabBox {
    width: 100%;
    height: 35px;
    padding-top: 10px;

    .tabsInfo {
    }
  }

  .head {
    /*height: 35px;*/
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    line-height: 35px;
    font-size: @--font-size;

    .selectBox {
      margin:0 10px;
    }

    .left {
      width: 80%;
      height: 100%;
      float: left;
      text-align: left;


      .sarchInput {
        width: 200px;
        height: 100%;
        line-height: 35px;
        margin-left: 10px;float: left;
      }

      .sarchInput:nth-of-type(1) {
        margin-left: 10px;
      }
    }

    .right {
      width: 20%;
      height: 100%;
      float: right;
      text-align: right;

      .add {
        margin-right: 10px;
      }
    }
  }

  .table {
    overflow-y: auto;
    height: calc(100% - 65px);
    width: calc(100% - 20px);
    margin: 0 auto;

    .tableBox {
      line-height: 35px;
      overflow: inherit;
    }

    .pagin {
      line-height: 35px;
      margin-top: 10px;
    }
  }
  .pickClass{
    margin-left: @--margin;
  }
</style>