<template>
    <div>
        <div class="tabBox">
            <el-tabs v-model="type" type="card" @tab-click="handleClick" class="tabsInfo">
                <el-tab-pane :label="item.label" :name="index.toString()" v-for="(item,index) in menuInfo" :key="index"></el-tab-pane>
            </el-tabs>
        </div>
        <div class="table1" ref="myRef">
            <Books v-if="component==='books'"></Books>
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent,reactive , ref , onMounted} from 'vue';
    import Books from './books.vue'

    export default defineComponent({
        name: "booksmanage",
        components:{  Books },
        setup() {
            const myRef = ref(null);
            onMounted(() => {
                console.dir(myRef);
            })
            return reactive({
                myRef,
                type:'',
                component:'books',
                menuInfo:[],
            })
        },
        data(){
            return {     }
        },
        mounted() {
            this.menuInfo = (this as any).$store.state.menu[(this as any).$route.query.routesIndex || 0]['sub'];
            this.type = (this as any).$route.query.type.toString();
            this.component = (this as any).$route.query.component.toString();
            (this as any).$store.dispatch('setPHAction', (this as any).myRef.clientHeight); // 修he
        },
        watch:{
            $route(){
                (this as any).type= (this as any).$route.query.type;
                (this as any).component= (this as any).$route.query.component;
            },
            component() {

            }
        },
        methods: {
            handleClick(tab:any) {
                this.$router.push({
                    query:{
                        type: tab.index,
                        component: this.menuInfo[tab.index]['component']
                    }
                })
            },
        }
    })
</script>

<style lang="less" scoped>
    .table1 {
        overflow-y: auto;
        height: calc(100% - 65px);
        width: 100%;
        margin: 0 auto;
        .tableBox{
            line-height: 35px;overflow: inherit;
        }
        .pagin{
            line-height: 35px;margin-top: 10px;
        }
    }
</style>