<template>
    <div class="home">
        <el-container class="Box">

            <el-aside width="200px">
                <div class="logo">
                    校信通学校管理系统
                </div>
                <Aside></Aside>
            </el-aside>
            <el-container>
                <el-header class="heads">
                    <el-dropdown trigger="click" @command="handleCommand">
                          <span class="el-dropdown-link">
                            {{username2}}<i class="el-icon-arrow-down el-icon--right"></i>
                          </span>
                        <template #dropdown>
                            <el-dropdown-menu>
                                <el-dropdown-item command="1">修改密码</el-dropdown-item>
                                <el-dropdown-item command="2">退出登录</el-dropdown-item>
                            </el-dropdown-menu>
                        </template>
                    </el-dropdown>
                    <!--                    <span ></span>-->

                    <!--                    <span @click="loginout">退出登录</span>-->
                </el-header>
                <el-main style="height:100%;">
                    <el-breadcrumb separator="/" class="breads">
                        <el-breadcrumb-item>管理中心</el-breadcrumb-item>
                        <el-breadcrumb-item>首页</el-breadcrumb-item>
                        <!--                        <el-breadcrumb-item :to="{ path: '/UpdatePass' }">修改密码</el-breadcrumb-item>-->
                    </el-breadcrumb>

                    <router-view class="Content"/>

                </el-main>
            </el-container>
        </el-container>
        <!--        修改密码-->
        <el-dialog title="修改密码" v-model="dialogFormVisible">
            <el-form :model="form" ref="ruleForm">
                <el-form-item label="旧密码" :label-width="formLabelWidth" prop="oldpass" :rules="{
      required: true, message: '旧密码不能为空', trigger: 'blur'
    }">
                    <el-input v-model="form.oldpass" autocomplete="off" clearable></el-input>
                </el-form-item>
                <el-form-item label="新密码" :label-width="formLabelWidth" prop="newpass" :rules="{
      required: true, message: '新密码不能为空', trigger: 'blur'
    }">
                    <el-input v-model="form.newpass" autocomplete="off" clearable></el-input>
                </el-form-item>
            </el-form>
            <template #footer>
                <span class="dialog-footer">
                  <el-button @click="cancelupdate()">取 消</el-button>
                  <el-button type="primary" @click="sureupdate('ruleForm')">确 定</el-button>
                </span>
            </template>
        </el-dialog>
    </div>
</template>

<script lang="ts">
    import {defineComponent} from 'vue';
    import {
        mapState,
        /* mapMutations */
    } from 'vuex'
    import Aside from "@/components/Aside.vue";

    export default defineComponent({
        name: 'Home',
        components: {Aside},
        data() {
            return {
                dialogFormVisible: false,
                form: {
                    oldpass: '',
                    newpass: '',
                },
                formLabelWidth: '80px'
            }
        },
        created() {

        },
        mounted() {
            // const {  ctx  }: any = getCurrentInstance(); //获取上下文实例，ctx=vue2的this
            // // 异步获取用户名
            // (this as any).$store.state
        },
        computed: {
            ...mapState({
                username2: (state: any) => state.username,
                // menu: (state:any) => state.menu
            }),
        },
        methods: {
            // 退出登录
            loginout() {
                (this as any).$store.dispatch('setUserNameAction', ''); // 修改用户名
                (this as any).$store.dispatch('setTokenAction', ''); // 修改登录用户 的 Token
                (this as any).$store.dispatch('setMenuAction', []); // 修改登录用户 的 Token
                this.$router.push("/")
            },
            handleCommand(command: string) {
                if (command === '1') {
                    console.log('修改密码');
                    this.dialogFormVisible = true;
                } else if (command === '2') {
                    this.loginout();
                }
            },
            cancelupdate(){
              this.dialogFormVisible = false;
                (this as any).form.oldpass = '';
                (this as any).form.newpass = ''
            },
            sureupdate(formName:string){
                (this as any).$refs[formName].validate((valid:any) => {
                    if (valid) {
                        (this as any).axios.post('garden/editpass', this.form, {
                            headers: {token: (this as any).$store.state.token}
                        }).then((e:any)=>{
                            console.log(e)
                            if(e.status === 200){
                                if(e.data.success){
                                    (this as any).$message.success("修改成功");
                                    setTimeout(()=>{
                                        this.loginout()
                                    },1000)
                                }else{
                                    (this as any).$message.error(e.data.err);
                                }
                            }
                        });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });

            },
        }
    });
</script>
<style scoped lang="less">
    .home {
        background: @redf;
        height: 100vh;
        width: 100vw;
        overflow: hidden;

        .Box {
            height: 100%;

            .Content {
                width: 100%;
                height: calc(100% - 30px);
                background: #fff;
            }
        }

        .breads {
            margin-bottom: 10px;
            font-size: @--font-size;
        }

        .logo {
            width: 200px;
            height: 60px;
            background: @--main-color;
            color: #fff;
            line-height: 60px;
            font-size: 20px;
        }

        .heads {
            display: flex;
            justify-content: flex-end;

            span {
                color: #fff;
                margin-left: 20px;
                cursor: pointer;
            }

            .el-dropdown-link {
                line-height: 60px;
            }
        }
    }

</style>
