<template>
    <div class="tabContent">
        <el-tabs v-model="editableTabsValue" type="card" class="tabsBox" @tab-click="handClick">
            <el-tab-pane
                    class="tabBoxFa"
                    v-for="(item, index) in editableTabs"
                    :key="index"
                    :label="item.title"
                    :name="item.name"
            >
                <div class="tabInfos">
                    {{item.content}}        Index1

                </div>
            </el-tab-pane>
        </el-tabs>

    </div>
</template>

<script lang="ts">
    import { defineComponent
        /*,getCurrentInstance*/
    } from 'vue';
    import {setectQuery} from  '@/utils/utils'

    export default defineComponent({
        name: "Index",
        data() {
            return {
                editableTabsValue: '1',
                editableTabs: [
                    { title: '首页', name: '1', content: '首页'},
                    { title: '修改密码', name: '2', content: '修改密码'}
                ],
                type:"1",
            }
        },
        mounted() {
            // 获取地址栏type 1 换成 editableTabsValue
            const href = window.location.href;
            console.log(href,'mounted')
            this.type = setectQuery('type')
            this.editableTabsValue = setectQuery('type')
        },
        methods: {
            handClick(tab:any){
                this.$router.push({
                    query:{
                        type:tab.props.name
                    }
                })
            }
        },
        watch:{
            $route(){
                console.log("路有变化");
                (this as any).type = this.$route.query.type;
                (this as any).editableTabsValue = this.$route.query.type;

            },
            type(){

            }
        }
    })
</script>

<style lang="less" scoped>
    .tabContent{
        height: 95%;background: rebeccapurple;
    }
    .tabsBox{
        height: calc(100% - 30px);background: #fff;border-radius: @--border-radius-base;
        .tabBoxFa{
            height: calc(100% - 70px);
            .tabInfo{
                height: 100%;
            }
        }
    }
</style>