<template>
    <div>
        <div class="loginBox">
            <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="学校ID" prop="group_id">
                    <el-input v-model.number="ruleForm.group_id" clearable></el-input>
                </el-form-item>
                <el-form-item label="账号" prop="account">
                    <el-input v-model.number="ruleForm.account" clearable></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="pass">
                    <el-input type="password" v-model="ruleForm.pass" autocomplete="off" clearable></el-input>
                </el-form-item>
                <el-form-item label="验证码" prop="ecode" style="position: relative">
                    <el-input  v-model="ruleForm.ecode" autocomplete="off"></el-input>
<!--                    <img src="http://book.server.zh8848.com/VerifyCode.ashx?L=4&W=60&H=22&BG=FFFFFF&S=14&B=True&X=3&Y=1&C=" class="ecode" alt="">-->
                    <img :src="`http://server.zhhost.top/zh8848/VerifyCode${rand}/h=28&bg=FFFFFFFF&len=4`" class="ecode" alt="" @click="newRand">
                </el-form-item>
                <el-form-item label="记住我" prop="type" style="margin-bottom: 0">
                    <el-checkbox v-model="remember" label="记住我" name="type" style="float: left" @change="rememberMe"></el-checkbox>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm')" class="submit">登录</el-button>
                    <el-button @click="resetForm('ruleForm')">重置</el-button>
                </el-form-item>
            </el-form>
<!--            <el-button @click="Login" class="Login">Login</el-button>-->
        </div>

    </div>
</template>

<script lang="ts">
    import { defineComponent  } from 'vue';
    import { ElLoading  } from 'element-plus'
    import {setCookie,getCookie} from "@/utils/utils";

    export default defineComponent({
        name: "Login",
        data() {
            const validatePass = (rule:any, value:any, callback:any) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    callback();
                }
            };
            const validateAccount = (rule:any, value:any, callback:any) =>{
                if (value === '') {
                    callback(new Error('请输入账号'));
                } else {
                    callback();
                }
            };
            const validateEcode = (rule:any, value:any, callback:any) =>{
                if (value === '') {
                    callback(new Error('请输入验证码'));
                } else {
                    callback();
                }
            };
            /**
             * 311200000101
             * 新华宝宝
             * 123456
             * **/
            return {
                remember:false,
                rand:Math.floor(Math.random()*100),
                ruleForm: {
                    pass: '', //123456                     123456
                    ecode: '', // 1                        1
                    account: '', //春江园区                 浦乐总园
                    group_id:'' // 330106000803            330106006001
                },
                rules: {
                    pass: [
                        { validator: validatePass, trigger: 'blur' }
                    ],
                    account:[
                        { validator: validateAccount, trigger: 'blur' }
                    ],
                    ecode:[
                        { validator: validateEcode, trigger: 'blur' }
                    ],
                }
            }
        },
        mounted() {
            const isRemember:any=getCookie('remember') || '';
            if(window.location.search){
                (this as any).ruleForm.group_id = this.getQueryVariable('group_id')||'';
                (this as any).ruleForm.account = decodeURI(this.getQueryVariable('account')||'');
            }else if(isRemember === 'true'&&!window.location.search) {
                this.remember = true;
                let Obj:any = Object.assign({},this.ruleForm);
                Obj.group_id = getCookie("group_id") || '';
                Obj.account = getCookie("account") || '';
                Obj.pass = getCookie("pass") || '';
                this.ruleForm = Object.assign({},Obj);
            }else{
                this.remember = false;
            }
        },
        methods: {
            getQueryVariable(variable:any){
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i=0;i<vars.length;i++) {
                        var pair = vars[i].split("=");
                        if(pair[0] == variable){return pair[1];}
                }
                return(false);
            },
            rememberMe(){
                if(!this.remember){
                    console.log(this.remember);
                    setCookie('remember','false');
                    setCookie('uname','');
                    setCookie('pass','');
                }else{
                    setCookie('remember','true');
                    setCookie('group_id',this.ruleForm.group_id);
                    setCookie('pass',this.ruleForm.pass);
                    setCookie('account',this.ruleForm.account);
                }
            },
            newRand(){
              this.rand  =  Math.floor(Math.random()*100)
            },
            submitForm(formName:any) {
                (this as any).$refs[formName].validate((valid:any) => {
                    const store = (this as any).$store;
                    if (valid) {
                        let loadingInstance:any = ElLoading.service({
                            lock: true,
                            text: 'Loading',
                            spinner: 'el-icon-loading',
                        });
                        // ts中使用接口（Interfaces）来定义 对象 的类型1。
                        interface dataType {
                            uname: string,pass:string,vcode:string,group_id:string
                        }
                        let data: dataType = {
                            uname: this.ruleForm.account,  // 如果code的类型错误 则编译失败
                            group_id: this.ruleForm.group_id,  // 如果code的类型错误 则编译失败
                            pass: this.ruleForm.pass,  // 如果code的类型错误 则编译失败
                            vcode: this.ruleForm.ecode  // 如果code的类型错误 则编译失败
                        };

                        (this as any).axios.post('garden/login', data,{
                            headers: {  token :(this as any).$store.state.token  }
                        }).then((e: any) => {
                            console.log('登陆成功',e);
                            if(e.data.success){
                                let d:any = e.data.msg;
                                store.dispatch('setUserIdAction',d.id); // 修改用户id
                                store.dispatch('setUserNameAction',d.name); // 修改用户名
                                store.dispatch('setTokenAction',d.token); // 修改登录用户 的 Token
                                let arr:any = JSON.parse(JSON.stringify(d.menu)),arr1:any=[];
                                let Obj:any = {
                                    '刷卡机管理':'equipmentmanage',
                                    '考勤管理':'checkonmmanage',
                                    '信息统计':'infomationmanage',
                                    '师生管理':'peoplemanage',
                                    '微信内容管理':'wxmanage',
                                    '电子班牌':'classcardmanage',
                                    '户外区角':'librarymanage',
                                    '图书馆':'booksmanage'
                                };
                                arr.map((item:any,index:number)=>{
                                    item.routes = Obj[item.label];
                                    item.routesIndex = index;

                                    let ars:any = [];
                                    item.sub.map((val:any)=>{
                                        if(val.show){
                                            ars.push(val);
                                        }
                                    });

                                    item.sub = JSON.parse(JSON.stringify(ars));
                                    arr1.push(item)
                                });
                                // 获取权限
                                store.dispatch('setMenuAction',arr1); // 修改登录用户 的 Token
                                this.getAllMenu(()=>{
                                    console.log(arr[0]);
                                    if( !arr[0]['routes'] ){
                                        (this as any).$message.error('未知的路由');
                                    }else{
                                        // 路由修改
                                        this.$router.push({
                                            path:  arr[0]['routes'],
                                            query:{
                                                type:"0",component:arr[0]['sub'][0]['component']
                                            }
                                        })
                                    }

                                });


                            } else{
                                (this as any).$message.error(e.data.err);
                            }

                        }).then(()=>{
                            loadingInstance.close();
                        })

                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            // 获取所有的权限列表
            getAllMenu(callback:any=null) {
                (this as any).axios.post('garden/menu', {}, {
                    headers: {token: (this as any).$store.state.token}
                }).then((t: any) => {
                    if (t.status == 200) {
                        if (t.data.success) {
                            (this as any).$store.dispatch("setAllPowerMenuAction", t.data.msg)
                            console.log('所有的权限列表',t.data.msg);
                            callback && callback();
                        }
                    }
                }).catch((err: any) => {
                    console.log(err)
                })
            },
            resetForm(formName:any) {
                (this as any).$refs[formName].resetFields();
            },
            // Login(){
            //     const store = (this as any).$store;
            //     store.dispatch('setUserNameAction','管理员'); // 修改用户名
            //     store.dispatch('setPowerAction','0'); // 修改登录用户 的 权限
            //     store.dispatch('setTokenAction','TeA165ad3e1'); // 修改登录用户 的 Token
            //     // 路由修改
            //     this.$router.push({
            //         path: "Index",
            //         query:{
            //             type:"1"
            //         }
            //     })
            // }
        }
    })
</script>

<style lang="less" scoped>
    .loginBox{
        position: fixed;left: 0;right: 0;top:0;bottom: 0;margin: auto;width:453px;height: 518px;
        background: url("../assets/background.png");background-size: 100% 100%;
        .ecode{
            position: absolute;right: 30px;top:0;bottom: 0;margin-top: auto;margin-bottom: auto;
        }
    }
.demo-ruleForm{
    width: 85%;margin: 120px 0 0 0;
}
    .submit{
        color: #fff;
    }
</style>