<template>
    <div>
        <el-collapse v-model="activeName" accordion>
            <el-collapse-item :title="item.label" class="tabBox" v-for="(item,index) in newMenu" :key="index" :name="index" >
                <div class="tabInfo" v-for="(val,i) in item.sub" :key="index+'/'+i" @click="goUrl(val,i,item,index)">{{val.label}}</div>
            </el-collapse-item>
        </el-collapse>
    </div>
</template>

<script lang="ts">
    import { defineComponent
        /*,getCurrentInstance*/
    } from 'vue';
    import {  mapState } from 'vuex'
    export default defineComponent({
        name: "Aside",
        data() {
            return {
                activeName: '1',
                newMenu:[]
            }
        },
        mounted() {
            // console.log('menu---------',(this as any).$store.state.menu)
            // 处理menu
            let arr:any = [];
            (this as any).$store.state.menu.map((item:any)=>{
                let as:any = item.sub,as1:any=[];
                item.sub =  [];
                as.map((val:any)=>{
                    if(val.label){
                        as1.push(val);
                    }
                });
                item.sub = [...as1];
                // if(item.sub[0].label){
                    arr.push(item)
                // }
            });
            this.newMenu = arr;
        },
        computed: {
            ...mapState({
                menu: (state:any) => state.menu
            }),
        },
        methods: {
            goUrl(val:any,type:string,item:any,routesIndex:number){
                // 路由修改
                // this.$router.push({
                //     path: '/' + item.sub[0].component + '/list',
                //     query:{
                //         type
                //     }
                // })
                this.$router.push({
                    path: '/' + item.routes,
                    query:{
                        type,
                        component:val.component,
                        routesIndex
                    }
                })
            }
        }
    })
</script>

<style lang="less" scoped>
.Login{
    margin: 50px auto;
}
.tabBox{
    background: #fff;
}
.tabInfo{
    text-align: left;margin-left: 30px;cursor: pointer;height: 40px;line-height: 40px;border-bottom: 1px solid #E4E7ED;
}
.tabInfo:last-child{
    border-bottom: none;
}
</style>