<template>
    <div class="rich-text-and-view">
<!--        {{postForm.content}}-->
        <el-row :gutter="24">
            <el-col :span="12" style="min-width: 760px;">
                <Tinymce ref="editor" v-model:value="postForm.content" :height="600"/>
            </el-col>
<!--            <el-col :span="12">-->
<!--                <iPhone :res="postForm.content" />-->
<!--            </el-col>-->
        </el-row>
        <el-button type="primary" class="updateBtn" size="small" @click="sureupdate()">确定修改</el-button>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive,ref} from 'vue';
    // import {fileHost, areaList} from "@/utils/utils"
    import Tinymce from "@/components/Tinymce/index.vue"
    // import iPhone from '@/components/iPhone/index.vue'
    const validURL = (val:any='') => {return val};
    export default defineComponent({
        name: "deviceCard",
        components: {Tinymce },
        setup() {

            const validateRequire = (rule:any, value:any, callback:any) => {
                if (value === '') {
                    (this as any).$message.error(rule.field + '为必传项');
                    callback(new Error(rule.field + '为必传项'))
                } else {
                    callback()
                }
            }
            const validateSourceUri = (rule:any, value:any, callback:any) => {
                if (value) {
                    if (validURL(value)) {
                        callback()
                    } else {
                        (this as any).$message.error('外链url填写不正确');
                        callback(new Error('外链url填写不正确'))
                    }
                } else {
                    callback()
                }
            }
            const content = ref<string> ('');
            return reactive({
                type: '',
                component: 'device_card',
                postForm: {
                    status: 'draft',
                    title: '', // 文章题目
                    content, // 文章内容
                    content_short: '', // 文章摘要
                    source_uri: '', // 文章外链
                    image_uri: '', // 文章图片
                    display_time: undefined, // 前台展示时间
                    id: undefined,
                    platforms: ['a-platform'],
                    comment_disabled: false,
                    importance: 0
                },
                loading: false,
                userListOptions: [],
                rules: {
                    image_uri: [{ validator: validateRequire }],
                    title: [{ validator: validateRequire }],
                    content: [{ validator: validateRequire }],
                    source_uri: [{ validator: validateSourceUri, trigger: 'blur' }]
                },
                tempRoute: {}
            })
        },
        data() {
            return {}
        },
        computed: {
            contentShortLength() {
                return (this as any).postForm.content_short.length
            },
            lang() {
                return 'zh-cn'
            },
            displayTime: {
                // set and get is useful when the data
                // returned by the back end api is different from the front end
                // back end return => "2013-06-25 06:59:25"
                // front end need timestamp => 1372114765000
                get() {
                    return (+new Date((this as any).postForm.display_time))
                },
                set(val) {
                    (this as any).postForm.display_time = new Date(val)
                }
            }
        },
        mounted() {
            (this as any).getData();
        },
        watch: {
            $route() {
                (this as any).type = (this as any).$route.query.type;
                (this as any).component = (this as any).$route.query.component;
            },
            component() {
                if ((this as any).component == 'mp_introduce') {
                    (this as any).getData();
                }
            }
        },
        created() {
            // if (this.isEdit) {
            //     const id = this.$route.params && this.$route.params.id
            //     this.fetchData(id)
            // }

            // Why need to make a copy of this.$route here?
            // Because if you enter this page and quickly switch tag, may be in the execution of the setTagsViewTitle function, this.$route is no longer pointing to the current page
            // https://github.com/PanJiaChen/vue-element-admin/issues/1221
            // this.tempRoute = Object.assign({}, this.$route)
        },
        methods: {

            sureupdate(){
                let that:any = this as any;
                console.log(that.postForm);

                (this as any).axios.post('garden/mp_introduce/design', {msg:that.postForm.content}, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        if (d.success) {
                            that.$message.success('编辑成功');
                            that.getData()
                        }else{
                            that.$message.error(e.data.err);
                        }
                    }
                })
            },
            getData() {

                let that:any = this as any;
                (this as any).axios.post('garden/mp_introduce/get', {}, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        if (d.success) {
                            that.postForm.content = d.msg;
                            console.log(12);
                            console.log(that.postForm)

                        }else{
                            that.$message.error(e.data.err);
                          (this as any).$store.dispatch('loginOut', '').then(() => {
                            (this as any).$router.replace("/")
                          })
                        }
                    }
                }).then((response:any) => {
                    // this.postForm = Object.assign({},response.data)

                    // // just for test
                    // this.postForm.title += `   Article Id:${this.postForm.id}`
                    // this.postForm.content_short += `   Article Id:${this.postForm.id}`

                }).catch((err:any) => {
                    console.log(err)
                })
            },
            submitForm() {
                (this as any).$refs.postForm.validate((valid:any) => {
                    if (valid) {
                        (this as any).loading = true;

                        (this as any).$message.success('成功');
                        (this as any).postForm.status = 'published';
                        (this as any).loading = false
                    } else {
                        console.log('error submit!!')
                        return false
                    }
                })
            },
            draftForm() {
                if ((this as any).postForm.content.length === 0 || (this as any).postForm.title.length === 0) {
                    (this as any).$message.error('请填写必要的标题和内容');
                    return
                }
                (this as any).$message.success('成功');
                (this as any).postForm.status = 'draft'
            },
        }
    })
</script>

<style lang="less" scoped>
    .updateBtn{
        text-align: left;margin: 20px 0;float: left;
    }
    .rich-text-and-view {
        position: relative;
        width: calc(100% - 20px);
        height: calc(100%);
        margin: 0 auto;
    }
</style>