<template>
    <div>
        <div class="tabBox">
            <el-tabs v-model="type" type="card" @tab-click="handleClick" class="tabsInfo">
                <el-tab-pane :label="item.label" :name="index.toString()" v-for="(item,index) in menuInfo" :key="index"></el-tab-pane>
            </el-tabs>
        </div>
        <div class="table1">
            <DeviceCard v-if="component==='mp_introduce'"></DeviceCard>
            <MpImg v-if="component==='mp_img'"></MpImg>
            <MpNotice v-if="component==='mp_notice'"></MpNotice>
<!--            资MpInformation讯-->
            <MpInformation  v-if="component==='mp_information'"></MpInformation>
<!--            食谱-->
            <MpRecipe  v-if="component==='mp_recipe_pc'"></MpRecipe>
            <div v-if="component === 'mp_recipe_wx'">
                请去微信修改
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent,reactive} from 'vue';
    import DeviceCard from './deviceCard.vue'
    import MpImg  from "./schoolBanner.vue"
    import MpNotice  from "./mpNotice.vue"
    import MpRecipe  from "./mpRecipe.vue"
    import MpInformation  from "./mpInformation.vue"
    export default defineComponent({
        name: "equipmentmanage",
        components:{  DeviceCard, MpImg, MpNotice, MpRecipe ,MpInformation},
        setup() {
            return reactive({
                type:'',
                component:'device_card',
                menuInfo:[],
            })
        },
        data(){
            return {     }
        },
        mounted() {
            this.menuInfo = (this as any).$store.state.menu[(this as any).$route.query.routesIndex || 0]['sub'];
            this.type = (this as any).$route.query.type.toString();
            this.component = (this as any).$route.query.component.toString();
        },
        watch:{
            $route(){
                (this as any).type= (this as any).$route.query.type;
                (this as any).component= (this as any).$route.query.component;
            },
            component() {

            }
        },
        methods: {
            handleClick(tab:any) {
                this.$router.push({
                    query:{
                        type: tab.index,
                        component: this.menuInfo[tab.index]['component']
                    }
                })
            },
        }
    })
</script>

<style lang="less" scoped>
    .table1 {
        overflow-y: auto;
        height: calc(100% - 65px);
        width: 100%;
        margin: 0 auto;
        .tableBox{
            line-height: 35px;overflow: inherit;
        }
        .pagin{
            line-height: 35px;margin-top: 10px;
        }
    }
</style>