<template>
    <div>
        <div class="head">
            <div class="left">
                <el-select v-model="query.type" placeholder="类型" size="small" class="selectBox" clearable
                           style="width:120px;margin-left: 10px">
                    <el-option label="学校通知" value="0"></el-option>
                    <el-option label="班级通知" value="1"></el-option>
                </el-select>
                <el-button type="primary" class="search" size="small" @click="getData('1')">搜索</el-button>
            </div>

            <div class="right">
                <el-button type="primary" size="small" class="add" @click="showDialog()">添加</el-button>
            </div>
        </div>
        <!--        banner管理-->
        <div class="table">
            <el-table :data="tableData" border style="width: 100%" class="tableBox" v-loading="loadings">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column :resizable="false" prop="title" label="标题" ></el-table-column>
                <el-table-column :resizable="false" prop="msg" label="内容" ></el-table-column>
                <el-table-column :resizable="false" prop="intime" label="编辑时间"></el-table-column>
                <!-- <el-table-column :resizable="false" label="编辑" width="170">
                    <template #default="scope">
                        <el-button size="mini" @click="showDialog( scope.row)">编辑</el-button>
                        <el-popconfirm
                                confirmButtonText='好的'
                                cancelButtonText='不用了'
                                @confirm="del(scope.$index, scope.row)"
                                icon="el-icon-info"
                                iconColor="red"
                                title="这是一段内容确定删除吗？"
                        >
                            <template #reference>
                                <el-button size="mini" type="danger">删除</el-button>
                            </template>
                        </el-popconfirm>
                    </template>

                </el-table-column> -->
            </el-table>
            <el-pagination
                    class="pagin"
                    background
                    layout="prev, pager, next"
                    :total="total" @current-change="pagechange">
            </el-pagination>
        </div>
        <!--        添加/编辑-->
        <el-drawer
                :title="id?'编辑通知':'添加通知'"
                :size="'40%'"
                v-model="dialogFormVisible"
                :direction="'rtl'"
                :before-close="handleClose" destroy-on-close>
            <div class="edit" v-if="dialogFormVisible">
                <el-form ref="from" :model="d" label-width="80px" @close="closeDialog()" style="width:96%;">
                    <el-form-item label="标题" prop="title" :rules="[ { required: true, message: '标题不能为空'} ]">
                        <el-input v-model="d.title" autocomplete="off" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="介绍" prop="msg">
                        <el-input v-model="d.msg" autocomplete="off" type="textarea" ></el-input>
                    </el-form-item>
                    <el-form-item label="图片">
                        <div>
                            <el-upload :action="uploadHost" list-type="picture-card"
                                       :auto-upload="true" style="float: left" :on-success="imgSuc"
                                       :file-list="fileList">
                                <template #default>
                                    <i class="el-icon-plus"></i>
                                </template>
                                <template #file="{file}">
                                    <div>
                                        <img class="el-upload-list__item-thumbnail" :src="file.url" alt=""/>
                                        <span class="el-upload-list__item-actions">
                                          <span class="el-upload-list__item-preview"
                                                @click="handlePictureCardPreview(file)">
                                            <i class="el-icon-zoom-in"></i>
                                          </span>
                                          <span v-if="!disabled" class="el-upload-list__item-delete"
                                                @click="handleDownload(file)">
                                            <i class="el-icon-download"></i>
                                          </span>
                                          <span v-if="!disabled" class="el-upload-list__item-delete"
                                                @click="handleRemove(file)">
                                            <i class="el-icon-delete"></i>
                                          </span>
                                        </span>
                                    </div>
                                </template>
                            </el-upload>
                            <el-dialog v-model="dialogVisible">
                                <img width="100%" :src="dialogImageUrl" alt="">
                            </el-dialog>
                        </div>
                    </el-form-item>

                    <el-form-item>
                        <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                            <el-button @click="closeDialog()">取 消</el-button>
                            <el-button type="primary" v-if="id==''" @click="submitForm('from')">确 定</el-button>
                        </div>
                    </el-form-item>
                </el-form>
            </div>
        </el-drawer>

    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import {fileHost,beforeUpload, uploadHost} from "@/utils/utils";
    import { ElLoading } from 'element-plus'

    export default defineComponent({
        name: "banner",
        setup() {
            return reactive({
                loadings:false,
                component: 'banner',
                query: {
                    type: '',
                    currentpage: '1',
                    pagesize: '10'
                },
                total: '1',
                tableData: [],
                dialogFormVisible: false,
                id: "",
                d: {
                    title: '',
                    msg: '',
                    imgs: [],
                },
                fileList: [
                    // {name: 'food.jpeg', url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'},
                ]
            })
        },
        data() {
            return {
                beforeUpload:beforeUpload(),
                fileHost: fileHost(),
                uploadHost: uploadHost(),
                type: '0',
                labelPosition: 'right',
                disabled: false,
                parArr:{
                    '1': '/pages/center/articleList/articleItem',
                    '2': '/pages/center/myIssue/issueItem',
                    '3': '/pages/center/activityList/activityItem',
                }

            }
        },
        mounted() {
            this.getData();
        },
        watch: {
            $route() {
                (this as any).type = (this as any).$route.query.type;
                (this as any).component = (this as any).$route.query.component;
            },
            component() {
                if (this.component == "banner") {
                    this.getData();
                }
            }
        },
        methods: {
            del(){
                
            },
            imgRev(){
                this.fileList = JSON.parse('[]');

                this.tableData = []
            },
            imgSuc(response: any) {
                (this as any).d.imgs.push(response.filename);
                let ob: any = {
                name: "", url: this.beforeUpload + 'upload/' + response.filename
                };
                (this as any).fileList.push(ob)
            },
            // imgSuc(response:any){
            //     // 解析文件
            //     (this as any).axios.post('garden/xlsImport', {
            //         filename:response.filename
            //     },{
            //         headers: {  token :(this as any).$store.state.token }
            //     }).then((e:any)=>{
            //         if(e.status === 200){
            //             if(e.data.success){
            //                 console.log(e.data.msg);
            //                 let d:any = e.data.msg;
            //                 this.tableData = d.list.splice(1);
            //             }else{
            //                 (this as any).$message.error(e.data.err);
            //             }

            //         }
            //     })
            // },
            onPre(file:any){
                console.log(file);
            },
            handleClose(done: any) {
                (this as any).$confirm('确认关闭？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.closeDialog();
                    done();
                }).catch(() => {
                });
            },
            // 获取管理员
            getData(currentpage: string = '') {
                this.loadings = true;
                if (currentpage) {
                    this.query.currentpage = '1'
                }
                (this as any).axios.post('garden/mp_notice/list', this.query , {
                    headers: {
                        token: (this as any).$store.state.token
                    }
                }).then((e: any) => {
                    this.loadings = false;
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        if (d.success) {
                            let arr:any = JSON.parse(JSON.stringify(d.msg.list));
                            arr.map((item:any) => {
                                if(item.state === '1'){ // 1正常 0停用
                                    item.stateFlag = true
                                } else {
                                    item.stateFlag = false
                                }
                            });
                            this.total = d.msg.count;
                            console.log(arr)
                            this.tableData  = arr;
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },

            closeDialog() {
                this.dialogFormVisible = false;
                this.id = '';
                let d: any = {
                    title: '',
                    msg: '',
                    imgs: [],
                };
                this.fileList = [];
                this.d = Object.assign({}, d);
            },
            handleRemove(file:any) {
                let arr:any = this.fileList.concat(), arr1:any=[];
                arr.map((item:any)=>{
                    if(file.url.indexOf(item.url)<0) {
                        arr1.push(item);
                    }
                });
                this.fileList = arr1
            },
            pagechange(val: string) {
                this.query.currentpage = val.toString();
                this.getData()
            },
            showDialog(row: any = undefined) {
                this.dialogFormVisible = true;
                if(row){
                    this.id = row.id;
                }
                if ( row ) {
                    (this as any).axios.post("garden/mp_notice/get", {notice_id: row.notice_id}, {
                        headers: {token: (this as any).$store.state.token}
                    }).then((t: any) => {
                        console.log(t.data)
                        if (t.status == 200) {
                            let data:any = t.data.msg;
                            if(t.data.success){
                                let arr:Array<Object> = [];
                                let ars:any = data.imgs.split(",");
                                ars.map((item:any)=>{
                                   let ob:any = {
                                       name:"",url: fileHost() + 'noticeimg/'+ item
                                   } ;
                                    arr.push(ob);
                                });

                                let d:any = {
                                    title: data.title,
                                    msg: data.msg,
                                }
                                this.d = Object.assign({},d);
                                this.fileList = JSON.parse(JSON.stringify(arr));
                            }else{
                                (this as any).$message.error(t.data.err);
                            }
                        } else {
                            (this as any).$message.error(t.data.err);
                        }
                    } )
                }
            },
            submitForm(formName: any) {
                (this as any).$refs[formName].validate((valid: Boolean) => {
                    if (valid) {
                        const loading:any = (ElLoading as any).service({lock: true,text: '添加中，请稍等...',background: 'rgba(0, 0, 0, 0.7)',});
                        let data: any = {
                            ...this.d,
                        };
                        if (this.id) {
                            data.id = this.id;
                        }
                        console.log(data);
                        data.imgs = data.imgs.toString();
                        // return
                        (this as any).axios.post('garden/mp_notice/design', data, {
                            headers: {token: (this as any).$store.state.token}
                        }).then((t: any) => {
                            loading.close()
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.dialogFormVisible = false;
                                    this.getData('1');
                                    (this as any).$message.success('成功');
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        }).catch((err:any)=>{
                            loading.close()
                        })
                    } else {
                        return false;
                    }
                });
            }

        }
    })
</script>

<style lang="less" scoped>
    .search{
        margin-left: 10px;
    }
    .tabBox {
        width: 100%;
        height: 35px;
        padding-top: 10px;

        .tabsInfo {
        }
    }

    .updatePass {
        width: 100%;
        margin-top: 20px;

        .updatePassFrom {
            width: 600px;
            margin: 0 auto;
        }
    }

    .head {
        overflow: hidden;
        height: 35px;
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        line-height: 35px;
        font-size: @--font-size;

        .left {
            width: 80%;
            height: 100%;
            float: left;
            text-align: left;

            .sarchInput {
                width: 200px;
                height: 100%;
                line-height: 35px;
                margin-right: 10px;
            }

            .sarchInput:nth-of-type(1) {
                margin-left: 10px;
            }
        }

        .right {
            width: 20%;
            height: 100%;
            float: right;
            text-align: right;

            .add {
                margin-right: 10px;
            }
        }
    }

    .table {
        overflow: inherit;
        height: calc(100% - 115px);
        width: calc(100% - 20px);
        /*background: #2c3e50;*/
        margin: 0 auto;

        .tableBox {
            line-height: 35px;
            overflow: inherit;
        }

        .pagin {
            line-height: 35px;
            margin-top: 10px;
        }
    }

    .edit {
        .authorityItem {
            padding-bottom: 10px;
            line-height: 0;
            text-align: left;
        }

        .authorityGroup {
            padding-left: 30px;
        }
    }
</style>