<template>
    <div>
        <div class="head">
            <div class="left">
<!--                <el-select v-model="query.type" placeholder="类型" size="small" class="selectBox" clearable-->
<!--                           style="width:120px;margin-left: 10px">-->
<!--                    <el-option label="学校通知" value="0"></el-option>-->
<!--                    <el-option label="班级通知" value="1"></el-option>-->
<!--                </el-select>-->
                <el-button type="primary" class="search" size="small" @click="getData('1')">搜索</el-button>
            </div>

            <div class="right">
                <el-button type="primary" size="small" class="add" @click="showDialog()">添加</el-button>
            </div>
        </div>
        <!--        banner管理-->
        <div class="table">
            <el-table :data="tableData" border style="width: 100%" class="tableBox" v-loading="loadings">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column :resizable="false" prop="title" label="标题" ></el-table-column>
                <el-table-column :resizable="false" prop="msg" label="内容" >
                    <template #default="scope">
                        <div v-html="scope.row.msg"></div>
                    </template>
                </el-table-column>
                <el-table-column :resizable="false" prop="visits" label="浏览量" width="170"></el-table-column>
                <el-table-column :resizable="false" label="编辑" width="170">

                    <template #default="scope">
                        <el-button size="small" @click="showDialog( scope.row)">编辑</el-button>
                        <el-popconfirm
                                confirmButtonText='好的'
                                cancelButtonText='不用了'
                                @confirm="del( scope.row )"
                                icon="el-icon-info"
                                iconColor="red"
                                title="这是一段内容确定删除吗？"
                        >
                            <template #reference>
                                <el-button size="small" type="danger">删除</el-button>
                            </template>
                        </el-popconfirm>
                    </template>

                </el-table-column>
            </el-table>
            <el-pagination
                    class="pagin"
                    background
                    layout="prev, pager, next"
                    :total="total" @current-change="pagechange">
            </el-pagination>
        </div>
        <!--        添加/编辑-->
        <el-drawer
                :title="id?'编辑通知':'添加通知'"
                :size="'40%'"
                v-model="dialogFormVisible"
                :direction="'rtl'"
                :before-close="handleClose" destroy-on-close>
            <div class="edit" v-if="dialogFormVisible">
                <el-form ref="from" :model="d" label-width="80px" @close="closeDialog()" style="width:96%;">
                    <el-form-item label="标题" prop="title" :rules="[ { required: true, message: '标题不能为空'} ]">
                        <el-input v-model="d.title" autocomplete="off" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="内容">
                        <div>
                            <Tinymce ref="editor" v-model:value="d.msg" :height="300" :urlStr="'recipeimg'"/>
                        </div>
                    </el-form-item>

                    <el-form-item>
                        <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                            <el-button @click="closeDialog()">取 消</el-button>
                            <el-button type="primary" @click="submitForm('from')">确 定</el-button>
                        </div>
                    </el-form-item>
                </el-form>
            </div>

        </el-drawer>


    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import {fileHost, uploadHost} from "@/utils/utils";

    // import {fileHost, areaList} from "@/utils/utils"
    import Tinymce from "@/components/Tinymce/index.vue"
    export default defineComponent({
        name: "banner",
        components:{Tinymce},
        setup() {
            return reactive({
                loadings:false,
                component: 'banner',
                query: {
                    type: '',
                    currentpage: '1',
                    pagesize: '10'
                },
                total: '1',
                tableData: [],
                dialogFormVisible: false,
                id: "",
                d: {
                    recipe_id:0,
                    title: '',
                    msg: '',
                    imgs: '',
                },
                fileList: [
                    // {name: 'food.jpeg', url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'},
                ]
            })
        },
        data() {
            return {
                fileHost: fileHost(),
                uploadHost: uploadHost(),
                type: '0',
                labelPosition: 'right',
                disabled: false,
                parArr:{
                    '1': '/pages/center/articleList/articleItem',
                    '2': '/pages/center/myIssue/issueItem',
                    '3': '/pages/center/activityList/activityItem',
                }

            }
        },
        mounted() {
            this.getData();
        },
        watch: {
            $route() {
                (this as any).type = (this as any).$route.query.type;
                (this as any).component = (this as any).$route.query.component;
            },
            component() {
                if (this.component == "banner") {
                    this.getData();
                }
            }
        },
        methods: {
            // 删除
            del(row: any) {
                console.log(row);
                (this as any).axios.post("garden/mp_recipe_pc/delete", {recipe_id: row.recipe_id}, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        if (e.data.success) {
                            (this as any).$message.success('成功');
                            this.getData()
                        } else {
                            (this as any).$message.error(e.data.err);

                        }
                    }
                })
            },
            imgRev(){
                this.fileList = JSON.parse('[]');
                this.tableData = []
            },
            imgSuc(response:any){
                // 解析文件
                (this as any).axios.post('garden/xlsImport', {
                    filename:response.filename
                },{
                    headers: {  token :(this as any).$store.state.token }
                }).then((e:any)=>{
                    if(e.status === 200){
                        if(e.data.success){
                            console.log(e.data.msg);
                            let d:any = e.data.msg;
                            this.tableData = d.list.splice(1);
                        }else{
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut','').then(()=>{
                                (this as any).$router.replace("/")
                            })
                        }

                    }
                })
            },
            onPre(file:any){
                console.log(file);
            },
            handleClose(done: any) {
                (this as any).$confirm('确认关闭？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.closeDialog();
                    done();
                }).catch(() => {
                });
            },
            // 获取管理员
            getData(currentpage: string = '') {
                this.loadings = true;
                if (currentpage) {
                    this.query.currentpage = '1'
                }
                (this as any).axios.post('garden/mp_recipe_pc/list', this.query , {
                    headers: {
                        token: (this as any).$store.state.token
                    }
                }).then((e: any) => {
                    this.loadings = false;
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        if (d.success) {
                            let arr:any = JSON.parse(JSON.stringify(d.msg.list));
                            arr.map((item:any) => {
                                if(item.state === '1'){ // 1正常 0停用
                                    item.stateFlag = true
                                } else {
                                    item.stateFlag = false
                                }
                            });
                            this.total = d.msg.count;
                            console.log(arr)
                            this.tableData  = arr;
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },

            closeDialog() {
                this.dialogFormVisible = false;
                this.id = '';
                let d: any = {
                    recipe_id:0,
                    msg: "",
                    title: "",
                    visits: "",
                };
                this.d = Object.assign({}, d);
            },
            handleRemove() {
                this.fileList = []
            },
            pagechange(val: string) {
                this.query.currentpage = val.toString();
                this.getData()
            },
            showDialog(row: any = undefined) {
                this.dialogFormVisible = true;
                if ( row ) {
                    (this as any).axios.post("garden/mp_recipe_pc/get", {recipe_id: row.recipe_id}, {
                        headers: {token: (this as any).$store.state.token}
                    }).then((t: any) => {
                        if (t.status == 200) {
                            if(t.data.success){
                                let ds:any = t.data.msg;
                                let d: any = {
                                    recipe_id:row.recipe_id,
                                    msg: ds.msg,
                                    title: ds.title,
                                    visits: ds.visits
                                };
                                this.d = Object.assign({}, d);
                            }else{
                                (this as any).$message.error(t.data.err);
                            }

                        } else {
                            (this as any).$message.error(t.data.err);
                        }
                    } )
                }
            },
            submitForm(formName: any) {
                (this as any).$refs[formName].validate((valid: Boolean) => {
                    if (valid) {
                        let data: any = {
                            ...this.d,
                        };

                        (this as any).axios.post('garden/mp_recipe_pc/design', data, {
                            headers: {token: (this as any).$store.state.token}
                        }).then((t: any) => {
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.closeDialog()
                                    this.getData('1');
                                    (this as any).$message.success('成功');
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        })
                    } else {
                        return false;
                    }
                });
            }

        }
    })
</script>

<style lang="less" scoped>
    .search{
        margin-left: 10px;
    }
    .tabBox {
        width: 100%;
        height: 35px;
        padding-top: 10px;

        .tabsInfo {
        }
    }

    .updatePass {
        width: 100%;
        margin-top: 20px;

        .updatePassFrom {
            width: 600px;
            margin: 0 auto;
        }
    }

    .head {
        height: 35px;
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        line-height: 35px;
        font-size: @--font-size;

        .left {
            width: 80%;
            height: 100%;
            float: left;
            text-align: left;

            .sarchInput {
                width: 200px;
                height: 100%;
                line-height: 35px;
                margin-right: 10px;
            }

            .sarchInput:nth-of-type(1) {
                margin-left: 10px;
            }
        }

        .right {
            width: 20%;
            height: 100%;
            float: right;
            text-align: right;

            .add {
                margin-right: 10px;
            }
        }
    }

    .table {
        overflow: inherit;
        height: calc(100% - 115px);
        width: calc(100% - 20px);
        /*background: #2c3e50;*/
        margin: 0 auto;

        .tableBox {
            line-height: 35px;
            overflow: inherit;
        }

        .pagin {
            line-height: 35px;
            margin-top: 10px;
        }
    }

    .edit {
        .authorityItem {
            padding-bottom: 10px;
            line-height: 0;
            text-align: left;
        }

        .authorityGroup {
            padding-left: 30px;
        }
    }
</style>