<template>
  <div class="rich-text-and-view">
    <el-row :gutter="24">
      <el-col :span="12" style="min-width: 760px;">
        <!--                <Tinymce ref="editor" v-model:value="postForm.content" :height="600"/>-->
        <el-upload :action="uploadHost" :auto-upload="true"
                   :file-list="fileList" :on-success="imgSuc" list-type="picture-card"
                   style="float: left">
          <template #default>
            <i class="el-icon-plus"></i>
          </template>
          <template #file="{file}">
            <div>
              <img :src="file.url" alt="" class="el-upload-list__item-thumbnail"/>
              <span class="el-upload-list__item-actions">
                      <span @click="handleRemove(file)" class="el-upload-list__item-delete">
                        <i class="el-icon-delete"></i>
                      </span>
                    </span>
            </div>
          </template>
        </el-upload>
        <div>
          <el-button @click="sureupdate()" class="updateBtn" size="small" type="primary">确定修改</el-button>
        </div>
      </el-col>
    </el-row>

  </div>
</template>

<script lang="ts">
  import {defineComponent, reactive, ref} from 'vue';
  import {fileHost, beforeUpload,uploadHost} from "@/utils/utils"
  // import Tinymce from "@/components/Tinymce/index.vue"
  const validURL = (val: any = '') => {
    return val
  };
  export default defineComponent({
    name: "deviceCard",
    components: {},
    setup() {

      const validateRequire = (rule: any, value: any, callback: any) => {
        if (value === '') {
          (this as any).$message.error(rule.field + '为必传项');
          callback(new Error(rule.field + '为必传项'))
        } else {
          callback()
        }
      }
      const validateSourceUri = (rule: any, value: any, callback: any) => {
        if (value) {
          if (validURL(value)) {
            callback()
          } else {
            (this as any).$message.error('外链url填写不正确');
            callback(new Error('外链url填写不正确'))
          }
        } else {
          callback()
        }
      }
      const content = ref<string>('');
      return reactive({
        beforeUpload:beforeUpload(),
        uploadHost:uploadHost(),
        fileHost:fileHost(),
        type: '',
        component: 'device_card',
        postForm: {
          status: 'draft',
          title: '', // 文章题目
          content, // 文章内容
          content_short: '', // 文章摘要
          source_uri: '', // 文章外链
          image_uri: '', // 文章图片
          display_time: undefined, // 前台展示时间
          id: undefined,
          platforms: ['a-platform'],
          comment_disabled: false,
          importance: 0
        },
        loading: false,
        userListOptions: [],
        rules: {
          image_uri: [{validator: validateRequire}],
          title: [{validator: validateRequire}],
          content: [{validator: validateRequire}],
          source_uri: [{validator: validateSourceUri, trigger: 'blur'}]
        },
        tempRoute: {},
        fileList:[],
        oldImg:''
      })
    },
    data() {
      return {}
    },
    computed: {
      contentShortLength() {
        return (this as any).postForm.content_short.length
      },
      lang() {
        return 'zh-cn'
      },
      displayTime: {
        get() {
          return (+new Date((this as any).postForm.display_time))
        },
        set(val) {
          (this as any).postForm.display_time = new Date(val)
        }
      }
    },
    mounted() {
      this.getData();
    },
    watch: {
      $route() {
        (this as any).type = (this as any).$route.query.type;
        (this as any).component = (this as any).$route.query.component;
      },
      component() {
        if ((this as any).component == 'mp_img') {
          (this as any).getData();
        }
      }
    },

    methods: {
      handleRemove(res:any) {
        let arr:any = JSON.parse(JSON.stringify(this.fileList)),newArr:any=[];
        arr.map((item:any)=>{
          if(item.url !== res.url){
            newArr.push(item);
          }
        })
        this.fileList = newArr
      },
      imgSuc(response: any) {
        let ob: any = {
          name: "", url: this.beforeUpload + 'upload/' + response.filename
        };
        (this as any).fileList.push(ob)
      },
      sureupdate() {
        let that: any = this;
        const arr:any=[]
        this.fileList.map((item:any)=>{
          let arrs:Array<string> = item.url.split("/");
          arr.push(arrs[arrs.length-1]);
        })
        console.log(arr);
        that.axios.post('garden/mp_img/design', {
          imgs_old: that.oldImg ||'',
          imgs: arr.join(',')
        }, {
          headers: {token: that.$store.state.token}
        }).then((e: any) => {
          if (e.status === 200) {
            let d: any = e.data;
            if (d.success) {
              that.$message.success('编辑成功');
              that.getData()
            } else {
              that.$message.error(e.data.err);
            }
          }
        })
      },
      getData() {
        let that: any = this as any;
        (this as any).axios.post('garden/mp_img/get', {}, {
          headers: {token: (this as any).$store.state.token}
        }).then((e: any) => {
          if (e.status === 200) {
            let d: any = e.data;
            if (d.success) {
              console.log(d);
              that.oldImg = d.msg;
              let arr:any =  d.msg?d.msg.split(","):[],newArr:any=[];
              arr.map((item:any)=>{
                 let o:any = {
                  name: "", url: this.fileHost +'schoolimage/' +item
                }
                newArr.push(o)
              })
              that.fileList = JSON.parse(JSON.stringify(newArr));
            } else {
              that.$message.error(e.data.err);
              (this as any).$store.dispatch('loginOut', '').then(() => {
                (this as any).$router.replace("/")
              })
            }
          }
        }).catch((err: any) => {
          console.log(err)
        })
      },
      submitForm() {
        (this as any).$refs.postForm.validate((valid: any) => {
          if (valid) {
            (this as any).loading = true;

            (this as any).$message.success('成功');
            (this as any).postForm.status = 'published';
            (this as any).loading = false
          } else {
            console.log('error submit!!')
            return false
          }
        })
      },
      draftForm() {
        if ((this as any).postForm.content.length === 0 || (this as any).postForm.title.length === 0) {
          (this as any).$message.error('请填写必要的标题和内容');
          return
        }
        (this as any).$message.success('成功');
        (this as any).postForm.status = 'draft'
      },
    }
  })
</script>

<style lang="less" scoped>
  .updateBtn {
    text-align: left;
    margin: 0 20px;
    float: left;
  }

  .rich-text-and-view {
    position: relative;
    width: calc(100% - 20px);
    height: calc(100%);
    margin: 0 auto;
  }
</style>