<template>
    <div>
        <div class="head">
            <div class="left">
<!--                <el-input placeholder="请输入学生姓名" v-model="query.key" class="sarchInput" size="small"-->
<!--                          clearable></el-input>-->
<!--                <el-select v-model="query.class_id" placeholder="请选择班级" style="width:120px" size="small" class="selectBox" clearable>-->
<!--                    <el-option-->
<!--                            v-for="item in classData"-->
<!--                            :key="item.class_id"-->
<!--                            :label="item.class_name"-->
<!--                            :value="item.class_id"></el-option>-->
<!--                </el-select>-->
<!--                <el-date-picker-->
<!--                        v-model="query.timeArr"-->
<!--                        type="daterange"-->
<!--                        size="small"-->
<!--                        :shortcuts="shortcuts"-->
<!--                        range-separator="至"-->
<!--                        start-placeholder="开始日期"-->
<!--                        end-placeholder="结束日期"-->
<!--                        :clearable="false"-->
<!--                        align="right" style="margin-left: 10px;width:250px">-->
<!--                </el-date-picker>-->
                <el-button type="primary" class="search" size="small" @click="getData('1')">搜索</el-button>
                <!--                <el-button type="primary" class="search" size="small" @click="exportStu">学生导出</el-button>-->
            </div>
            <div class="right">
                                <el-button type="success" size="small" class="add" @click="showDialog()">添加区角</el-button>
            </div>
        </div>


        <div class="table">
            <el-table :data="tableData" border style="width: 100%" class="tableBox" v-loading="loadings">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column :resizable="false" prop="name" label="区角名称" ></el-table-column>
                <el-table-column :resizable="false" prop="max" label="最大人数" ></el-table-column>

                <el-table-column :resizable="false" label="操作" width="170" >
                    <template #default="scope">
                        <el-button size="small" @click="showDialog(scope.row)">编辑</el-button>
                        <el-popconfirm
                                confirmButtonText='好的'
                                cancelButtonText='不用了'
                                @confirm="del( scope.row)"
                                icon="el-icon-info"
                                iconColor="red"
                                title="这是一段内容确定删除吗？"
                        >
                            <template #reference>
                                <el-button  size="mini" type="danger">删除</el-button>
                            </template>
                        </el-popconfirm>
                    </template>
                </el-table-column>

            </el-table>
            <el-pagination
                    class="pagin"
                    background
                    layout="prev, pager, next"
                    :total="total"
                    :current-page="query.currentpage"
                    @current-change="pagechange"
            >
            </el-pagination>
        </div>

        <el-drawer :title="id?('编辑班级'):('添加班级')" :size="'40%'"  v-model="dialogFormVisible"  :direction="'rtl'" :before-close="handleClose" destroy-on-close>
            <div class="edit">
                <el-form ref="from" :model="d" label-width="80px" @close="closeDialog()" class="commonForm" >
                    <el-form-item label="名称" prop="name" :rules="[ { required: true, message: '名称不能为空'} ]">
                        <el-input v-model="d.name" autocomplete="off" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="最大人数" prop="max" :rules="[ { required: true, message: '最大人数不能为空'} ]">
                        <el-input v-model="d.max" autocomplete="off" clearable></el-input>
                    </el-form-item>

                    <el-form-item>
                        <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                            <el-button @click="closeDialog()"  >取 消</el-button>
                            <el-button type="primary" @click="submitForm('from')" >确 定</el-button>
                        </div>
                    </el-form-item>
                </el-form>
            </div>
        </el-drawer>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import { shortcuts } from '@/utils/utils.ts'
    export default defineComponent({
        name: "deviceCard",
        setup() {
            return reactive({
                dialogFormVisible:false,
                type: '',
                component: 'device_card',
                classData:[],
                shortcuts: shortcuts(),
                query:{
                    key:"",
                    class_id:'',
                    currentpage:'1',
                    pagesize:'10',
                    timeArr: [new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate() - 1), new Date()],

                },
                total:'0',
                tableData:[],
                loadings:false,
                id:'',
                d:{
                    name:'',
                    max:'',
                }
            })
        },
        data() {
            return {}
        },
        mounted() {
            this.getData();
            // this. getClassData();
        },
        watch: {
            $route() {
                (this as any).type = (this as any).$route.query.type;
                (this as any).component = (this as any).$route.query.component;
            },
            component() {
                if (this.component == 'device_card') {
                    this.getData();
                    this.getClassData()
                }
            }
        },
        methods: {
            // 删除
            del(row: any) {
                (this as any).axios.post("garden/outdoors_area/delete", {id: row.id}, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        if (e.data.success) {
                            (this as any).$message.success('成功');
                            this.getData()
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },
            submitForm(formName:string){
                (this as any).$refs[formName].validate((valid:any) => {
                    if(valid){
                        let data:any = Object.assign({},this.d);
                        if(this.id){
                            data.id=this.id;
                        }else{
                            data.id='0'
                        }
                        (this as any).axios.post('garden/outdoors_area/design', data,{
                            headers: {  token :(this as any).$store.state.token }
                        }).then((t:any)=>{
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.closeDialog();
                                    (this as any).$message.success('成功');
                                    this.getData();
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        });
                    }
                })
            },
            showDialog(row: any = undefined) {
                this.dialogFormVisible = true;
                if (row) {
                    this.id = row.id;
                }
                if (this.id !== "") {

                                let d: any = {
                                    name: row.name,
                                    max: row.max
                                };
                                this.d = Object.assign({}, d);

                }
            },
            closeDialog() {
                this.dialogFormVisible = false;
                this.id = '';
                let d: any = {
                    name: '',
                    max:""
                };
                this.d = Object.assign({}, d);
            },
            handleClose(done: any) {
                (this as any).$confirm('确认关闭？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.closeDialog();
                    done();
                }).catch(() => {
                });
            },
            pagechange(val: any) {
                this.query.currentpage = val.toString();
                this.getData()
            },
            getData() {

                (this as any).axios.post('garden/outdoors_area/list', {}, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        if (d.success) {
                            let arr: any = JSON.parse(JSON.stringify(d.msg.list));

                            this.total = d.msg.count;
                            this.tableData = arr;
                        }else{
                            (this as any).$message.error(e.data.err);
                        }
                    }
                })
            },
            getClassData(){
                (this as any).axios.post('garden/class/selectList', {},{ headers: { token :(this as any).$store.state.token }
                }).then((e:any) => {
                    if(e.status === 200){
                        let d:any = e.data;
                        if(d.success){
                            let arr:any = JSON.parse(JSON.stringify(d.msg.list));
                            this.classData  = arr;
                        }else{
                            (this as any).$message.error(e.data.err);
                        }
                    }
                })
            },
        }
    })
</script>

<style lang="less" scoped>
    .tabBox {
        width: 100%;
        height: 35px;
        padding-top: 10px;

        .tabsInfo {
        }
    }

    .head {
        /*height: 35px;*/
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        line-height: 35px;
        font-size: @--font-size;

        .selectBox {
            margin:0 10px;
        }

        .left {
            width: 80%;
            height: 100%;
            float: left;
            text-align: left;


            .sarchInput {
                width: 200px;
                height: 100%;
                line-height: 35px;
                margin-left: 10px;float: left;
            }

            .sarchInput:nth-of-type(1) {
                margin-left: 10px;
            }
        }

        .right {
            width: 20%;
            height: 100%;
            float: right;
            text-align: right;

            .add {
                margin-right: 10px;
            }
        }
    }

    .table {
        overflow-y: auto;
        height: calc(100% - 65px);
        width: calc(100% - 20px);
        margin: 0 auto;

        .tableBox {
            line-height: 35px;
            overflow: inherit;
        }

        .pagin {
            line-height: 35px;
            margin-top: 10px;
        }
    }
    .pickClass{
        margin-left: @--margin;
    }
    .search{
        margin-left: 10px;
    }
</style>