<template>
    <div>
        <div class="tabBox">
            <el-tabs v-model="type" type="card" @tab-click="handleClick" class="tabsInfo">
                <el-tab-pane :label="item.label" :name="index.toString()" v-for="(item,index) in menuInfo" :key="index"></el-tab-pane>
            </el-tabs>
        </div>
        <div class="table1" ref="myRef">
            <DeviceCard v-if="component==='outdoors_area'"></DeviceCard>
            <!--            户外区角-->
            <OutdoorStatistics v-if="component==='outdoors_statistics'"></OutdoorStatistics>
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent,reactive , ref  } from 'vue';
    import DeviceCard from './deviceCard.vue'
    import OutdoorStatistics from '../librarymanage/outdoorStatistics.vue'

    export default defineComponent({
        name: "equipmentmanage",
        components:{  DeviceCard ,OutdoorStatistics},
        setup() {
            const myRef = ref(null);

            return reactive({
                myRef,
                type:'',
                component:'',
                menuInfo:[],
            })
        },
        data(){
            return {     }
        },
        mounted() {
            this.menuInfo = (this as any).$store.state.menu[(this as any).$route.query.routesIndex || 0]['sub'];
            this.type = (this as any).$route.query.type.toString();
            this.component = (this as any).$route.query.component.toString();
            (this as any).$store.dispatch('setPHAction', (this as any).myRef.clientHeight); // 修he
        },
        watch:{
            $route(){
                (this as any).type= (this as any).$route.query.type;
                (this as any).component= (this as any).$route.query.component;
            },
            component() {

            }
        },
        methods: {
            handleClick(tab:any) {
                this.$router.push({
                    query:{
                        type: tab.index,
                        component: this.menuInfo[tab.index]['component']
                    }
                })
            },
        }
    })
</script>

<style lang="less" scoped>
    .table1 {
        overflow-y: auto;
        height: calc(100% - 65px);
        width: 100%;
        margin: 0 auto;
        .tableBox{
            line-height: 35px;overflow: inherit;
        }
        .pagin{
            line-height: 35px;margin-top: 10px;
        }
    }
</style>