<template>
    <div>
        <div class="head" v-show="groupType===''">
            <div class="left">
                <i class="el-icon-back"
                   style="font-size: 25px;cursor:pointer;margin-left: 10px;float: left;display: block"
                   @click="back"></i>
                <el-date-picker
                        v-model="query.timeArr"
                        type="daterange"
                        size="small"
                        :shortcuts="shortcuts"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        :clearable="false"
                        align="right" style="margin-left: 10px;width:250px">
                </el-date-picker>

                <el-button type="primary" class="searchBtn" size="small" @click="getData()">搜索</el-button>
            </div>
            <div class="right">
            </div>
        </div>
        <div class="table" v-show="groupType===''">
            <el-table :data="tableData" border style="width: 100%" class="tableBox">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column   :resizable="false" prop="title" label="标题" width="140"></el-table-column>
                <el-table-column   :resizable="false" prop="visits" label="访问量"></el-table-column>
                <el-table-column   :resizable="false" prop="intime" label="发布时间"></el-table-column>
            </el-table>
            <el-pagination
                    class="pagin"
                    background
                    layout="prev, pager, next"
                    :total="total"
                    :current-page="query.currentpage"
                    @current-change="pagechange"
            >
            </el-pagination>
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import {formatDate, shortcuts} from "@/utils/utils"

    export default defineComponent({
        name: "activityDetail",
        setup() {
            return reactive({
                shortcuts: shortcuts(),
                query: {
                    class_id: '', // 学校名称或者id
                    teacher_id: '', // 用户状态 1 正常 0 停用
                    starttime: '',
                    endtime: '',
                    currentpage: '1',
                    pagesize: '10',
                    timeArr: [new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate() - 1), new Date()],
                },
                total: '1',
                tableData: [],
                menuInfo: [],
                dialogFormVisible: false,
                d: {
                    isEdit: '',
                    school_id: '',
                    group_id: '',
                    group_name: '',
                    msg: '',
                }
            })
        },
        data() {
            return {
                groupType: '', // class teacher student
                groupId: '', // class teacher student
            }
        },
        props: {
            class_id: {
                type: String,   // 我们接收验证的是字符串 也可以验证别的类型
                default: ""
            },
            teacher_id: {
                type: String,   // 我们接收验证的是字符串 也可以验证别的类型
                default: ""
            },
            timeArr: {
                type: String,   // 我们接收验证的是字符串 也可以验证别的类型
                default: ''
            },
        },
        mounted() {
            this.query.timeArr = JSON.parse(this.timeArr);
            this.getData();

        },
        methods: {
            back() {
                this.$emit('back', '1')
            },
            toUrl(val: any) {
                this.toGroup(val.row, val.type);
            },
            toGroup(row: any, type: string) {
                console.log(row);
                this.groupType = type;
                this.groupId = row.group_id;

            },
            pagechange(val: any) {
                this.query.currentpage = val.toString();
                this.getData()
            },
            childBack(val: string) {
                this.groupType = val;
            },

            submitForm(formName: string) {
                (this as any).$refs[formName].validate((valid: any) => {
                    if (valid) {
                        let data: any = Object.assign({}, this.d);
                        (this as any).axios.post('garden/school_group/design', data, {
                            headers: {token: (this as any).$store.state.token}
                        }).then((t: any) => {
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.closeDialog();
                                    (this as any).$message.success('成功');
                                    this.getData();
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        });
                    }
                })
            },
            handleClose(done: any) {
                (this as any).$confirm('确认关闭？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.closeDialog();
                    done();
                }).catch(() => {
                });
            },
            closeDialog() {
                this.dialogFormVisible = false;
                let d: any = {
                    isEdit: '',
                    school_id: '',
                    group_id: '',
                    group_name: '',
                    msg: '',
                };
                this.d = Object.assign({}, d);
            },

            getData(currentpage: string = '') {
                if (currentpage) {
                    this.query.currentpage = '1'
                }
                let data: any = Object.assign({}, this.query);
                data.endtime = formatDate(data.timeArr[1]);
                data.starttime = formatDate(data.timeArr[0]);
                data.class_id = this.class_id;
                data.teacher_id = this.teacher_id;
                (this as any).axios.post('garden/statistics_activity/detail', data, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        if (d.success) {
                            let arr: any = JSON.parse(JSON.stringify(d.msg.list));
                            this.tableData = arr;
                            this.total = d.msg.count;
                        }
                    }
                })
            },
        }
    })
</script>

<style lang="less" scoped>
    .tabBox {
        width: 100%;
        height: 35px;
        padding-top: 10px;

        .tabsInfo {
        }
    }

    .head {
        /*height: 35px;*/
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        line-height: 35px;
        font-size: @--font-size;

        .selectBox {
            margin-right: 10px;
        }

        .left {
            width: 80%;
            height: 100%;
            float: left;
            text-align: left;

            .sarchInput {
                width: 200px;
                height: 100%;
                line-height: 35px;
                margin-right: 10px;
            }

            .sarchInput:nth-of-type(1) {
                margin-left: 10px;
            }
        }

        .right {
            width: 20%;
            height: 100%;
            float: right;
            text-align: right;

            .add {
                margin-right: 10px;
            }
        }
    }

    .table {
        overflow-y: auto;
        height: calc(100% - 65px);
        width: calc(100% - 20px);
        margin: 0 auto;

        .tableBox {
            line-height: 35px;
            overflow: inherit;
        }

        .pagin {
            line-height: 35px;
            margin-top: 10px;
        }
    }

</style>