<template>
    <div>
        <div class="1">
            <div class="head">
                <div class="left">
                    <i class="el-icon-refresh" @click="getData()"></i>
                    <el-date-picker v-model="query.day" type="date" size="small" value-format="yyyy-MM-dd" placeholder="日期" style="margin-left:10px;"></el-date-picker>
                    <el-select v-model="query.status" placeholder="健康码状态" size="small" style="margin-left:10px;" clearable>
                        <el-option label="绿码" :value="'0'"></el-option>
                        <el-option label="黄码" :value="'2'"></el-option>
                        <el-option label="红码" value="3"></el-option>
                    </el-select>
                    <el-input placeholder="请输入姓名或身份证" v-model="query.key" size="small" class="sarchInput" clearable></el-input>
                    <el-button type="primary" size="small" @click="getData('1')" style="margin-left:10px;">搜索</el-button>
                </div>
            </div>
            <div class="table">
                <el-table :data="tableData" border style="width: 100%" class="tableBox" v-loading="loadings" :height="parentHeight-100">
                    <template #empty>
                        <span style="color: #969799;">没有更多数据</span>
                    </template>
                    <el-table-column :resizable="false" prop="name" label="姓名" width="170"></el-table-column>
                    <el-table-column :resizable="false" prop="status" label="健康码状态" width="170">
                        <template #default="scope">
                            <span :style="{color:statuss[scope.row.status].color,'font-weight':scope.row.status=='0'?400:1000}">{{statuss[scope.row.status].name}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column :resizable="false" prop="idcard" label="卡号"></el-table-column>
                    <el-table-column :resizable="false" prop="class_name" label="班级"></el-table-column>
                    <el-table-column :resizable="false" prop="group_name" label="学校"></el-table-column>
                    <el-table-column :resizable="false" prop="school_name" label="所属组织"></el-table-column>
                    <el-table-column :resizable="false" prop="orgid" label="组织ID"></el-table-column>
                    <el-table-column :resizable="false" prop="err" label="结果"></el-table-column>
                    <el-table-column :resizable="false" prop="intime" label="时间"></el-table-column>
                    
                </el-table>
                <el-pagination
                        class="pagin"
                        background
                        layout="prev, pager, next"
                        :current-page="query.currentpage"
                        :total="total"
                        @current-change="pagechange"
                >
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import {mapState} from "vuex";

    export default defineComponent({
        name: "healthy",
        setup() {
            return reactive({
                query: {
                    key: '', // 身份证或姓名
                    status: '3', // 状态
                    day: '', // 日期
                    currentpage: '1',
                    pagesize: '10'
                },
                total: '1',
                tableData: [],
                statuss: [
                    {id:'0',name:'绿码',color:'#67C23A'},
                    {id:'1',name:'异常',color:'#909399'},
                    {id:'2',name:'黄码',color:'#E6A23C'},
                    {id:'3',name:'红码',color:'#F56C6C'},
                ]
            })
        },
        data() {
            return {
                loadings: true,
            }
        },
        mounted() {
            this.query.day = this.getDate()||'2021-12-01';
            this.getData();

        },
        computed: {
            ...mapState({
                parentHeight: (state:any) => state.parentHeight
            }),
        },
        watch: {
        },
        methods: {
            getDate() {
                let now = new Date();
                let year:any = now.getFullYear();
                let month:any = now.getMonth()+1;
                let date:any = now.getDate();
                if (month < 10) month = "0" + month;
                if (date < 10) date = "0" + date;
                const day = `${year}-${month}-${date}`;
                return day;
            },
            pagechange(val: any) {
                this.query.currentpage = val.toString();
                this.getData()
            },
            getData(currentpage: string = '') {
                this.loadings = true;
                if (currentpage) {
                    this.query.currentpage = '1'
                }
                let data = Object.assign({},this.query);
                (this as any).axios.post('garden/healthy/list', data, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        this.total = '0';
                        if (d.success) {
                            let arr: any = JSON.parse(JSON.stringify(d.msg.list));
                            this.total = d.msg.count;
                            this.tableData = arr;
                        }else{
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut','').then(()=>{
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                    this.loadings = false;
                })
            },
        }
    })
</script>

<style lang="less" scoped>
    .tabBox {
        width: 100%;
        height: 35px;
        padding-top: 10px;

        .tabsInfo {
        }
    }

    .head {
        /*height: 35px;*/
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        line-height: 35px;
        font-size: @--font-size;

        .selectBox {
            margin-left: 10px;
        }

        .left {
            width: 100%;
            height: 100%;
            float: left;
            text-align: left;

            .sarchInput {
                width: 300px;
                height: 100%;
                line-height: 35px;
                margin-left: 10px;
                /*margin-bottom: 10px;*/
                display: block;float: left;
            }

            /*.sarchInput:nth-of-type(1) {*/
            /*    margin-left: 10px;*/
            /*}*/
        }

        .right {
            width: 20%;
            height: 100%;
            float: right;
            text-align: right;

            .add {
                margin-right: 10px;
            }
        }
    }

    .table {
        overflow-y: auto;
        height: calc(100% - 65px);
        width: calc(100% - 20px);
        margin: 0 auto;

        .tableBox {
            line-height: 35px;
            overflow: inherit;
        }

        .pagin {
            line-height: 35px;
            margin-top: 10px;
        }
    }

    .edit {
        .authorityItem {
            padding-bottom: 10px;
            line-height: 0;
            text-align: left;
        }

        .authorityGroup {
            padding-left: 30px;
        }
    }
    .search{
        float: left;margin-left: 10px;
    }
</style>