<template>
    <div>
        <div class="tabBox">
            <el-tabs v-model="type" type="card" @tab-click="handleClick" class="tabsInfo">
                <el-tab-pane :label="item.label" :name="index.toString()" v-for="(item,index) in menuInfo" :key="index"></el-tab-pane>
            </el-tabs>
        </div>
        <div class="table1"  ref="myRef">
<!--            班级通知-->
            <StatisticsNotice v-if="component==='statistics_notice'"></StatisticsNotice>
<!--            班级相册-->
            <StatisticsAlbums v-if="component==='statistics_albums'"></StatisticsAlbums>
<!--            班级活动-->
            <StatisticsActivity v-if="component==='statistics_activity'"></StatisticsActivity>
<!--            家长私信-->
            <MsgActivity v-if="component==='statistics_msg'"></MsgActivity>
<!--            请假情况-->
            <StatisticsLeave v-if="component==='statistics_leave'"></StatisticsLeave>
            <!-- 健康码 -->
            <Healthy v-if="component==='healthy'"></Healthy>
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent,reactive ,ref ,onMounted} from 'vue';
    import StatisticsNotice from './statisticsNotice.vue'
    import StatisticsAlbums from './statisticsAlbums.vue'
    import StatisticsActivity from './statisticsActivity.vue'
    import MsgActivity from './msgActivity.vue'
    import StatisticsLeave from './StatisticsLeave.vue'
    import Healthy from './healthy.vue'

    export default defineComponent({
        name: "infomationmanage",
        components:{  StatisticsNotice,StatisticsAlbums , StatisticsActivity ,MsgActivity,StatisticsLeave,Healthy },
        setup() {
            const myRef = ref(null);
            onMounted(() => {
                console.dir(myRef);
            })
            return reactive({
                myRef,
                type:'',
                component:'device_card',
                menuInfo:[],
            })
        },
        data(){
            return {     }
        },
        mounted() {
            this.menuInfo = (this as any).$store.state.menu[(this as any).$route.query.routesIndex || 0]['sub'];
            this.type = (this as any).$route.query.type.toString();
            this.component = (this as any).$route.query.component.toString();
            (this as any).$store.dispatch('setPHAction', (this as any).myRef.clientHeight); // 修he
        },
        watch:{
            $route(){
                (this as any).type= (this as any).$route.query.type;
                (this as any).component= (this as any).$route.query.component;
            },
            component() {

            }
        },
        methods: {
            handleClick(tab:any) {
                this.$router.push({
                    query:{
                        type: tab.index,
                        component: this.menuInfo[tab.index]['component']
                    }
                })
            },
        }
    })
</script>

<style lang="less" scoped>
    .table1 {
        overflow-y: auto;
        height: calc(100% - 65px);
        width: 100%;
        margin: 0 auto;
        .tableBox{
            line-height: 35px;overflow: inherit;
        }
        .pagin{
            line-height: 35px;margin-top: 10px;
        }
    }
</style>