<template>
    <div>
        <div class="head" v-show="groupType===''">
            <div class="left">
                <i class="el-icon-back" style="font-size: 25px;cursor:pointer;margin-left: 10px;float: left;display: block" @click="back"></i>
                <el-date-picker
                        v-model="query.timeArr"
                        type="daterange"
                        size="small"
                        :shortcuts="shortcuts"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        :clearable="false"
                        align="right" style="margin-left: 10px;width:250px">
                </el-date-picker>

                <el-button type="primary" class="searchBtn" size="small" @click="getData()">搜索</el-button>
            </div>
            <div class="right">
<!--                <el-button type="success" size="small" class="add" @click="showDialog()">添加分园</el-button>-->
            </div>
        </div>
        <div class="table" v-show="groupType===''">
            <el-table :data="tableData" border style="width: 100%" class="tableBox" >
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column :resizable="false" prop="title" label="标题" width="140"></el-table-column>
                <el-table-column :resizable="false" prop="visits" label="访问量"></el-table-column>
                <el-table-column :resizable="false" prop="intime" label="发布时间"></el-table-column>


            </el-table>
            <el-pagination
                    class="pagin"
                    background
                    layout="prev, pager, next"
                    :total="total"
                    :current-page="query.currentpage"
                    @current-change="pagechange"
            >
            </el-pagination>
        </div>
        <!--        分园-->
        <el-drawer :title="d.group_id?('编辑分园'):('添加分园')" :size="'40%'"  v-model="dialogFormVisible"  :direction="'rtl'" :before-close="handleClose" destroy-on-close>
            <div class="edit">
                <el-form ref="from" :model="d" label-width="80px" @close="closeDialog()" class="commonForm" >
                    <el-form-item label="分园名称" prop="group_name" :rules="[ { required: true, message: '分园名称不能为空'} ]">
                        <el-input v-model="d.group_name" autocomplete="off" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="介绍" prop="msg">
                        <el-input v-model="d.msg" autocomplete="off" type="textarea"></el-input>
                    </el-form-item>

                    <el-form-item>
                        <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                            <el-button @click="closeDialog()"  >取 消</el-button>
                            <el-button type="primary" @click="submitForm('from')" >确 定</el-button>
                        </div>
                    </el-form-item>
                </el-form>
            </div>
        </el-drawer>
    </div>
</template>

<script lang="ts">
    import {defineComponent,reactive} from 'vue';
    import {  formatDate , shortcuts } from "@/utils/utils"
    export default defineComponent({
        name: "group",
        setup() {
            return reactive({
                shortcuts:shortcuts(),
                query:{
                    class_id:'', // 学校名称或者id
                    teacher_id:'', // 用户状态 1 正常 0 停用
                    starttime:'',
                    endtime:'',
                    currentpage:'1',
                    pagesize:'10',
                    timeArr: [new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate() - 1), new Date()],
                },
                total:'1',
                tableData: [],
                menuInfo:[],
                dialogFormVisible:false,
                d:{
                    isEdit:'',
                    school_id:'',
                    group_id:'',
                    group_name:'',
                    msg:'',
                }
            })
        },
        data(){
            return {
                groupType:'', // class teacher student
                groupId:'', // class teacher student
            }
        },
        props:{
            class_id:{
                type:String,   // 我们接收验证的是字符串 也可以验证别的类型
                default:""
            },
            teacher_id:{
                type:String,   // 我们接收验证的是字符串 也可以验证别的类型
                default:""
            },
            timeArr:{
                type:String,   // 我们接收验证的是字符串 也可以验证别的类型
                default:''
            },
        },
        mounted() {
             this.query.timeArr = JSON.parse(this.timeArr);
            this.getData();

        },
        methods: {
            back(){
                this.$emit('back','1')
            },
            toUrl(val:any){
                this.toGroup(val.row,val.type);
            },
            toGroup(row:any,type:string){
                console.log(row);
                this.groupType= type;
                this.groupId= row.group_id;

            },
            pagechange(val: any) {
                this.query.currentpage = val.toString();
                this.getData()
            },
            childBack(val:string){
                this.groupType = val;
            },
            changeFlag(row:any){
                (this as any).axios.post('garden/school_group/setstate', {
                    group_id:row.group_id
                },{ headers: { token :(this as any).$store.state.token } }).then(((e:any)=>{
                    console.log(e);
                    if(e.status === 200){
                        if(e.data.success){
                            (this as any).$message.success('成功');
                        }else{
                            (this as any).$message.error(e.data.err);
                        }

                    }
                }))
            },
            submitForm(formName:string){
                (this as any).$refs[formName].validate((valid:any) => {
                    if(valid){
                        let data:any = Object.assign({},this.d);
                        (this as any).axios.post('garden/school_group/design', data,{
                            headers: {  token :(this as any).$store.state.token }
                        }).then((t:any)=>{
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.closeDialog();
                                    (this as any).$message.success('成功');
                                    this.getData();
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        });
                    }
                })
            },
            handleClose(done:any) {
                (this as any).$confirm('确认关闭？','提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.closeDialog();
                    done();
                }).catch(() => {});
            },
            closeDialog(){
                this.dialogFormVisible = false;
                let d:any =  {
                    isEdit:'',
                    school_id:'',
                    group_id:'',
                    group_name:'',
                    msg:'',
                };
                this.d = Object.assign({},d);
            },
            showDialog(row:any=undefined){
                this.dialogFormVisible = true;
                if(row){
                    (this as any).axios.post("garden/school_group/get", { group_id: row.group_id },{
                        headers: {  token :(this as any).$store.state.token  }
                    }).then((t:any)=>{
                        if (t.status == 200) {
                            if (t.data.success) {
                                console.log(t.data.msg)
                                const o:any = t.data.msg;
                                let d:any = {
                                    isEdit:'1',
                                    school_id: '',
                                    group_id:row.group_id,
                                    group_name:o.group_name,
                                    msg:o.msg,
                                };
                                this.d = Object.assign({},d);
                            } else{
                                (this as any).$message.error(t.data.err);
                                (this as any).$store.dispatch('loginOut','').then(()=>{
                                    (this as any).$router.replace("/")
                                })
                            }
                        }
                    });
                }else{
                    let d:any = {
                        isEdit:'0',

                        group_id:'',
                        group_name:'',
                        msg:'',
                    };
                    this.d = Object.assign({},d);
                }

            },

            getData(currentpage:string = ''){
                if(currentpage){
                    this.query.currentpage = '1'
                }
                let data:any = Object.assign({},this.query);
                data.endtime = formatDate( data.timeArr[1] );
                data.starttime = formatDate(data.timeArr[0]);
                data.class_id=this.class_id;
                data.teacher_id=this.teacher_id;
                (this as any).axios.post('garden/statistics_notice/detail',  data,{
                    headers: { token :(this as any).$store.state.token }
                }).then((e:any) => {
                    if(e.status === 200){

                        let d:any = e.data;
                        this.tableData = [];
                        if(d.success){
                            let arr:any = JSON.parse(JSON.stringify(d.msg.list));

                            this.tableData  = arr;
                            this.total  = d.msg.count;
                        }
                    }
                })
            },
        }
    })
</script>

<style lang="less" scoped>
    .tabBox{
        width:100%;height: 35px;padding-top: 10px;
        .tabsInfo{
        }
    }
    .head {
        /*height: 35px;*/
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        line-height: 35px;
        font-size: @--font-size;
        .selectBox{
            margin-right: 10px;
        }
        .left {
            width: 80%;
            height: 100%;
            float: left;
            text-align: left;

            .sarchInput {
                width: 200px;
                height: 100%;
                line-height: 35px;
                margin-right: 10px;
            }

            .sarchInput:nth-of-type(1) {
                margin-left: 10px;
            }
        }

        .right {
            width: 20%;
            height: 100%;
            float: right;
            text-align: right;

            .add {
                margin-right: 10px;
            }
        }
    }

    .table {
        overflow-y: auto;
        height: calc(100% - 65px);
        width: calc(100% - 20px);
        margin: 0 auto;
        .tableBox{
            line-height: 35px;overflow: inherit;
        }
        .pagin{
            line-height: 35px;margin-top: 10px;
        }
    }

</style>