<template>
    <div>
        <div class="head" v-if="noticeType !== 'detail'">
            <div class="left">
                <el-input placeholder="请输入老师姓名" v-model="query.name" class="sarchInput" size="small" clearable></el-input>
                <!--                排序方式-->
                <el-select v-model="query.sort" placeholder="排序方式" size="small" class="selectBox" clearable
                           style="width:120px">
                    <el-option label="姓名" value="0"></el-option>
                    <el-option label="工号" value="1"></el-option>
                    <el-option label="发送量" value="2"></el-option>
                </el-select>
                <el-date-picker
                        v-model="query.timeArr"
                        type="daterange"
                        size="small"
                        :shortcuts="shortcuts"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        :clearable="false"
                        align="right" style="margin-left: 10px;width:250px">
                </el-date-picker>

                <el-button type="primary" class="search" size="small" @click="getData('1')">搜索</el-button>
            </div>
            <div class="right">
                <!--                    <el-button type="success" size="small" class="add" @click="showDialog()">添加</el-button>-->
            </div>
        </div>
        <!--        班级通知列表-->
        <div class="table" v-if="noticeType !== 'detail'">
            <el-table :data="tableData" border style="width: 100%" class="tableBox" v-loading="loadings" :file-list="fileList" :height="parentHeight-100">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column :resizable="false" prop="class_name" label="班级名称" ></el-table-column>
                <el-table-column :resizable="false" prop="name" label="老师姓名" width="120"></el-table-column>
                <el-table-column :resizable="false" prop="num" label="老师工号" width="80"></el-table-column>
                <el-table-column :resizable="false" prop="cou" label="活动总数" width="80"></el-table-column>

                <el-table-column  label="操作" width="100" :resizable="false">
                    <template #default="scope">
                        <el-button size="small" @click="showDialog(scope.row)">详情</el-button>
                    </template>
                </el-table-column>

            </el-table>
            <el-pagination
                    class="pagin"
                    background
                    layout="prev, pager, next"
                    :total="total"
                    :current-page="query.currentpage"
                    @current-change="pagechange"
            >
            </el-pagination>
        </div>
        <!--        通知详情-->
        <ActivityDetail  v-if="noticeType === 'detail'" :class_id="class_id" :teacher_id="teacher_id" :timeArr="JSON.stringify(query.timeArr)" @back="back"></ActivityDetail>
    </div>
</template>

<script lang="ts">
    import {defineComponent,reactive} from 'vue';
    import { shortcuts,formatDate } from "@/utils/utils"
    import ActivityDetail from "./activityDetail.vue"
    import {  mapState } from 'vuex'
    export default defineComponent({
        name: "statisticsActivity",
        components: { ActivityDetail },
        setup() {
            return reactive({
                noticeType:'',
                class_id:'',
                teacher_id:'',
                query:{
                    name:'', // ；老师姓名
                    starttime:'', // ；老师姓名
                    endtime:'', // ；老师姓名
                    sort:'', // ；老师姓名
                    currentpage:'1',
                    pagesize:'10',
                    timeArr: [new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate() - 1), new Date()],
                },
                total:'1',
                tableData: [],
                shortcuts:shortcuts()
            })
        },
        data(){
            return {
                loadings:true,
                type:'0',
                value: '',
                id:'',
                d:{
                    school_id: '',
                    school_name: '',
                    address: '',
                    msg: '',
                },
                component:'',
            }
        },
        mounted() {
            this.getData();
        },
        computed: {
            ...mapState({
                parentHeight: (state:any) => state.parentHeight
            }),
        },
        watch:{
            $route(){
                (this as any).type= (this as any).$route.query.type;
                (this as any).component= (this as any).$route.query.component;
            },
            component() {
                if(this.component == 'statistics_activity'){
                    this.getData();
                }
            }
        },
        methods: {
            back(){
                this.noticeType='';
                this.class_id='';
                this.teacher_id='';
            },
            pagechange(val:any){
                this.query.currentpage = val.toString();
                this.getData()
            },
            getData(currentpage:string = ''){
                this.loadings = true;
                if(currentpage){
                    this.query.currentpage = '1'
                }
                let data:any  =  Object.assign({},this.query);
                data.endtime = formatDate( data.timeArr[1] );
                data.starttime = formatDate(data.timeArr[0]);

                (this as any).axios.post('garden/statistics_activity/list',  data ,{
                    headers: { token :(this as any).$store.state.token }
                }).then((e:any) => {
                    if(e.status === 200){
                        let d:any = e.data;
                        this.tableData = [];
                        this.total = '0';
                        if(d.success){
                            let arr:any = JSON.parse(JSON.stringify(d.msg.list));

                            this.total = d.msg.count;
                            console.log(arr)
                            this.tableData  = arr;
                        }else{
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut','').then(()=>{
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                    this.loadings = false;
                })
            },
            showDialog(row:any){
                console.log(row)
                this.class_id = row.class_id;
                this.teacher_id = row.teacher_id;
                this.noticeType = 'detail'
            }
        }
    })
</script>

<style lang="less" scoped>
    .tabBox{
        width:100%;height: 35px;padding-top: 10px;
        .tabsInfo{
        }
    }
    .head {
        /*height: 35px;*/
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        line-height: 35px;
        font-size: @--font-size;
        .selectBox{
            margin-right: 10px;
        }
        .left {
            width: 80%;
            height: 100%;
            float: left;
            text-align: left;

            .sarchInput {
                width: 200px;
                height: 100%;
                line-height: 35px;
                margin-right: 10px;
            }

            .sarchInput:nth-of-type(1) {
                margin-left: 10px;
            }
        }

        .right {
            width: 20%;
            height: 100%;
            float: right;
            text-align: right;

            .add {
                margin-right: 10px;
            }
        }
    }

    .table {
        overflow-y: auto;
        height: calc(100% - 65px);
        width: calc(100% - 20px);
        margin: 0 auto;
        .tableBox{
            line-height: 35px;overflow: inherit;
        }
        .pagin{
            line-height: 35px;margin-top: 10px;
        }
    }

</style>