<template>
    <div>
        <div class="head">
            <div class="left">
                <el-date-picker
                        v-model="query.day"
                        type="date"
                        placeholder="选择日期"
                        format="YYYY-MM-DD"
                        size="small"
                        style="margin:0 10px"
                >
                </el-date-picker>
                <el-button type="primary" class="search" size="small" @click="getData('1')">搜索</el-button>
            </div>
            <div class="right">
                <!--                    <el-button type="success" size="small" class="add" @click="showDialog()">添加</el-button>-->
            </div>
        </div>
        <div class="table" >
            <el-table :data="tableData" border style="width: 100%" class="tableBox" v-loading="loadings"  :height="parentHeight-100">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column :resizable="false" prop="name" label="姓名" width="120"></el-table-column>
                <el-table-column :resizable="false" prop="class_name" label="班级名称" width="120"></el-table-column>
                <el-table-column :resizable="false" prop="msg" label="请假内容"></el-table-column>
                <el-table-column :resizable="false" prop="msg" label="图片">
                    <template #default="scope">
                        <div v-if="scope.row.imgs" class="img-box">
                            <img v-for="(v,i) in scope.row.imgs" :key="i" :src="'http://files.zhhost.top/leaveimg/'+v" alt="" @click="handlePreview({url:'http://files.zhhost.top/leaveimg/'+v})" srcset="">
                        </div>
                    </template>
                </el-table-column>
                <el-table-column :resizable="false" prop="starttime" label="开始时间" width="150"></el-table-column>
                <el-table-column :resizable="false" prop="endtime" label="结束时间" width="150"></el-table-column>
                <!-- http://files.zhhost.top/leaveimg/ -->
                <el-table-column :resizable="false" prop="type" label="状态" width="100">
                    <template #default="scope">
                        {{typeObj[scope.row.type]||'--'}}
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    class="pagin"
                    background
                    layout="prev, pager, next"
                    :total="total"
                    :current-page="query.currentpage"
                    @current-change="pagechange"
            >
            </el-pagination>
        </div>

        <!-- 预览 -->
        <el-dialog v-model="dialogVisible">
            <img :src="dialogImageUrl" alt="" class="dialogImg">
        </el-dialog>
    </div>
</template>

<script lang="ts">
    import {defineComponent,reactive} from 'vue';
    import { shortcuts,formatDate } from "@/utils/utils"
    import {  mapState } from 'vuex'
    export default defineComponent({
        name: "StatisticsLeave",
        setup() {
            return reactive({
                noticeType:'',
                class_id:'',
                teacher_id:'',
                query:{
                    day:formatDate( new Date().toLocaleDateString() ), //
                    currentpage:'1',
                    pagesize:'10',
                },
                typeObj:{
                     0:'病假',1:'事假',2:'照顾餐登记',3:'服药登记'
                },
                total:'1',
                tableData: [],
                shortcuts:shortcuts(),
                dialogVisible: false,
                dialogImageUrl: ''
            })
        },
        data(){
            return {
                loadings:true,
                type:'0',
                value: '',
                id:'',
                d:{
                    school_id: '',
                    school_name: '',
                    address: '',
                    msg: '',
                },
                component:'',
            }
        },
        computed: {
            ...mapState({
                parentHeight: (state:any) => state.parentHeight
            }),
        },
        mounted() {
            this.getData();
        },
        watch:{
            $route(){
                (this as any).type= (this as any).$route.query.type;
                (this as any).component= (this as any).$route.query.component;
            },
            component() {
                if(this.component == 'statistics_activity'){
                    this.getData();
                }
            }
        },
        methods: {
            // 预览
            handlePreview(file: any) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            back(){
                this.noticeType='';
                this.class_id='';
                this.teacher_id='';
            },
            pagechange(val:any){
                this.query.currentpage = val.toString();
                this.getData()
            },
            getData(currentpage:string = ''){
                this.loadings = true;
                if(currentpage){
                    this.query.currentpage = '1'
                }
                let data:any  =  Object.assign({},this.query);
                if(!data.day){
                    data.day = formatDate(new Date().toLocaleDateString());
                }
                (this as any).axios.post('garden/statistics_leave/list',  data ,{
                    headers: { token :(this as any).$store.state.token }
                }).then((e:any) => {
                    if(e.status === 200){
                        let d:any = e.data;
                        this.tableData = [];
                        this.total = '0';
                        if(d.success){
                            let arr:any = JSON.parse(JSON.stringify(d.msg.list));
                            arr.map((e:any)=>{
                                let ar:any = [];
                                if(e.imgs){
                                    ar = e.imgs.split(',');
                                }
                                e.imgs = ar;
                            })
                            this.total = d.msg.count;
                            this.tableData  = arr;
                        }else{
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut','').then(()=>{
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                    this.loadings = false;
                })
            },
            showDialog(row:any){
                console.log(row)
                this.class_id = row.class_id;
                this.teacher_id = row.teacher_id;
                this.noticeType = 'detail'
            }
        }
    })
</script>

<style lang="less" scoped>
    .tabBox{
        width:100%;height: 35px;padding-top: 10px;
        .tabsInfo{
        }
    }
    .head {
        /*height: 35px;*/
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        line-height: 35px;
        font-size: @--font-size;
        .selectBox{
            margin-right: 10px;
        }
        .left {
            width: 80%;
            height: 100%;
            float: left;
            text-align: left;

            .sarchInput {
                width: 200px;
                height: 100%;
                line-height: 35px;
                margin-right: 10px;
            }

            .sarchInput:nth-of-type(1) {
                margin-left: 10px;
            }
        }

        .right {
            width: 20%;
            height: 100%;
            float: right;
            text-align: right;

            .add {
                margin-right: 10px;
            }
        }
    }

    .table {
        overflow-y: auto;
        height: calc(100% - 65px);
        width: calc(100% - 20px);
        margin: 0 auto;
        .tableBox{
            line-height: 35px;overflow: inherit;
        }
        .pagin{
            line-height: 35px;margin-top: 10px;
        }
    }
    .img-box{
        display: flex;flex-direction: row;
        img{max-height: 50px;cursor: pointer;margin-right: 6px;}
    }

</style>