<template>
    <div>
        <!--        刷卡机-->
        <div class="1">
            <div class="head">
                <div class="left">
                    <el-input placeholder="请输入设备号/学校名称/分园名称" v-model="query.key" class="sarchInput" size="small"
                              clearable></el-input>
                    <el-select v-model="query.state" placeholder="刷卡机状态" size="small" class="selectBox" clearable
                               style="width:120px">
                        <el-option label="正常" value="1"></el-option>
                        <el-option label="停用" value="0"></el-option>
                    </el-select>
                    <el-button type="primary" class="search" size="small" @click="getData('1')">搜索</el-button>
                </div>
                <div class="right">
                    <el-button type="success" size="small" class="add" @click="showDialog()">添加</el-button>
                </div>
            </div>
            <!--        学校列表-->
            <div class="table">
                <el-table :data="tableData" border style="width: 100%" class="tableBox" v-loading="loadings"
                          :file-list="fileList">
                    <template #empty>
                        <span style="color: #969799;">没有更多数据</span>
                    </template>
                    <el-table-column   :resizable="false" prop="school_name" label="学校名称" width="170"></el-table-column>
                    <el-table-column   :resizable="false" prop="deviceno" label="设备编号" width="=250"></el-table-column>
                    <el-table-column   :resizable="false" prop="version" label="版本号" width="100"></el-table-column>

                    <el-table-column prop="state" label="状态" width="170"   :resizable="false">
                        <template #default="scope">
                            <el-switch style="display: block"
                                       v-model="scope.row.stateFlag"
                                       active-color="#13ce66"
                                       inactive-color="#ff4949"
                                       active-text="正常"
                                       inactive-text="停用"
                                       @change="changeFlag(scope.row)"
                            >
                            </el-switch>
                        </template>
                    </el-table-column>
                    <el-table-column prop="groupCou" label="健康码" width="120"   :resizable="false">
                        <template #default="scope">
                            <img v-if="scope.row.jkm" :src="fileHost+'product/' + scope.row.jkm" alt=""
                                 style="height:40px;width: auto"/>
                        </template>
                    </el-table-column>
                    <el-table-column prop="remark" label="备注"   :resizable="false"></el-table-column>

                    <el-table-column label="操作" width="160"  :resizable="false">
                        <template #default="scope">
                            <el-button size="small" @click="showDialog(scope.row)">编辑</el-button>
                            <el-popconfirm
                                    confirmButtonText='好的'
                                    cancelButtonText='不用了'
                                    @confirm="del(scope.row)"
                                    icon="el-icon-info"
                                    iconColor="red"
                                    title="这是一段内容确定删除吗？"
                            >
                                <template #reference>
                                    <el-button size="mini" type="danger">删除</el-button>
                                </template>
                            </el-popconfirm>
                        </template>
                    </el-table-column>

                </el-table>
                <el-pagination
                        class="pagin"
                        background
                        layout="prev, pager, next"
                        :total="total"
                        :current-page="query.currentpage"
                        @current-change="pagechange"
                >
                </el-pagination>
            </div>

            <!--        编辑学校-->
            <el-drawer
                    :title="id?('编辑刷卡机'):('添加刷卡机')"
                    :size="'40%'"
                    v-model="dialogFormVisible"
                    :direction="'rtl'"
                    :before-close="handleClose" destroy-on-close>
                <div class="edit" v-if="dialogFormVisible">
                    <el-form ref="from" :model="d" label-width="80px" @close="closeDialog()" class="commonForm">
                        <el-form-item label="所属分园" prop="group_id" :rules="[ { required: true, message: '所属分园不能为空'} ]"
                                      style="text-align: left">
                            <el-select v-model="d.group_id" placeholder="请选择所属分园" filterable clearable>
                                <el-option-group v-for="group in schoolData" :key="group.school_name"
                                                 :label="group.school_name">
                                    <el-option v-for="item in group.groups" :key="item.group_id"
                                               :label="item.group_name" :value="item.group_id"></el-option>
                                </el-option-group>
                            </el-select>

                        </el-form-item>
                        <el-form-item label="设备编号" prop="deviceno" :rules="[ { required: true, message: '设备编号不能为空'} ]">
                            <el-input v-model="d.deviceno" autocomplete="off" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="备注" prop="remark">
                            <el-input v-model="d.remark" autocomplete="off" type="textarea" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="考勤时段" prop="signtime">
                            <el-input v-model="d.signtime" autocomplete="off" placeholder="0:00-11:00"
                                      clearable></el-input>
                        </el-form-item>
                        <el-form-item label="健康码" prop="jkm">
                            <el-input v-model="d.jkm" autocomplete="off" clearable></el-input>
                        </el-form-item>
                        <el-form-item>
                            <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                                <el-button @click="closeDialog()">取 消</el-button>
                                <el-button type="primary" @click="submitForm('from')">确 定</el-button>
                            </div>
                        </el-form-item>
                    </el-form>
                </div>

            </el-drawer>
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import {fileHost, areaList} from "@/utils/utils"

    export default defineComponent({
        name: "deviceCard",
        setup() {
            return reactive({
                schoolType: '', // '' 学校列表 group 分园列表
                query: {
                    key: '', // 学校名称或者id
                    state: '', // 用户状态 1 正常 0 停用
                    currentpage: '1',
                    pagesize: '10'
                },
                total: '1',
                tableData: [],
                menuInfo: [],
                typeName: ['推荐', '美食', '电竞', '摄影', '兴趣']
            })
        },
        data() {
            return {
                loadings: true,
                fileHost: fileHost(),
                areaList: areaList(),
                type: '0',
                value: '',
                gridData: [],
                dialogTableVisible: false,
                currentRow: '',
                isEdit: 0,
                id: '',
                d: {
                    group_id: '',
                    deviceno: '',
                    remark: '',
                    signtime: '',
                    jkm: '',
                },
                component: 'school',
                dialogFormVisible: false,
                schoolData: [],// 学校分园数据
            }
        },
        mounted() {
            this.getData();
            // 获取全部学校和分园
            // this.getSchoolData();
        },
        watch: {
            $route() {
                (this as any).type = (this as any).$route.query.type;
                (this as any).component = (this as any).$route.query.component;
            },
            component() {
                if (this.component == 'school') {
                    this.getData();
                }
            }
        },
        methods: {
            // 删除
            del(row: any) {
                (this as any).axios.post("garden/device_card/delete", {id: row.id}, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        if (e.data.success) {
                            (this as any).$message.success('成功');
                            this.getData('1')
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },
            getSchoolData() {
                (this as any).axios.post('garden/school/group_list_for_select', {group_id: ''}, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    // console.log('学校',e.data)
                    if (e.status === 200) {
                        if (e.data.success) {
                            this.schoolData = e.data.msg.list
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },
            submitForm(formName: string) {
                (this as any).$refs[formName].validate((valid: any) => {
                    if (valid) {
                        let data: any = Object.assign({}, this.d);
                        if (this.id !== '') {
                            data.id = this.id;
                            data.isEdit = 1
                        } else {
                            data.isEdit = 0
                            data.id = '';
                        }
                        (this as any).axios.post('garden/device_card/design', data, {
                            headers: {token: (this as any).$store.state.token}
                        }).then((t: any) => {
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.closeDialog();
                                    (this as any).$message.success('成功');
                                    this.getData();
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        });
                    }
                })
            },
            closeDialog() {
                this.dialogFormVisible = false;
                this.id = '';
                this.isEdit = 0;
                let d: any = {
                    group_id: '',
                    deviceno: '',
                    remark: '',
                    signtime: '',
                    jkm: '',
                };
                this.d = Object.assign({}, d);
            },
            handleClose(done: any) {
                (this as any).$confirm('确认关闭？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.closeDialog();
                    done();
                }).catch(() => {
                });
            },
            handleCurrentChange(val: any) {
                this.currentRow = val;
            },
            showDialog(row: any = undefined) {
                console.log(row);
                this.dialogFormVisible = true;
                if (row) {
                    this.id = row.id;
                    this.isEdit = 1;
                }
                if (this.id !== "") {
                    (this as any).axios.post("garden/device_card/get", {id: this.id}, {
                        headers: {token: (this as any).$store.state.token}
                    }).then((t: any) => {
                        if (t.status == 200) {
                            if (t.data.success) {
                                console.log(t.data.msg)
                                const o: any = t.data.msg;
                                let d: any = {
                                    group_id: o.group_id,
                                    deviceno: o.deviceno,
                                    remark: o.remark,
                                    signtime: o.signtime,
                                    jkm: o.jkm
                                };
                                this.d = Object.assign({}, d);
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        }
                    });
                }
            },
            changeFlag(item: any) {
                (this as any).axios.post('garden/device_card/setstate', {
                    id: item.id
                }, {headers: {token: (this as any).$store.state.token}}).then(((e: any) => {
                    console.log(e);
                    if (e.status === 200) {
                        (this as any).$message.success('成功');
                    }
                }))
            },
            pagechange(val: any) {
                this.query.currentpage = val.toString();
                this.getData()
            },
            getData(currentpage: string = '') {
                this.loadings = true;
                if (currentpage) {
                    this.query.currentpage = '1'
                }
                (this as any).axios.post('garden/device_card/list', this.query, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        this.total = '0';
                        console.log(e)
                        if (d.success) {
                            let arr: any = JSON.parse(JSON.stringify(d.msg.list));
                            arr.map((item: any) => {
                                if (item.state === '1') { // 1正常 0停用
                                    item.stateFlag = true
                                } else {
                                    item.stateFlag = false
                                }
                            });
                            this.total = d.msg.count;
                            console.log(arr)
                            this.tableData = arr;
                        }
                    }
                    this.loadings = false;
                })
            },
        }
    })
</script>

<style lang="less" scoped>
    .tabBox {
        width: 100%;
        height: 35px;
        padding-top: 10px;

        .tabsInfo {
        }
    }

    .head {
        /*height: 35px;*/
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        line-height: 35px;
        font-size: @--font-size;

        .selectBox {
            margin-right: 10px;
        }

        .left {
            width: 80%;
            height: 100%;
            float: left;
            text-align: left;

            .sarchInput {
                width: 200px;
                height: 100%;
                line-height: 35px;
                margin-right: 10px;
            }

            .sarchInput:nth-of-type(1) {
                margin-left: 10px;
            }
        }

        .right {
            width: 20%;
            height: 100%;
            float: right;
            text-align: right;

            .add {
                margin-right: 10px;
            }
        }
    }

    .table {
        overflow-y: auto;
        height: calc(100% - 65px);
        width: calc(100% - 20px);
        margin: 0 auto;

        .tableBox {
            line-height: 35px;
            overflow: inherit;
        }

        .pagin {
            line-height: 35px;
            margin-top: 10px;
        }
    }

</style>