<template>
    <div>
        <div class="tabBox">
            <el-tabs v-model="type" type="card" @tab-click="handleClick" class="tabsInfo">
                <el-tab-pane :label="item.label" :name="index.toString()" v-for="(item,index) in menuInfo" :key="index"></el-tab-pane>
            </el-tabs>
        </div>
        <div class="table1"  ref="myRef">
<!--            学生考勤-->
            <SignStudent v-if="component==='sign_student'"></SignStudent>
<!--            班级出勤率-->
            <SignClass v-if="component==='sign_class'"></SignClass>
<!--            老师考勤统计-->
            <SignTeacher v-if="component==='sign_teacher'"></SignTeacher>
<!--            教师今日出勤-->
            <SignTeacherDay v-if="component==='sign_teacher_day'"></SignTeacherDay>
<!--            老师排班表-->
            <SignTable v-if="component==='sign_table'"></SignTable>
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent,reactive , ref  } from 'vue';
    // import DeviceCard from './areaStatistics.vue'
    import SignStudent from './signStudent.vue'
    import SignClass from './signClass.vue'
    import SignTeacher from './signTeacher.vue'
    import SignTeacherDay from './signTeacherDay.vue'
    import SignTable from './signTable.vue'

    export default defineComponent({
        name: "equipmentmanage",
        components:{   SignStudent ,SignClass ,SignTeacher,SignTeacherDay,SignTable},
        setup() {
            const myRef = ref(null);

            return reactive({
                myRef,
                type:'',
                component:'device_card',
                menuInfo:[],
            })
        },
        data(){
            return {     }
        },
        mounted() {
            this.menuInfo = (this as any).$store.state.menu[(this as any).$route.query.routesIndex || 0]['sub'];
            this.type = (this as any).$route.query.type.toString();
            this.component = (this as any).$route.query.component.toString();

            (this as any).$store.dispatch('setPHAction', (this as any).myRef.clientHeight); // 修he
        },
        watch:{
            $route(){
                (this as any).type= (this as any).$route.query.type;
                (this as any).component= (this as any).$route.query.component;
            },
            component() {

            }
        },
        methods: {
            handleClick(tab:any) {
                this.$router.push({
                    query:{
                        type: tab.index,
                        component: this.menuInfo[tab.index]['component']
                    }
                })
            },
        }
    })
</script>

<style lang="less" scoped>
    .table1 {
        overflow-y: auto;
        height: calc(100% - 65px);
        width: 100%;
        margin: 0 auto;
        .tableBox{
            line-height: 35px;overflow: inherit;
        }
        .pagin{
            line-height: 35px;margin-top: 10px;
        }
    }
</style>