<template>
    <div>
        <!--        学生考勤-->
        <div class="1">
            <div class="head">
                <div class="left">
                    <el-date-picker
                            class="pickClass"
                            size="small"
                            v-model="query.day"
                            type="date"
                            placeholder="选择日期"
                            format="YYYY-MM-DD"
                            style="margin-left:10px"
                    >
                    </el-date-picker>
                    <el-button type="primary" class="searchBtn" size="small" @click="getData()">搜索</el-button>
                </div>
                <div class="right">
<!--                    <el-button type="success" size="small" class="add" @click="showDialog()">添加</el-button>-->
                </div>
            </div>
            <!--        学生考勤-->
            <div class="table">
                <el-table :data="tableData" border style="width: 100%" class="tableBox" v-loading="loadings"  :height="parentHeight-100"
                          :file-list="fileList" :resizable="false">
                    <template #empty>
                        <span style="color: #969799;">没有更多数据</span>
                    </template>
                    <el-table-column  :resizable="false" prop="class_name" label="班级名称"></el-table-column>
                    <el-table-column :resizable="false" prop="cou" label="总人数" width="100">
                        <template #default="scope">
                            <span style="color:#609FE9;cursor:pointer" @click="showDetail(scope.row,'签到详情')">{{scope.row.cou}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column  :resizable="false" prop="t1" label="缺勤" width="100">
                        <template #default="scope">
                            <span style="color:red;cursor:pointer" @click="showDetail(scope.row,'缺勤详情')">{{scope.row.t1}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column  :resizable="false" label="出勤率" width="100">
                        <template #default="scope">
                            <span >{{scope.row.cou == '0'?'0.00' : parseFloat(( scope.row.cou - scope.row.t1 )/scope.row.cou *100).toFixed(2) || 0}}%</span>
                        </template>
                    </el-table-column>
                    <el-table-column  :resizable="false" prop="t2" label="到校" width="100" ></el-table-column>
                    <el-table-column  :resizable="false" prop="t3" label="到校且离校" width="100"></el-table-column>
                    <el-table-column  :resizable="false"  label="离校率" width="100"  >
                        <template #default="scope">
                            <span >{{scope.row.cou == '0'?'0.00': parseFloat(( scope.row.t3 || 0 )/scope.row.cou *100).toFixed(2) }}%</span>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <el-dialog :title="tableTitle" v-model="tableFlag" :resizable="false">
                <el-table :data="signData" height="650">
                    <el-table-column  :resizable="false" property="num" label="学号"></el-table-column>
                    <el-table-column  :resizable="false" property="name" label="姓名" width="200"></el-table-column>
                    <el-table-column  :resizable="false" property="s_sign" label="签到时间"></el-table-column>
                    <el-table-column  :resizable="false" property="e_sign" label="签退时间"></el-table-column>
                </el-table>
            </el-dialog>
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import {fileHost, areaList, formatDate} from "@/utils/utils"
    import {  mapState } from 'vuex'
    export default defineComponent({
        name: "signStudent",
        setup() {
            return reactive({
                schoolType: '', // '' 学校列表 group 分园列表
                query: {
                    day: new Date(), // 学校名称或者id
                },
                d: {
                    day: '', // 学校名称或者id
                },
                total: '1',
                tableData: [],
                menuInfo: [],
                tableFlag: false,
                signData: []
            })
        },
        data() {
            return {
                loadings: true,
                fileHost: fileHost(),
                areaList: areaList(),
                type: '0',
                value: '',
                gridData: [],
                dialogTableVisible: false,
                currentRow: '',
                isEdit: 0,
                id: '',
                component: 'school',
                dialogFormVisible: false,
                schoolData: [],// 学校分园数据
                tableTitle:''
            }
        },
        computed: {
            ...mapState({
                parentHeight: (state:any) => state.parentHeight
            }),
        },
        mounted() {
            this.getData();
            // 获取全部学校和分园
            // this.getSchoolData();
        },
        watch: {
            $route() {
                (this as any).type = (this as any).$route.query.type;
                (this as any).component = (this as any).$route.query.component;
            },
            component() {
                if (this.component == 'sign_student') {
                    this.getData();
                }
            }
        },
        methods: {
            // 删除
            del(row: any) {
                (this as any).axios.post("garden/device_card/delete", {id: row.id}, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        if (e.data.success) {
                            (this as any).$message.success('成功');
                            this.getData()
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },
            getSchoolData() {
                (this as any).axios.post('garden/school/group_list_for_select', {group_id: ''}, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    // console.log('学校',e.data)
                    if (e.status === 200) {
                        if (e.data.success) {
                            this.schoolData = e.data.msg.list
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },
            changeFlag(item: any) {
                (this as any).axios.post('garden/device_card/setstate', {
                    id: item.id
                }, {headers: {token: (this as any).$store.state.token}}).then(((e: any) => {
                    console.log(e);
                    if (e.status === 200) {
                        (this as any).$message.success('成功');
                    }
                }))
            },
            showDetail(row:any,title:any){
                this.tableTitle = title
                console.log(row);
                this.tableFlag = true;
                (this as any).axios.post('garden/sign_student/class_detail', {
                    day:formatDate((this as any).query.day),
                    class_id:row.class_id
                }, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        if (d.success) {
                            console.log(d);
                            let arr:any = JSON.parse(JSON.stringify(d.msg.list)),newArr:any= []
                            if(this.tableTitle === '缺勤详情'){
                                arr.map((item:any)=>{
                                    if(!item.s_sign){
                                        newArr.push(item)
                                    }
                                });
                                this.signData = newArr
                            }else{
                                this.signData = d.msg.list

                            }
                        }
                    }
                })
            },
            getData() {
                this.loadings = true;
                let data:any= Object.assign({},this.query);
                console.log(data.day);
                console.log(formatDate(data.day));
                (this as any).axios.post('garden/sign_student/list', {
                    day:formatDate(data.day)
                }, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        this.total = '0';
                        console.log(e)
                        if (d.success) {
                            let arr: any = JSON.parse(JSON.stringify(d.msg.list));
                            arr.map((item: any) => {
                                if (item.state === '1') { // 1正常 0停用
                                    item.stateFlag = true
                                } else {
                                    item.stateFlag = false
                                }
                            });
                            this.total = d.msg.count;
                            console.log(arr)
                            this.tableData = arr;
                        }else{
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                    this.loadings = false;
                })
            },
        }
    })
</script>

<style lang="less" scoped>
    .tabBox {
        width: 100%;
        height: 35px;
        padding-top: 10px;

        .tabsInfo {
        }
    }

    .head {
        /*height: 35px;*/
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        line-height: 35px;
        font-size: @--font-size;

        .selectBox {
            margin-right: 10px;
        }

        .left {
            width: 80%;
            height: 100%;
            float: left;
            text-align: left;


        }

        .right {
            width: 20%;
            height: 100%;
            float: right;
            text-align: right;

            .add {
                margin-right: 10px;
            }
        }
    }

    .table {
        overflow-y: auto;
        height: calc(100% - 65px);
        width: calc(100% - 20px);
        margin: 0 auto;

        .tableBox {
            line-height: 35px;
            overflow: inherit;
        }

        .pagin {
            line-height: 35px;
            margin-top: 10px;
        }
    }
    .pickClass{
        margin-left: @--margin;
    }
</style>