<template>
    <div>
        <div class="head">
            <div class="left">
                <el-input placeholder="请输入老师名称" v-model="query.key" class="sarchInput" size="small"  :height="parentHeight-100"
                          clearable></el-input>
                <el-date-picker
                        v-model="query.timeArr"
                        type="daterange"
                        size="small"
                        :shortcuts="shortcuts"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        :clearable="false"
                        align="right" style="margin-left: 10px;width:250px">
                </el-date-picker>
                <el-button type="primary" class="searchBtn" size="small" @click="getData()">搜索</el-button>
                <el-button type="primary" class="search" size="small" @click="exportStu">考勤导出</el-button>
            </div>
            <div class="right">
                <!--<el-button type="success" size="small" class="add" @click="showDialog()">添加</el-button>-->
            </div>
        </div>
        <!--        学生考勤-->
        <div class="table">
            <el-table :data="tableData" border style="width: 100%" class="tableBox" v-loading="loadings"
                      :file-list="fileList">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column  :resizable="false" prop="name" label="老师名称" width="170"></el-table-column>
                <el-table-column  :resizable="false" prop="num" label="工号"></el-table-column>
                <el-table-column  :resizable="false" prop="wd" label="考勤天数" width="100"></el-table-column>
                <el-table-column  :resizable="false" prop="t1" label="缺勤" width="100">
                    <template #default="scope">
                        <span style="color:red" >{{scope.row.t1 || 0}}</span>
                    </template>
                </el-table-column>
                <el-table-column  :resizable="false" prop="t2" label="异常" width="100"></el-table-column>
                <el-table-column  :resizable="false" prop="t3" label="迟到" width="100"></el-table-column>
                <el-table-column  :resizable="false" prop="t4" label="早退" width="100"></el-table-column>
                <el-table-column  :resizable="false"  label="出勤率" width="100">
                    <template #default="scope">
                        <span style="color:#609FE9;cursor:pointer" >{{scope.row.t1 != '0'?parseFloat((scope.row.t1-scope.row.t2)/scope.row.t1).toFixed(0)*100 : 0}}%</span>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import {fileHost, areaList, formatDate} from "@/utils/utils"
    import {  mapState } from 'vuex'
    export default defineComponent({
        name: "signTeacher",
        setup() {
            return reactive({
                schoolType: '', // '' 学校列表 group 分园列表
                query: {
                    key: '', // 学校名称或者id
                    timeArr: [new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate() - 1), new Date()],
                },
                d: {
                    day: '', // 学校名称或者id
                },
                total: '1',
                tableData: [],
                menuInfo: [],
                shortcuts: [{
                    text: '最近一周',
                    value: (() => {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        return [start, end]
                    })()
                }, {
                    text: '最近一个月',
                    value: (() => {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                        return [start, end]
                    })()
                }, {
                    text: '最近三个月',
                    value: (() => {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                        return [start, end]
                    })()
                }],
            })
        },
        data() {
            return {
                loadings: true,
                fileHost: fileHost(),
                areaList: areaList(),
                type: '0',
                value: '',
                gridData: [],
                dialogTableVisible: false,
                currentRow: '',
                isEdit: 0,
                id: '',
                component: 'school',
                dialogFormVisible: false,
                schoolData: [],// 学校分园数据
            }
        },
        mounted() {
            this.getData();
            // 获取全部学校和分园
        },
        computed: {
            ...mapState({
                parentHeight: (state:any) => state.parentHeight
            }),
        },
        watch: {
            $route() {
                (this as any).type = (this as any).$route.query.type;
                (this as any).component = (this as any).$route.query.component;
            },
            component() {
                if (this.component == 'school') {
                    this.getData();
                }
            }
        },
        methods: {
            exportStu(){
                let query: any = Object.assign({}, this.query);
                let {timeArr, ...r} = query;
                let startdate = formatDate(timeArr[0]);
                let enddate = formatDate(timeArr[1]);
                let data = {
                    ...r,
                    startdate,
                    enddate
                }
                console.log(data);
                // return
                (this as any).axios.post('garden/sign_teacher_export/list', data, {headers: {token: (this as any).$store.state.token}}).then((e:any)=>{
                    console.log(e);
                    
                   if(e.status === 200){
                        window.open('http://server.zhhost.top/export/' + e.data);
                   }else{
                           (this as any).$message.error(e.data.err);
                       }
                });
            },
            // 删除
            del(row: any) {
                (this as any).axios.post("garden/device_card/delete", {id: row.id}, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        if (e.data.success) {
                            (this as any).$message.success('成功');
                            this.getData()
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },
            changeFlag(item: any) {
                (this as any).axios.post('garden/device_card/setstate', {
                    id: item.id
                }, {headers: {token: (this as any).$store.state.token}}).then(((e: any) => {
                    console.log(e);
                    if (e.status === 200) {
                        (this as any).$message.success('成功');
                    }
                }))
            },

            getData() {
                this.loadings = true;
                let data: any = {}, d: any = Object.assign({}, this.query);

                data.key = this.query.key;
                data.startdate = formatDate(d.timeArr[0]);
                data.enddate = formatDate(d.timeArr[1]);

                (this as any).axios.post('garden/sign_teacher/list', data, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        this.total = '0';
                        console.log(e)
                        if (d.success) {
                            let arr: any = JSON.parse(JSON.stringify(d.msg.list));
                            arr.map((item: any) => {
                                if (item.state === '1') { // 1正常 0停用
                                    item.stateFlag = true
                                } else {
                                    item.stateFlag = false
                                }
                            });
                            this.total = d.msg.count;
                            console.log(arr)
                            this.tableData = arr;
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                    this.loadings = false;
                })
            },
        }
    })
</script>

<style lang="less" scoped>
    .tabBox {
        width: 100%;
        height: 35px;
        padding-top: 10px;

        .tabsInfo {
        }
    }

    .head {
        /*height: 35px;*/
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        line-height: 35px;
        font-size: @--font-size;

        .selectBox {
            margin-right: 10px;
        }

        .left {
            width: 80%;
            height: 100%;
            float: left;
            text-align: left;

            .sarchInput {
                width: 200px;
                height: 100%;
                line-height: 35px;
                margin-left: 10px;
            }
        }

        .right {
            width: 20%;
            height: 100%;
            float: right;
            text-align: right;

            .add {
                margin-right: 10px;
            }
        }
    }

    .table {
        overflow-y: auto;
        height: calc(100% - 65px);
        width: calc(100% - 20px);
        margin: 0 auto;

        .tableBox {
            line-height: 35px;
            overflow: inherit;
        }

        .pagin {
            line-height: 35px;
            margin-top: 10px;
        }
    }
</style>