<template>
    <div>
        <div class="head">
            <div class="left">
                <el-date-picker
                        v-model="query.timeArr"
                        type="daterange"
                        size="small"
                        :shortcuts="shortcuts"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        :clearable="false"
                        align="right" style="margin-left: 10px;width:250px">
                </el-date-picker>
                <el-button type="primary" class="searchBtn" size="small" @click="getData()">搜索</el-button>
                <!--                <el-button type="primary" class="searchBtn" size="small">导出</el-button>-->
            </div>
            <div class="right">
                <!--                    <el-button type="success" size="small" class="add" @click="showDialog()">添加</el-button>-->
            </div>
        </div>
        <el-upload
                class="upload-demo"
                :action="uploadHost"
                :on-change="handleChange"
                :on-success="imgSuc"
                :on-remove="imgRev"
                :file-list="fileList"
                :on-preview="onPre"
                limit="1"
                drag
        >
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
            <template #tip>
                <div class="el-upload__tip">
                    只能是xls或xlsx格式，点此 <a :href="href||'http://files.zhhost.top/other/scheduling.xls'" download="w3logo">下载模板</a>
                </div>
            </template>

        </el-upload>
        <!--      表格  -->
        <el-table v-show="tableData.length>0" :data="tableData" border class="tables">
            <template #empty>
                <span style="color: #969799;">没有更多数据</span>
            </template>
            <el-table-column
                    min-width="180"
                    v-for="(col,index) in cols"
                    :key="index"
                    :prop="col.key" :label="col.value"   :resizable="false">
            </el-table-column>
        </el-table>
        <div style="text-align: left;margin-top: 20px">
            <el-button size="small" type="primary" @click="submit" class="searchBtn">提交</el-button>
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import {fileHost, areaList, formatDate, uploadHost} from "@/utils/utils"

    export default defineComponent({
        name: "signTeacherDay",
        setup() {
            return reactive({
                href:"",
                schoolType: '', // '' 学校列表 group 分园列表
                query: {
                    timeArr: [new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate() - 1), new Date()],
                },
                d: {
                    day: '', // 学校名称或者id
                },
                total: '1',
                tableData: [],
                menuInfo: [],
                shortcuts: [{
                    text: '最近一周',
                    value: (() => {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        return [start, end]
                    })()
                }, {
                    text: '最近一个月',
                    value: (() => {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                        return [start, end]
                    })()
                }, {
                    text: '最近三个月',
                    value: (() => {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                        return [start, end]
                    })()
                }],
            })
        },
        data() {
            return {
                cols:[],
                loadings: true,
                fileHost: fileHost(),
                areaList: areaList(),
                type: '0',
                value: '',
                gridData: [],
                dialogTableVisible: false,
                currentRow: '',
                isEdit: 0,
                id: '',
                component: 'school',
                uploadHost: uploadHost(),
                fileList: [],
                tableData: []
            }
        },
        mounted() {
            this.getData();
            // 获取全部学校和分园
        },
        watch: {
            $route() {
                (this as any).type = (this as any).$route.query.type;
                (this as any).component = (this as any).$route.query.component;
            },
            component() {
                if (this.component == 'sign_table') {
                    this.getData();
                }
            }
        },
        methods: {
            submit(){
                let ds:any = Object.assign({},this.cols);
                if(this.tableData.length>0){
                    this.tableData.map((item:any,index:number)=>{
                        console.log(item);
                        let data:any = {
                            day:item[ds[0]['key']],
                            starttime:item['读音'],
                            endtime:item['性别'],
                            name:item['工号'],  //----工号

                        };
                        console.log(data);
                        (this as any).axios.post('garden/school_teacher/design', data,{
                            headers: {  token :(this as any).$store.state.token }
                        }).then((e:any)=>{
                            if(e.status === 200){
                                if(e.data.success){
                                    (this as any).tableData[index]['result'] = '导入成功';
                                }else{
                                    (this as any).tableData[index]['result'] = e.data.err;
                                }
                            }
                        });
                    });
                }  else {
                    (this as any).$message.error('请先导入表格');
                }
            },
            getData() {
                this.loadings = true;
                let data: any = {}, d: any = Object.assign({}, this.query);
                data.startdate = formatDate(d.timeArr[0]);
                data.enddate = formatDate(d.timeArr[1]);
                (this as any).axios.post('garden/sign_table/list', data, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        if (d.success) {
                            this.href = 'https://server.zhhost.top/export/'+ d.msg;
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                    this.loadings = false;
                })
            },
            imgRev() {
                this.fileList = JSON.parse('[]');
                this.tableData = []
            },
            imgSuc(response: any) {
                // 解析文件
                (this as any).axios.post('garden/xlsImport', {
                    filename: response.filename
                }, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        if (e.data.success) {
                            let d: any = e.data.msg;
                            // 处理数据
                            let cols:any = [],newData:any=[];
                            d.list.map((item:any,index:number) =>{
                                if(index===0){
                                    Object.keys(item).map((key:any)=>{
                                        let obj:any = {
                                            key,  value:item[key]
                                        };
                                        cols.push(obj);
                                    });
                                    this.cols = cols;
                                }
                                let o:any={};
                                Object.keys(item).map((key:any)=>{
                                    o[cols[index]['value']]  = item[key]
                                });
                                newData.push(o);
                            });
                            console.log('cols')
                            console.log(cols)
                            console.log('newData')
                            console.log(newData)
                            this.cols = cols;

                            this.tableData = d.list.splice(1);
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }

                    }
                })
            },
            onPre(file: any) {
                console.log(file);
            }
        }
    })
</script>

<style lang="less" scoped>
    .tabBox {
        width: 100%;
        height: 35px;
        padding-top: 10px;

        .tabsInfo {
        }
    }

    .upload-demo {
        width: 250px;
        text-align: left;
        margin-left: 10px;
    }

    .head {
        /*height: 35px;*/
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        line-height: 35px;
        font-size: @--font-size;

        .selectBox {
            margin-right: 10px;
        }

        .left {
            width: 80%;
            height: 100%;
            float: left;
            text-align: left;

            .sarchInput {
                width: 200px;
                height: 100%;
                line-height: 35px;
                margin-left: 10px;
            }
        }

        .right {
            width: 20%;
            height: 100%;
            float: right;
            text-align: right;

            .add {
                margin-right: 10px;
            }
        }
    }

    .table {
        overflow-y: auto;
        height: calc(100% - 65px);
        width: calc(100% - 20px);
        margin: 0 auto;

        .tableBox {
            line-height: 35px;
            overflow: inherit;
        }

        .pagin {
            line-height: 35px;
            margin-top: 10px;
        }
    }
    .tables{
        width: calc(100%- 20px) !important;margin: 0 auto;
    }
</style>