<template>
    <div>
        <div class="head">
            <div class="left">
                <el-input placeholder="请输入老师名称" v-model="query.key" class="sarchInput" size="small"
                          clearable></el-input>
                <el-date-picker v-model="query.day" type="date" size="small" style="margin-left: 10px;width: 130px"
                                placeholder="开始时间"></el-date-picker>
                <el-button type="primary" class="searchBtn" size="small" @click="getData()">搜索</el-button>
<!--                <el-button type="primary" class="searchBtn" size="small">导出</el-button>-->
            </div>
            <div class="right">
                <!--                    <el-button type="success" size="small" class="add" @click="showDialog()">添加</el-button>-->
            </div>
        </div>
        <!--        学生考勤-->
        <div class="table">
            <el-table :data="tableData" border style="width: 100%" class="tableBox" v-loading="loadings" :height="parentHeight-100"
                      :file-list="fileList">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column  prop="name" label="老师名称"  :resizable="false"></el-table-column>
                <el-table-column  prop="num" label="工号"  :resizable="false"></el-table-column>
                <el-table-column  prop="s_time" label="考勤开始时间"  :resizable="false" width="130"></el-table-column>
                <el-table-column  prop="e_time" label="考勤结束时间"  :resizable="false" width="130"></el-table-column>
                <el-table-column  prop="s_sign" label="签到时间"  :resizable="false" width="100"></el-table-column>
                <el-table-column  prop="e_sign" label="签退时间"  :resizable="false" width="100"></el-table-column>

            </el-table>
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import {fileHost, areaList, formatDate} from "@/utils/utils"
    import {  mapState } from 'vuex'
    export default defineComponent({
        name: "signTeacherDay",
        setup() {
            return reactive({
                schoolType: '', // '' 学校列表 group 分园列表
                query: {
                    key: '', // 学校名称或者id
                    day: new Date()
                },
                d: {
                    day: '', // 学校名称或者id
                },
                total: '1',
                tableData: [],
                menuInfo: [],
                shortcuts: [{
                    text: '最近一周',
                    value: (() => {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        return [start, end]
                    })()
                }, {
                    text: '最近一个月',
                    value: (() => {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                        return [start, end]
                    })()
                }, {
                    text: '最近三个月',
                    value: (() => {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                        return [start, end]
                    })()
                }],
            })
        },
        data() {
            return {
                loadings: true,
                fileHost: fileHost(),
                areaList: areaList(),
                type: '0',
                value: '',
                gridData: [],
                dialogTableVisible: false,
                currentRow: '',
                isEdit: 0,
                id: '',
                component: 'school',
                dialogFormVisible: false,
                schoolData: [],// 学校分园数据
            }
        },
        mounted() {
            this.getData();
            // 获取全部学校和分园
        },
        watch: {
            $route() {
                (this as any).type = (this as any).$route.query.type;
                (this as any).component = (this as any).$route.query.component;
            },
            component() {
                if (this.component == 'sign_teacher_day') {
                    this.getData();
                }
            }
        },
        computed: {
            ...mapState({
                parentHeight: (state:any) => state.parentHeight
            }),
        },
        methods: {
            getData() {
                this.loadings = true;
                let data: any = {}, d: any = Object.assign({}, this.query);

                data.day = formatDate(d.day);
                data.key = d.key;


                (this as any).axios.post('garden/sign_teacher_day/list', data, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        this.total = '0';
                        console.log(e)
                        if (d.success) {
                            let arr: any = JSON.parse(JSON.stringify(d.msg.list));

                            this.total = d.msg.count;
                            console.log(arr)
                            this.tableData = arr;
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                    this.loadings = false;
                })
            },
        }
    })
</script>

<style lang="less" scoped>
    .tabBox {
        width: 100%;
        height: 35px;
        padding-top: 10px;

        .tabsInfo {
        }
    }

    .head {
        /*height: 35px;*/
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        line-height: 35px;
        font-size: @--font-size;

        .selectBox {
            margin-right: 10px;
        }

        .left {
            width: 80%;
            height: 100%;
            float: left;
            text-align: left;

            .sarchInput {
                width: 200px;
                height: 100%;
                line-height: 35px;
                margin-left: 10px;
            }
        }

        .right {
            width: 20%;
            height: 100%;
            float: right;
            text-align: right;

            .add {
                margin-right: 10px;
            }
        }
    }

    .table {
        overflow-y: auto;
        height: calc(100% - 65px);
        width: calc(100% - 20px);
        margin: 0 auto;

        .tableBox {
            line-height: 35px;
            overflow: inherit;
        }

        .pagin {
            line-height: 35px;
            margin-top: 10px;
        }
    }
</style>