<template>
  <!--  <div id="nav">-->
  <!--    <router-link to="/">Home</router-link> |-->
  <!--    <router-link to="/about">About</router-link>-->
  <!--  </div>-->
  <router-view/>
</template>
<script>
  import {defineComponent} from 'vue';

  export default defineComponent({
    name: 'App',
    created() {
      // 在页面加载时读取sessionStorage里的状态信息
      if (sessionStorage.getItem('store')) {
        this.$store.replaceState(
                Object.assign(
                        {},
                        this.$store.state,
                        JSON.parse(sessionStorage.getItem('store'))
                )
        )
      }
      // 在页面刷新时将vuex里的信息保存到sessionStorage里  beforeunload事件在页面刷新时先触发
      window.addEventListener('beforeunload', () => {
        sessionStorage.setItem('store', JSON.stringify(this.$store.state))
      })

    }
  })
</script>
<style lang="less">
  /*@import "element-variables";*/
  #app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    line-height: inherit;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  }

  #nav {
    padding: 30px;

    a {
      font-weight: bold;
      color: #2c3e50;

      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }

  .el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
  }
  .tabBox {
    padding-top: 10px;
  }
  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
  }
  .el-tabs__nav{
    margin-left: 10px;
  }
  /*.left > *:first-child{*/
  /*  margin-left: 0;*/
  /*}*/
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
  }

  body > .el-container {
    margin-bottom: 40px;
  }
  .commonForm{
    width: 96%;margin: 0 auto;
  }

  // 右侧编辑-抽屉
  .edit{
    height: calc(100vh - 70px);
    overflow-y: auto;

    .authorityItem {
      padding-bottom: 10px;
      line-height: 0;
      text-align: left;
    }

    .authorityGroup {
      padding-left: 30px;
    }
  }
  .inlineInputs{
    float: left;
  }
  .search{
    margin-left: 10px;
  }
  .el-icon-refresh{
    font-size: 25px!important;cursor:pointer;margin-left: 10px!important;float: left;line-height: 35px!important;
  }
  .el-icon-back{
    padding-top: 10px;
  }
</style>
