/*
less 公共变量
*/
@--bg-color:#fff;
@--main-color:#609FE9;
@--color-primary: #06f;
@co:red;
@--font-size:14px;
@--font-size-big:16px;
@--font-color:#333;
@--border-radius-base:4px;
@redf:red;
/* icon font path, required */
@--font-path: '~element-plus/lib/theme-chalk/fonts';
@--margin:10px;
.btn{
  color: @--color-primary;background: red;line-height: 40px;margin-bottom: 20px;
}
.box-shadow{
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}
*{
  text-decoration: none;list-style: none;
  font-size: @--font-size;outline: none;
}
body{
  margin: 0;padding: 0;
}
.red{
  color: red;
}
input::-webkit-outer-spin-button,

input::-webkit-inner-spin-button { -webkit-appearance: none; }

input[type="number"]{ -moz-appearance: textfield; }
//@import "~element-plus/packages/theme-chalk/src/index";
.searchBtn{
  margin-left: @--margin;
}
.el-main{
  overflow: hidden;
}
.el-header{
  background:@--main-color
}
.el-tabs__content{
  height: 100%;
}
.is-top{
  height: 35px;line-height: 35px;
}
.el-collapse-item__header{
  padding-left: 15px;
}
.el-tabs__header{
  //padding-left: 10px;
}
.el-breadcrumb__inner{
  font-size: @--font-size;
}
.el-table__body-wrapper{
  overflow: inherit;
}
.el-date-editor{
  float: left;
}
.el-select--popper{
  z-index: 3333!important;
}
