<template>
    <!--        班级管理-->
    <div class="class" ref="myRef">
        <div class="head">
            <div class="left">
                <el-input placeholder="请输入班级名称/班级ID" v-model="query.key" class="sarchInput" size="small"
                          clearable></el-input>
                <el-select v-model="query.state" placeholder="状态" size="small" class="selectBox" clearable
                           style="width:120px">
                    <el-option label="正常" value="1"></el-option>
                    <el-option label="停用" value="0"></el-option>
                    <el-option label="已毕业" value="2"></el-option>
                </el-select>
                <el-button type="primary" class="searchBtn" size="small" @click="getData()">搜索</el-button>
            </div>
            <div class="right">
                <el-button type="success" size="small" class="add" @click="showDialog()">添加</el-button>
            </div>
        </div>
        <!--        学生考勤-->
        <div class="tableClass">
            <el-table :data="tableData" border style="width: 100%" class="tableBox" v-loading="loadings" :height="parentHeight - 50"
                      :file-list="fileList">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column :resizable="false" prop="class_name" label="班级名称"></el-table-column>
                <el-table-column :resizable="false" prop="beginyear" label="入学年份" width="=250"></el-table-column>
                <el-table-column :resizable="false" prop="teacherCou" label="老师数量" width="100"></el-table-column>
                <el-table-column :resizable="false" prop="StudentCou" label="学生数量" width="100"></el-table-column>

                <el-table-column prop="state" label="状态" width="170" :resizable="false">
                    <template #default="scope">
                        <el-switch style="display: block"
                                   v-if="scope.row.state != '2'"
                                   v-model="scope.row.stateFlag"
                                   active-color="#13ce66"
                                   inactive-color="#ff4949"
                                   active-text="正常"
                                   inactive-text="停用"
                                   @change="changeFlag(scope.row)"
                        >
                        </el-switch>

                        <div v-else style="color: red">已毕业</div>
                    </template>
                </el-table-column>
                <el-table-column label="操作" width="100" :resizable="false">
                    <template #default="scope">
                        <el-button size="small" @click="showDialog(scope.row)" :disabled="scope.row.state == '2'">编辑</el-button>
                    </template>
                </el-table-column>
            </el-table>

        </div>
        <!--        编辑学校-->
        <el-drawer
                :title="id?('编辑班级'):('添加班级')"
                :size="'40%'"
                v-model="dialogFormVisible"
                :direction="'rtl'"
                :before-close="handleClose" destroy-on-close>
            <div class="edit" v-if="dialogFormVisible">
                <el-form ref="from" :model="d" label-width="80px" @close="closeDialog()" class="commonForm">

                    <el-form-item label="班级ID" prop="class_id" :rules="[ { required: true, message: '班级ID不能为空'} ]">
                        <el-input v-model="d.class_id" autocomplete="off" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="班级名称" prop="class_name" :rules="[ { required: true, message: '班级名称不能为空'} ]">
                        <el-input v-model="d.class_name" autocomplete="off" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="入学年份" prop="beginyear" :rules="[ { required: true, message: '入学年份不能为空'} ]">
                        <el-input v-model="d.beginyear" autocomplete="off" clearable></el-input>
                    </el-form-item>

                    <el-form-item>
                        <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                            <el-button @click="closeDialog()">取 消</el-button>
                            <el-button type="primary" @click="submitForm('from')">确 定</el-button>
                        </div>
                    </el-form-item>
                </el-form>
            </div>

        </el-drawer>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive , ref ,onMounted } from 'vue';
    import {fileHost, areaList, shortcuts} from "@/utils/utils"

    export default defineComponent({
        name: "Class",
        setup() {
            const myRef = ref(null);
            onMounted(() => {
                console.dir(myRef);
            })
            return reactive({
                myRef,
                dialogFormVisible:false,
                schoolType: '', // '' 学校列表 group 分园列表
                query: {
                    key: '', // 学校名称或者id
                    state:'1'
                },
                d: {
                    isEdit:'0',
                    class_id:'',
                    class_name:'',
                    beginyear:''
                },
                total: '1',
                tableData: [],
                menuInfo: [],
                shortcuts: shortcuts()
            })
        },
        data() {
            return {
                loadings: true,
                fileHost: fileHost(),
                areaList: areaList(),
                type: '0',
                value: '',
                gridData: [],
                dialogTableVisible: false,
                currentRow: '',
                isEdit: 0,
                id: '',
                component: 'school',
                dialogFormVisible: false,
                schoolData: [],// 学校分园数据
                parentHeight:'0'
            }
        },
        mounted() {
            this.getData();
            // 获取全部学校和分园
            // this.getSchoolData();
            console.log('this.myRef');

            console.log((this as any).myRef.clientHeight)
            this.parentHeight = (this as any).myRef.clientHeight
        },
        watch: {
            $route() {
                (this as any).type = (this as any).$route.query.type;
                (this as any).component = (this as any).$route.query.component;
            },
            component() {
                if (this.component == 'sign_class') {
                    this.getData();
                }
            }
        },
        methods: {
            changeFlag(item: any) {
                (this as any).axios.post('garden/class/setstate', {
                    class_id: item.class_id
                }, {headers: {token: (this as any).$store.state.token}}).then(((e: any) => {
                    console.log(e);
                    if (e.status === 200) {
                        (this as any).$message.success('成功');
                    }
                }))
            },
            submitForm(formName:string){
                (this as any).$refs[formName].validate((valid:any) => {
                    if(valid){
                        let data:any = Object.assign({},this.d);
                        (this as any).axios.post('garden/class/design', data,{
                            headers: {  token :(this as any).$store.state.token }
                        }).then((t:any)=>{
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.closeDialog();
                                    (this as any).$message.success('成功');
                                    this.getData();
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        });
                    }
                })
            },
            handleClose(done: any) {
                (this as any).$confirm('确认关闭？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.closeDialog();
                    done();
                }).catch(() => {
                });
            },
            closeDialog(){
                this.dialogFormVisible = false;
                let d:any =  {
                    isEdit:'',
                    group_id:'',
                    class_id:'',
                    class_name:'',
                    beginyear:'',
                };
                this.d = Object.assign({},d);
            },
            showDialog(row:any=undefined){
                this.dialogFormVisible = true;

                if(row){
                    this.id  = row.class_id;
                    (this as any).axios.post("garden/class/get", { class_id: row.class_id },{
                        headers: {  token :(this as any).$store.state.token  }
                    }).then((t:any)=>{
                        if (t.status == 200) {
                            if (t.data.success) {
                                console.log(t.data.msg)
                                const o:any = t.data.msg;
                                let d:any = {
                                    isEdit:'1',
                                    class_id:o.class_id,
                                    class_name:o.class_name,
                                    beginyear:o.beginyear
                                };
                                this.d = Object.assign({},d);
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        }
                    });
                }else{
                    let d:any = {
                        isEdit:'0',
                        class_id:'',
                        class_name:'',
                        beginyear:'',
                    };
                    this.d = Object.assign({},d);
                }

            },
            // 删除
            del(row: any) {
                (this as any).axios.post("garden/device_card/delete", {id: row.id}, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        if (e.data.success) {
                            (this as any).$message.success('成功');
                            this.getData()
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },
            getSchoolData() {
                (this as any).axios.post('garden/school/group_list_for_select', {group_id: ''}, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    // console.log('学校',e.data)
                    if (e.status === 200) {
                        if (e.data.success) {
                            this.schoolData = e.data.msg.list
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },


            getData() {
                this.loadings = true;
                let data:any = Object.assign({},this.query);

                (this as any).axios.post('garden/class/list', data, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        this.total = '0';
                        console.log(e)
                        if (d.success) {
                            let arr: any = JSON.parse(JSON.stringify(d.msg.list));
                            arr.map((item: any) => {
                                if (item.state === '1') { // 1正常 0停用
                                    item.stateFlag = true
                                } else {
                                    item.stateFlag = false
                                }
                            });
                            this.total = d.msg.count;
                            console.log(arr)
                            this.tableData = arr;
                        }else{
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                    this.loadings = false;
                })
            },
        }
    })
</script>

<style lang="less" scoped>
    .class{
        margin-top: 10px;overflow: hidden;
        height: calc(100% - 65px);
        .tableClass {

            width: calc(100% - 20px);
            margin: 0 auto 20px auto;

            .tableBox {
                line-height: 35px;
                overflow: inherit;
            }

            .pagin {
                line-height: 35px;
                margin-top: 10px;
            }
        }
    }
    .tabBox {
        width: 100%;
        height: 35px;
        padding-top: 10px;

        .tabsInfo {
        }
    }

    .head {
        /*height: 35px;*/
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        line-height: 35px;
        font-size: @--font-size;

        .selectBox {
            margin-left: 10px;
        }

        .left {
            width: 80%;
            height: 100%;
            float: left;
            text-align: left;

            .sarchInput {
                width: 200px;
                height: 100%;
                line-height: 35px;
                margin-left: 10px;
            }
        }

        .right {
            width: 20%;
            height: 100%;
            float: right;
            text-align: right;

            .add {
                margin-right: 10px;
            }
        }
    }


</style>