<template>
    <div>
        <div class="tabBox">
            <el-tabs v-model="type" type="card" @tab-click="handleClick" class="tabsInfo">
                <el-tab-pane :label="item.label" :name="index.toString()" v-for="(item,index) in menuInfo" :key="index"></el-tab-pane>
            </el-tabs>
        </div>
        <div class="head" style="padding-top: 10px" v-show="component == 'manageruser'">
            <div class="left">
                <el-input placeholder="匹配登录名/姓名" v-model="query.key" class="sarchInput" size="small" clearable></el-input>
                <el-button type="primary" class="search" size="small" @click="getData('1')">搜索</el-button>
            </div>
            <div class="right">
                <el-button type="success" size="small" class="add" @click="showDialog()">添加</el-button>
            </div>
        </div>

<!--        修改密码-->
        <div v-show="component == 'update'" class="updatePass">

            <el-form :label-position="labelPosition" :rules="rules"  ref="formLabelAlign" label-width="80px" :model="formLabelAlign" class="updatePassFrom">
                <el-form-item label="旧密码"  prop="oldpass">
                    <el-input v-model="formLabelAlign.oldpass" clearable></el-input>
                </el-form-item>
                <el-form-item label="新密码" prop="newpass">
                    <el-input v-model="formLabelAlign.newpass" clearable></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="surePass('formLabelAlign')">确定</el-button>
                    <el-button @click="resetPass('formLabelAlign')">重置</el-button>
                </el-form-item>
            </el-form>

        </div>
        <!--        编辑用户-->
        <el-drawer
                :title="id?'编辑':'添加'+'用户'"
                :size="'40%'"
                v-model="dialogFormVisible"
                :direction="'rtl'"
                :before-close="handleClose" destroy-on-close>
            <div class="edit" v-if="dialogFormVisible">
                <el-form ref="from" :model="d" label-width="80px" @close="closeDialog()" class="commonForm" >
                    <el-form-item label="登录名" prop="uname" :rules="[ { required: true, message: '登录名不能为空'} ]">
                        <el-input v-model="d.uname" autocomplete="off" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="姓名" prop="name" :rules="[ { required: true, message: '姓名不能为空'} ]">
                        <el-input v-model="d.name" autocomplete="off" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="密码" prop="pass" :rules="[ { required: !id, message: '密码不能为空'} ]" v-show="!id">
                        <el-input v-model="d.pass" autocomplete="off" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="职位" prop="job" :rules="[ { required: true, message: '职位不能为空'} ]" >
                        <el-input v-model="d.job" autocomplete="off" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="权限" class="checkboxgroup">
                        <div v-for="(a,a_index) in d.authority" :key="a_index" class="authorityItem">
                            <el-checkbox :indeterminate="a.isIndeterminate" v-model="a.checkAll"
                                         @change="selectAllChange($event, a_index)">{{a.label}}</el-checkbox>
                            <el-checkbox-group class="authorityGroup" v-model="a.dvalue"  @change="selectChange($event, a_index)">
                                <el-checkbox v-for="(b,b_index) in a.sub" :key="b_index" :label="b">{{b.label}}</el-checkbox>
                            </el-checkbox-group>
                        </div>
                    </el-form-item>
                    <el-form-item>
                        <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                            <el-button @click="closeDialog()"  >取 消</el-button>
                            <el-button type="primary" @click="submitForm('from')" >确 定</el-button>
                        </div>
                    </el-form-item>
                </el-form>
            </div>

        </el-drawer>
        <div class="table1" ref="myRef">
            <!--        管理员管理-->
            <div v-show="component == 'manageruser'" class="table">
                <el-table :data="tableData" border style="width: 100%" class="tableBox">
                    <template  #empty>
                        <span style="color: #969799;">没有更多数据</span>
                    </template>
                    <el-table-column prop="uname" label="登录名" width="180"></el-table-column>
                    <el-table-column prop="name" label="姓名" width="180"></el-table-column>
                    <el-table-column prop="job" label="职位"></el-table-column>
                    <el-table-column prop="loginnum" label="登录次数"></el-table-column>
                    <el-table-column prop="last_login_time" label="最后登录时间"></el-table-column>
                    <el-table-column  label="编辑" width="170">

                        <template  #default="scope">
                            <el-button  size="mini" @click="showDialog(scope.$index, scope.row)">编辑</el-button>
                            <el-popconfirm
                                    confirmButtonText='好的'
                                    cancelButtonText='不用了'
                                    @confirm="del(scope.$index, scope.row)"
                                    icon="el-icon-info"
                                    iconColor="red"
                                    title="这是一段内容确定删除吗？"
                            >
                                <template #reference>
                                    <el-button  size="mini" type="danger">删除</el-button>
                                </template>
                            </el-popconfirm>
                        </template>

                    </el-table-column>
                </el-table>
                <el-pagination
                        class="pagin"
                        background
                        layout="prev, pager, next"
                        :total="total">
                </el-pagination>
            </div>
            <!--班级-->
            <Class v-if="component=='class'"></Class>
            <!--老师-->
            <Teacher  v-if="component=='teacher'"></Teacher>
            <!--学生-->
            <Student  v-if="component=='student'"></Student>
        </div>

    </div>
</template>

<script lang="ts">
    import {defineComponent,reactive} from 'vue';
    import Class from "./Class.vue";
    import Teacher from "./Teacher.vue";
    import Student from "./Student.vue";

    export default defineComponent({
        name: "manageruser",
        components:{ Class ,Teacher ,Student },
        setup() {
            return reactive({
                query:{
                    key:'',
                    currentpage:'1',
                    pagesize:'10'
                },
                total:'1',
                tableData: [],
                dialogFormVisible: false,
                id: "",
                d: {
                    uname: "",
                    name: "",
                    job:'',
                    pass: "",
                    authority: [],
                },
                defaultAuthority:[],
                menuInfo:[],


            })
        },
        data(){
          return {
              type:'0',
              component:'manageruser',
              labelPosition: 'right',
              formLabelAlign: {
                  oldpass: '',
                  newpass: '',
              },
              rules:{
                  oldpass: [
                      { required: true, message: '请输入旧密码', trigger: 'blur' },
                      { min: 1,  message: '请至少输入六位', trigger: 'blur' }
                  ],
                  newpass: [
                      { required: true, message: '请输入新密码', trigger: 'blur' },
                      { min: 1,  message: '请至少输入六位', trigger: 'blur' }
                  ],
              }
          }
        },
        mounted() {
            // console.log('menu',(this as any).$store.state.menu)
            this.type = (this as any).$route.query.type.toString();
            this.component = (this as any).$route.query.component.toString();
            this.menuInfo = (this as any).$store.state.menu[(this as any).$route.query.routesIndex || 0]['sub'];
            if(this.component == 'manageruser'){
                this.getData();
            }
            // 处理权限 //这个不能直接用，还要处理过，权限是分开的
            let d:any = (this as any).$store.state.allPowerMenu,arr:any=[];
            d.map((e:any)=>{
                let sub:any = [];
                e.sub.forEach((t:any) => {
                    sub.push({
                        label: t.label,
                        component: t.component,
                        show: t.show
                        //url:t.component+"/list",
                    });
                    t.sub.forEach((x:any) => {
                        sub.push({
                            label: x.label,
                            component: x.component,
                            show: t.show,
                            //url:t.component+"/"+x.component,
                            parent: t.component
                        })
                    })
                });
                let obj:any = {
                    label: e.label,
                    sub: sub,
                    checkAll: false,
                    isIndeterminate: false,
                    dvalue: []
                };
                arr.push(obj)
            });
            (this as any).d.authority=arr;
            (this as any).defaultAuthority= JSON.parse(JSON.stringify(arr));
        },
        watch:{
            $route(){
                (this as any).type= (this as any).$route.query.type;
                (this as any).component= (this as any).$route.query.component;
            },
            component() {
                if(this.component == "manageruser"){
                    this.getData();
                }
            }
        },
        methods: {
            handleClose(done:any) {
                (this as any).$confirm('确认关闭？','提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.closeDialog();
                        done();
                }).catch(() => {});
            },
            surePass(formName:any){
                (this as any).$refs[formName].validate((valid:Boolean) => {
                    if (valid) {
                        interface dataType {
                            oldpass: string,newpass:string
                        }
                        let data:dataType = {
                            oldpass:this.formLabelAlign.oldpass,
                            newpass:this.formLabelAlign.newpass
                        };
                        (this as any).axios.post('garden/editpass', data,{
                            headers: {  token :(this as any).$store.state.token }
                        }).then((e:any)=>{
                            if(e.status === 200){
                                if(e.data.success){
                                    (this as any).$message.success("修改成功");
                                    this.$router.replace("/")
                                }else{
                                    (this as any).$message.error(e.data.err);
                                }
                            }
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetPass(){
                (this as any).formLabelAlign.oldpass = '';
                (this as any).formLabelAlign.newpass = ''
            },
            handleClick(tab:any) {
                this.$router.push({
                    query:{
                        type: tab.index,
                        component: this.menuInfo[tab.index]['component']
                    }
                })
            },
            // 获取管理员
            getData(currentpage:string = ''){
                interface dataType {
                    key: string,currentpage:string,pagesize:string
                }
                let data: dataType = {
                    key: this.query.key,  // 如果code的类型错误 则编译失败
                    currentpage: this.query.currentpage,  // 如果code的类型错误 则编译失败
                    pagesize: this.query.pagesize  // 如果code的类型错误 则编译失败
                };
                if(currentpage){
                    data.currentpage = '1'
                }
                (this as any).axios.post('garden/manageruser/list', data,{
                    headers: {
                        token :(this as any).$store.state.token
                    }
                }).then((e:any) => {
                    console.log(e)
                    if(e.status === 200){
                        let d:any = e.data;
                        this.tableData = [];
                        this.total = '0';
                        if(d.success){
                            this.total = d.msg.count;
                            this.tableData  = d.msg.list;
                        }else{
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut','').then(()=>{
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },
            // 删除管理员
            del(index:number , row:any){
                console.log(index,row);
                (this as any).axios.post("garden/manageruser/delete", { id: row.id,me:(this as any).$store.state.userid },{
                    headers: {  token :(this as any).$store.state.token  }
                }).then((e:any)=>{
                    console.log('del',e)
                    if(e.status === 200){
                        if(e.data.success){
                            (this as any).$message.success('成功');
                            this.getData('1')
                        }
                    }
                })
            },
            closeDialog(){
                this.dialogFormVisible = false;
                this.id = '';
                let d:any =  {
                    uname: "",
                    name: "",
                    pass: "",
                    authority: this.defaultAuthority
                };
                this.d = Object.assign({},d);
                console.log("初始化",(this as any).d)
                this.$forceUpdate();
            },
            showDialog(index: number=0, row: any=undefined) {
                this.dialogFormVisible = true;
                if(row){
                    this.id = row.id
                }
                if(this.id !== ""){
                    (this as any).axios.post("garden/manageruser/get", { id: this.id },{
                        headers: {  token :(this as any).$store.state.token  }
                    }).then((t:any) => {
                        if (t.status == 200) {
                            if (t.data.success) {
                                let tmp_authority = t.data.msg.authority; //这是返回的用户的权限，先存起来
                                let defaultA:any= JSON.parse(JSON.stringify( this.defaultAuthority));
                                t.data.msg.authority = defaultA; //这样，才可以进行下面的循环
                                (this as any).d= {...this.d, ...t.data.msg };
                                //给权限赋值
                                defaultA.forEach((x:any) => {
                                    //在t.data.msg.authority中找x.sub，有的话，存入x.dvalue
                                    x.sub.forEach((xs:any) => {
                                        tmp_authority.forEach((u:any) => {
                                            u.sub.forEach((us:any) => {
                                                if(us.component==xs.component && us.label == xs.label){
                                                    x.dvalue.push(xs)
                                                }
                                                us.sub.forEach((uu:any) =>{
                                                    if(uu.component==xs.component && uu.label==xs.label){
                                                        x.dvalue.push(xs)
                                                    }
                                                })
                                            })
                                        })
                                    })
                                });

                                //最外围的全选显示问题
                                defaultA.forEach((x:any) => {
                                    let checkedCount = x.dvalue.length;
                                    x.checkAll = checkedCount === x.sub.length;
                                    x.isIndeterminate = checkedCount > 0 && checkedCount < x.sub.length;
                                });
                                this.d.authority = defaultA;
                                // console.log('123',this.d.defaultAuthority)
                                // this.$forceUpdate()
                                // this.d = Object.assign({},this.d)
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        } else {
                            (this as any).$message.error('获取管理员失败');
                        }
                        this.$forceUpdate();
                    })

                }
            },
            selectAllChange(val:any, i:any) {
                (this as any).d.authority[i].dvalue = val ? (this as any).d.authority[i].sub : [];
                (this as any).d.authority[i].isIndeterminate = false;
            },
            selectChange(val:any, i:any) {
                let checkedCount = val.length;
                (this as any).d.authority[i].checkAll = checkedCount === (this as any).d.authority[i].sub.length;
                (this as any).d.authority[i].isIndeterminate = checkedCount > 0 && checkedCount < (this as any).d.authority[i].sub.length;
            },
            submitForm(formName:any) {
                let ary:any = [], flag:any = [];
                (this as any).d.authority.forEach((t:any) => {
                    if (t.dvalue.length > 0) {
                        let par:any = { label: t.label, component: "", sub: [] };
                        let tmp:any = {}
                        t.dvalue.forEach((p:any) => {
                            let pc = p.parent || p.component;
                            if (tmp[pc]) { //有，这时实际要把子项往里放
                                if (p.parent) {
                                    // delete p.parent
                                    flag.push(p.parent+"/"+p.component)
                                    tmp[pc].sub.push({label:p.label,component:p.component,show:p.show})
                                    tmp[pc].show=p.show
                                } else{
                                    flag.push(p.component+"/list")
                                    tmp[pc].label = p.label
                                    tmp[pc].show=p.show
                                }
                            } else { //没有，此时要新建
                                tmp[pc] = { sub: [] };
                                tmp[pc].component = pc;
                                if (p.parent) {
                                    // delete p.parent
                                    flag.push(p.parent+"/"+p.component)
                                    tmp[pc].sub.push({label:p.label,component:p.component,show:p.show})
                                    tmp[pc].show=p.show
                                } else{
                                    flag.push(p.component+"/list")
                                    tmp[pc].label = p.label
                                    tmp[pc].show=p.show
                                }
                            }
                        });
                        Object.values(tmp).forEach((p:any) => {
                            par.sub.push(p)
                        });
                        ary.push(par)
                    }
                });
                (this as any).$refs[formName].validate((valid:Boolean) => {
                    if (valid) {
                        let data:any = {
                            ...this.d,
                        };
                        if(this.id){
                            data.id = this.id
                        }
                        data.authority = JSON.stringify(ary);
                        data.flag = JSON.stringify(flag);
                        data.area = '01';
                        // console.log(data)
                        (this as any).axios.post('garden/manageruser/design', data,{
                            headers: {  token :(this as any).$store.state.token }
                        }).then((t:any) => {
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.dialogFormVisible = false ;
                                    this.getData('1');
                                    (this as any).$message.success('成功');
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        })
                    } else {
                        return false;
                    }
                });
            }

        }
    })
</script>

<style lang="less" scoped>
    .tabBox{
        width:100%;height: 35px;padding-top: 10px;
        .tabsInfo{
        }
    }
    .updatePass{
        width: 100%;margin-top: 20px;
        .updatePassFrom{
            width: 600px;margin: 0 auto;
        }
    }
    .head {
        /*height: 35px;*/
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        line-height: 35px;
        font-size: @--font-size;

        .left {
            width: 80%;
            height: 100%;
            float: left;
            text-align: left;

            .sarchInput {
                width: 200px;
                height: 100%;
                line-height: 35px;
                margin-right: 10px;
            }

            .sarchInput:nth-of-type(1) {
                margin-left: 10px;
            }
        }

        .right {
            width: 20%;
            height: 100%;
            float: right;
            text-align: right;

            .add {
                margin-right: 10px;
            }
        }
    }

    .table {
        overflow: inherit;
        height: calc(100% - 115px);
        width: calc(100% - 20px);
        /*background: #2c3e50;*/
        margin: 0 auto;
        .tableBox{
            line-height: 35px;overflow: inherit;
        }
        .pagin{
            line-height: 35px;margin-top: 10px;
        }
    }
    .table1 {
        height: 100%;
        width: 100%;
    }
</style>