<template>
    <div  class="class" ref="myRef">
        <div class="head">
            <div class="left">
                <i class="el-icon-back" style="font-size: 25px;cursor:pointer;margin-left: 5px" @click="back"></i>
                <el-input placeholder="请输入学生姓名/卡号" v-model="query.key_student" class="sarchInput" size="small"
                          clearable></el-input>
                <el-input placeholder="请输入家长手机号/卡号" v-model="query.key_parent" class="sarchInput" size="small"
                          clearable></el-input>
                <el-select v-model="query.state" placeholder="学生状态" size="small" class="selectBox" clearable
                           style="width:120px">
                    <el-option label="正常" value="1"></el-option>
                    <el-option label="停用" value="0"></el-option>
                </el-select>
                <el-select v-model="query.class_id" placeholder="请选择班级" style="width:120px" size="small" class="selectBox" clearable>
                    <el-option
                            v-for="item in classData"
                            :key="item.class_id"
                            :label="item.class_name"
                            :value="item.class_id"></el-option>
                </el-select>
                <el-button type="primary" class="search" size="small" @click="getData('1')">搜索</el-button>
                <el-button type="primary" class="search" size="small" @click="exportStu">学生导出</el-button>
            </div>
            <div class="right">
                <el-button type="success" size="small" class="add" @click="showDialog()">添加学生</el-button>
            </div>
        </div>
        <div class="table">
            <el-table :data="tableData" border style="width: 100%" class="tableBox"  :height="parentHeight - 100">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column :resizable="false" prop="student_id" label="学生ID" width="100"></el-table-column>
                <el-table-column :resizable="false" prop="name" label="姓名"></el-table-column>
                <el-table-column :resizable="false" prop="sex" label="性别" width="50">
                    <template #default="scope">
                        <div>{{scope.row.sex== '1'?'男':"女"}}</div>
                    </template>
                </el-table-column>
                <el-table-column prop="prcture" label="头像" width="100" :resizable="false">
                    <template #default="scope">
                        <img v-if="scope.row.prcture" :src="fileHost +'headimg/' + scope.row.prcture" alt=""
                             style="height:40px;width: auto" @click="showImg(fileHost +'headimg/' + scope.row.prcture)"/>
                        <psan v-if="scope.row.prcture" @click="del(scope.row,scope.$index)" style="cursor: pointer;margin-left: 10px">删除</psan>
                    </template>
                </el-table-column>
                <el-table-column :resizable="false" prop="birthday" label="生日"></el-table-column>
                <el-table-column :resizable="false" prop="num" label="学号" width="50"></el-table-column>
                <el-table-column :resizable="false" prop="class_name" label="班级"></el-table-column>
                <el-table-column :resizable="false" label="家长" prop="parents" width="737">
                    <template #default="scope">
                        <el-table :data="scope.row.parents" border>
                            <el-table-column :resizable="false" prop="parent_id" label="家长ID" width="70"></el-table-column>
                            <el-table-column :resizable="false" prop="callname" label="称呼" width="60"></el-table-column>
                            <el-table-column :resizable="false" prop="mobile" label="手机号" width="110"></el-table-column>
                            <el-table-column :resizable="false" prop="prcture" label="头像" width="100">
                                <template #default="scope1">
                                    <img v-if="scope1.row.prcture" :src="fileHost +'headimg/' + scope1.row.prcture" alt=""
                                         style="height:40px;width: auto" @click="showImg(fileHost +'headimg/' + scope1.row.prcture)"/>
                                    <psan v-if="scope1.row.prcture" @click="delParent(scope1.row,scope1.$index,scope.row,scope.$index)" style="cursor: pointer;margin-left: 10px">删除</psan>
                                </template>
                            </el-table-column>
                            <el-table-column :resizable="false" prop="card" label="卡号" width="110"></el-table-column>
                            <el-table-column :resizable="false" label="操作">
                                <template #default="scopes">
                                    <el-button size="small" @click="editPar(scope.row,scopes.row)" :disabled="scope.row.state=='2'">编辑家长</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div v-if="scope.row.parents.length<7" style="margin-top: 10px">
                            <el-button type="success" size="small" @click="addPar(scope.row)" :disabled="scope.row.state=='2'">添加家长</el-button>
                        </div>
                    </template>
                </el-table-column>


                <el-table-column prop="state" label="状态" width="150" :resizable="false">
                    <template #default="scope">
                        <el-switch style="display: block"
                                   :disabled="scope.row.state=='2'"
                                   v-model="scope.row.stateFlag"
                                   active-color="#13ce66"
                                   inactive-color="#ff4949"
                                   active-text="正常"
                                   inactive-text="停用"
                                   @change="changeFlag(scope.row)"
                        >
                        </el-switch>
                    </template>
                </el-table-column>
                <el-table-column label="操作" width="170" :resizable="false">
                    <template #default="scope">
                        <el-button size="small" @click="showDialog(scope.row)" :disabled="scope.row.state=='2'">编辑</el-button>
                        <el-popover placement="right" :width="400" trigger="manual"  v-model:visible="scope.row.showPop" >
                            <template #reference>
                                <el-button size="small" type="primary" @click="turnS(scope.row,scope.$index)" :disabled="scope.row.state=='2'">转班
<!--                                <el-button size="small" type="primary" @click="teacherId=scope.row.teacher_id">转校-->
                                </el-button>
                            </template>
                            <el-form :label-position="labelPosition" label-width="100px" :model="formLabelAlign"
                                     ref="from1">
                                <el-form-item>
                                    要转到的班级
                                </el-form-item>
                                <el-form-item label="学号">
                                    <el-input v-model="formLabelAlign.num" size="small" clearable maxlength="10"  show-word-limit style="width: 150px"></el-input>
                                </el-form-item>
                                <el-form-item label="请选择班级">
                                    <el-select v-model="formLabelAlign.class_id" placeholder="请选择班级" width="170" size="small">
                                        <el-option
                                                v-for="item in classData"
                                                :key="item.class_id"
                                                :label="item.class_name"
                                                :value="item.class_id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item>
                                    <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                                        <el-button size="small" @click="turnTeacherCancel(scope.$index)">取 消</el-button>
                                        <el-button size="small" type="primary" @click="turnTeacher('from1',scope.$index,scope.row)">确 定</el-button>
                                    </div>
                                </el-form-item>
                            </el-form>
                        </el-popover>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    class="pagin"
                    background
                    layout="prev, pager, next"
                    :total="total"
                    :current-page="query.currentpage"
                    @current-change="pagechange"
            >
            </el-pagination>
        </div>
        <!--        编辑学生-->
        <el-drawer :title="d.student_id!='0'?('编辑学生'):('添加学生')" :size="'40%'" v-model="dialogFormVisible" :direction="'rtl'"
                   :before-close="handleClose" destroy-on-close>
            <div class="edit">
                <el-form ref="from" :model="d" label-width="80px" @close="closeDialog()" class="commonForm" >
                    <el-form-item label="名称" prop="name" :rules="[ { required: true, message: '名称不能为空'} ]">
                        <el-input v-model="d.name" autocomplete="off" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="读音" prop="name_speak" :rules="[ { required: true, message: '读音不能为空'} ]">
                        <el-input v-model="d.name_speak" autocomplete="off" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="性别" >
                        <el-radio-group v-model="d.sex" style="float: left;margin-top: 13px">
                            <el-radio :label="'1'">男</el-radio>
                            <el-radio :label="'2'">女</el-radio>
                        </el-radio-group>
                    </el-form-item>

                    <el-form-item label="学号" prop="num" :rules="[ { required: true, message: '学号不能为空'} ]">
                        <el-input v-model="d.num" autocomplete="off"  clearable></el-input>
                    </el-form-item>
                    <el-form-item label="身份证">
                        <el-input v-model="d.idcard" autocomplete="off" maxlength="18" show-word-limit clearable></el-input>
                    </el-form-item>
                    <el-form-item label="卡号">
                        <el-autocomplete
                                class="inline-input inlineInputs"
                                v-model="d.card"
                                :fetch-suggestions="querySearch"
                                placeholder="请输入内容"
                                @select="handleSelect"
                                clearable
                                show-word-limit maxlength="10"
                        ></el-autocomplete>
                    </el-form-item>
                    <el-form-item label="生日">
                        <el-date-picker
                                v-model="d.birthday"
                                type="date"
                                placeholder="选择日期"
                                style="width:200px;float: left"
                                format="YYYY-MM-DD"
                        >
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="班级" prop="class_id" :rules="[ { required: true, message: '班级不能为空'} ]">
                        <el-select v-model="d.class_id" placeholder="请选择班级" width="170" style="float: left;">
                            <el-option
                                    v-for="item in classData"
                                    :key="item.class_id"
                                    :label="item.class_name"
                                    :value="item.class_id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item v-if="d.student_id=='0'" label="家长" prop="parents" >
                        <div class="par">
                            <el-input placeholder="家长手机" v-model="q1.mobile" clearable show-word-limit maxlength="11"></el-input>
<!--                            <el-input placeholder="家长卡号" v-model="q1.card" clearable></el-input>-->
<!--                            <el-select v-model="q1.card" filterable placeholder="卡号" clearable class="selectCard">-->
<!--                                <el-option :label="'0000000000'"  :value="'0000000000'"></el-option>-->
<!--                            </el-select>-->
                            <el-autocomplete
                                    class="inline-input inlineInputs selectCard"
                                    v-model="q1.card"
                                    :fetch-suggestions="querySearch"
                                    placeholder="卡号"
                                    @select="handleSelect"
                                    clearable
                                    show-word-limit maxlength="10"
                            ></el-autocomplete>
<!--                            <el-input placeholder="家长称呼" v-model="q1.call" clearable></el-input>-->
                            <el-select v-model="q1.call" placeholder="家长称呼" style="float: left" clearable>
                                <el-option v-for="(item,index) in callNameList" :label="item.label" :key="index" :value="item.value"></el-option>
                            </el-select>
                        </div>
                        <div class="par">
                            <el-input placeholder="家长手机" v-model="q2.mobile" clearable show-word-limit maxlength="11"></el-input>
<!--                            <el-input placeholder="家长卡号" v-model="q2.card" clearable></el-input>-->
<!--                            <el-select v-model="q2.card" filterable placeholder="卡号" clearable  class="selectCard">-->
<!--                                <el-option :label="'0000000000'"  :value="'0000000000'"></el-option>-->
<!--                            </el-select>-->
                            <el-autocomplete
                                    class="inline-input inlineInputs selectCard"
                                    v-model="q2.card"
                                    :fetch-suggestions="querySearch"
                                    placeholder="卡号"
                                    @select="handleSelect"
                                    clearable
                                    show-word-limit maxlength="10"
                            ></el-autocomplete>
<!--                            <el-input placeholder="家长称呼" v-model="q2.call" clearable></el-input>-->
                            <el-select v-model="q2.call" placeholder="家长称呼" style="float: left" clearable>
                                <el-option v-for="(item,index) in callNameList" :label="item.label" :key="index" :value="item.value"></el-option>
                            </el-select>
                        </div>
                        <div class="par">
                            <el-input placeholder="家长手机" v-model="q3.mobile" clearable show-word-limit maxlength="11"></el-input>
<!--                            <el-input placeholder="家长卡号" v-model="q3.card" clearable></el-input>-->
<!--                            <el-select v-model="q3.card" filterable placeholder="卡号" clearable  class="selectCard">-->
<!--                                <el-option :label="'0000000000'"  :value="'0000000000'"></el-option>-->
<!--                            </el-select>-->
                            <el-autocomplete
                                    class="inline-input inlineInputs selectCard"
                                    v-model="q3.card"
                                    :fetch-suggestions="querySearch"
                                    placeholder="卡号"
                                    @select="handleSelect"
                                    clearable
                                    show-word-limit maxlength="10"
                            ></el-autocomplete>
<!--                            <el-input placeholder="家长称呼" v-model="q3.call" clearable></el-input>-->
                            <el-select v-model="q3.call" placeholder="家长称呼" style="float: left" clearable>
                                <el-option v-for="(item,index) in callNameList" :label="item.label" :key="index" :value="item.value"></el-option>
                            </el-select>
                        </div>
                        <div class="par">
                            <el-input placeholder="家长手机" v-model="q4.mobile" clearable show-word-limit maxlength="11"></el-input>
<!--                            <el-input placeholder="家长卡号" v-model="q4.card" clearable></el-input>-->
                            <el-autocomplete
                                    class="inline-input inlineInputs selectCard"
                                    v-model="q4.card"
                                    :fetch-suggestions="querySearch"
                                    placeholder="卡号"
                                    @select="handleSelect"
                                    clearable
                                    show-word-limit maxlength="10"
                            ></el-autocomplete>
<!--                            <el-input placeholder="家长称呼" v-model="q4.call" clearable></el-input>-->
                            <el-select v-model="q4.call" placeholder="家长称呼" style="float: left" clearable>
                                <el-option v-for="(item,index) in callNameList" :label="item.label" :key="index" :value="item.value"></el-option>
                            </el-select>
                        </div>
                        <div class="par">
                            <el-input placeholder="家长手机" v-model="q5.mobile" clearable show-word-limit maxlength="11"></el-input>
<!--                            <el-input placeholder="家长卡号" v-model="q5.card" clearable></el-input>-->
                            <el-autocomplete
                                    class="inline-input inlineInputs selectCard"
                                    v-model="q5.card"
                                    :fetch-suggestions="querySearch"
                                    placeholder="卡号"
                                    @select="handleSelect"
                                    clearable
                                    show-word-limit maxlength="10"
                            ></el-autocomplete>
<!--                            <el-input placeholder="家长称呼" v-model="q5.call" clearable></el-input>-->
                            <el-select v-model="q5.call" placeholder="家长称呼" style="float: left" clearable>
                                <el-option v-for="(item,index) in callNameList" :label="item.label" :key="index" :value="item.value"></el-option>
                            </el-select>
                        </div>
                        <div class="par">
                            <el-input placeholder="家长手机" v-model="q6.mobile" clearable show-word-limit maxlength="11"></el-input>
<!--                            <el-input placeholder="家长卡号" v-model="q6.card" clearable></el-input>-->
                            <el-autocomplete
                                    class="inline-input inlineInputs selectCard"
                                    v-model="q6.card"
                                    :fetch-suggestions="querySearch"
                                    placeholder="卡号"
                                    @select="handleSelect"
                                    clearable
                                    show-word-limit maxlength="10"
                            ></el-autocomplete>
<!--                            <el-input placeholder="家长称呼" v-model="q6.call" clearable></el-input>-->
                            <el-select v-model="q6.call" placeholder="家长称呼" style="float: left" clearable>
                                <el-option v-for="(item,index) in callNameList" :label="item.label" :key="index" :value="item.value"></el-option>
                            </el-select>
                        </div>
                        <div class="par">
                            <el-input placeholder="家长手机" v-model="q7.mobile" clearable show-word-limit maxlength="11"></el-input>
<!--                            <el-input placeholder="家长卡号" v-model="q7.card" clearable></el-input>-->
                            <el-autocomplete
                                    class="inline-input inlineInputs selectCard"
                                    v-model="q7.card"
                                    :fetch-suggestions="querySearch"
                                    placeholder="卡号"
                                    @select="handleSelect"
                                    clearable
                                    show-word-limit maxlength="10"
                            ></el-autocomplete>
<!--                            <el-input placeholder="家长称呼" v-model="q7.call" clearable></el-input>-->
                            <el-select v-model="q7.call" placeholder="家长称呼" style="float: left" clearable>
                                <el-option v-for="(item,index) in callNameList" :label="item.label" :key="index" :value="item.value"></el-option>
                            </el-select>
                        </div>
                    </el-form-item>


                    <el-form-item>
                        <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                            <el-button @click="closeDialog()">取 消</el-button>
                            <el-button type="primary" @click="submitForm('from')">确 定</el-button>
                        </div>
                    </el-form-item>
                </el-form>
            </div>
        </el-drawer>
<!--编辑家长-->
        <el-dialog :title="addParTitle" v-model="addParFormFlag">
            <el-form :model="addParForm" ref="addPar">
                <el-form-item label="手机号" :label-width="'120px'" prop="mobile" :rules="[ { required: true, message: '手机号不能为空'} ]">
                    <el-input v-model="addParForm.mobile" autocomplete="off"   clearable
                              show-word-limit maxlength="11"></el-input>
                </el-form-item>
                <el-form-item label="卡号" :label-width="'120px'" prop="card" :rules="[ { required: true, message: '卡号不能为空'} ]">
<!--                    <el-select v-model="addParForm.card" filterable placeholder="卡号" clearable style="float: left">-->
<!--                        <el-option :label="'0000000000'"  :value="'0000000000'"></el-option>-->
<!--                    </el-select>-->
                    <el-autocomplete
                            class="inline-input inlineInputs selectCard"
                            v-model="addParForm.card"
                            :fetch-suggestions="querySearch"
                            placeholder="卡号"
                            @select="handleSelect"
                            clearable
                            show-word-limit maxlength="10"
                    ></el-autocomplete>
                </el-form-item>
                <el-form-item label="称呼" :label-width="'120px'" prop="callname" :rules="[ { required: true, message: '称呼不能为空'} ]">
                    <el-select v-model="addParForm.callname" placeholder="请选择称呼" style="float: left" clearable>
                        <el-option v-for="(item,index) in callNameList" :label="item.label" :key="index" :value="item.value"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <template #footer>
                <span class="dialog-footer">
                  <el-button @click="cancelAddPar()">取 消</el-button>
                  <el-button type="primary" @click="sureAddPar('addPar')">确 定</el-button>
                </span>
            </template>
        </el-dialog>
<!--        头像预览-->
        <el-dialog v-model="dialogImg">
            <img style="width:auto;height: 100%" :src="dialogImageUrl" alt="">
        </el-dialog>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive, ref, onMounted} from 'vue';
    import { formatDate,fileHost } from "@/utils/utils"
    export default defineComponent({
        name: "Student",
        setup() {
            const restaurants:any = ref([]);
            const querySearch:any = (queryString:string, cb:any) => {
                let results = queryString
                    ? restaurants.value.filter(createFilter(queryString))
                    : restaurants.value;
                // 调用 callback 返回建议列表的数据
                cb(results);
            };
            const createFilter = (queryString:string) => {
                return (restaurant:any) => {
                    return (
                        restaurant.value.toLowerCase().indexOf(queryString.toLowerCase()) ===
                        0
                    );
                };
            };
            const loadAll = () => { return [{value: "0000000000", address: "0000000000" }]  };
            const handleSelect = (item:any) => {
                console.log(item);
            };
            onMounted(() => {
                restaurants.value = loadAll();
            });

            const myRef = ref(null);
            return reactive({fileHost:fileHost(),
                    myRef,
                    parentHeight:'0',
                restaurants,
                querySearch,
                createFilter,
                loadAll,
                handleSelect,
                d: {
                    isEdit: '',
                    student_id: '0',
                    name: '',
                    name_speak: '',
                    birthday: '',
                    sex: '1',
                    num: '0',
                    idcard: '',
                    card: ref(''),
                    parentJson: '',
                    class_id: '',
                },

                callNameList:[
                    {name:'爸爸',value:'爸爸'},
                    {name:'妈妈',value:'妈妈'},
                    {name:'爷爷',value:'爷爷'},
                    {name:'奶奶',value:'奶奶'},
                    {name:'外公',value:'外公'},
                    {name:'外婆',value:'外婆'},
                    {name:'其他',value:'其他'},
                ],
                isEditPar:false,
                addParTitle:"添加家长",
                addParFormFlag:false,
                addParForm:{
                    mobile:'',
                    card:'',
                    callname:'',
                    student_id:'',
                    class_id:'',
                },
                teacherId: '',
                labelPosition: 'right',
                formLabelAlign: {
                    num: '',
                    group_id: '',
                    class_id:'',
                },
                query: {
                    key_student: '', // 学校名称或者id
                    key_parent: '', // 学校名称或者id
                    class_id: '', // 学校名称或者id
                    state: '1', // 用户状态 1 正常 0 停用
                    currentpage: '1',
                    pagesize: '10',
                },
                total: '1',
                tableData: [],
                menuInfo: [],
                dialogFormVisible: false,
                d_sex:'2',

                q1: {mobile: '', card: "", call: ''},
                q2: {mobile: '', card: "", call: ''},
                q3: {mobile: '', card: "", call: ''},
                q4: {mobile: '', card: "", call: ''},
                q5: {mobile: '', card: "", call: ''},
                q6: {mobile: '', card: "", call: ''},
                q7: {mobile: '', card: "", call: ''},
                classList:[]
            })
        },
        data() {
            return {
                groupType: '', // class teacher student
                classData: [],
                checkedCities: [],
                schoolData: [],
                dialogImg:false,
                dialogImageUrl:''
            }
        },
        props: {
            groupId: {
                type: String,   // 我们接收验证的是字符串 也可以验证别的类型
                default: ""
            }
        },
        mounted() {
            this.getData();
            // 获取班级列表
            this.getClassData();
            this.parentHeight = (this as any).myRef.clientHeight
        },
        methods: {
            showImg(url:string){
              this.dialogImg = true;
              this.dialogImageUrl = url;
            },
            del(row:any,index:any){
                const that:any = this;
                that.axios.post('garden/student/delprcture', {
                    student_id: row.student_id
                }, {headers: {token: (this as any).$store.state.token}}).then((e:any)=>{
                    if (e.status === 200) {
                        if (e.data.success) {
                            that.tableData[index]['prcture'] = '';
                            that.$message.success('成功');
                            console.log(that.tableData);
                        } else {
                            (this as any).$message.error(e.data.err);
                        }

                    }
                })
            },
            delParent(row:any,index:any,rowP:any,indexP:any){
                const that:any = this;
                console.log({
                    student_id: rowP.student_id,
                    parent_id: row.parent_id,
                })
                that.axios.post('garden/student/parent_delprcture', {
                    student_id: rowP.student_id,
                    parent_id: row.parent_id,

                }, {headers: {token: (this as any).$store.state.token}}).then((e:any)=>{
                    if (e.status === 200) {
                        if (e.data.success) {
                            that.$message.success('成功');
                            console.log(index)
                            console.log(indexP)
                            console.log(that.tableData)
                            that.tableData[indexP]['parents'][index]['prcture'] = '';
                        } else {
                            (this as any).$message.error(e.data.err);
                        }

                    }
                })
            },
            turnS(row:any,index:number){
                this.teacherId=row.teacher_id;
                (this as any).tableData[index]['showPop'] = true;
            },
            // 导出学生
            exportStu(){
                let d: any = Object.assign({}, this.query);
                (this as any).axios.post('garden/student/export_list', d, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e:any)=>{
                   if(e.status === 200){
                       if(e.data.success){
                           console.log(e.data.msg)
                           // let elemIF = document.createElement("iframe");
                           // elemIF.src = 'http://manager.zhhost.top/static/' + e.data.msg;
                           // elemIF.style.display = "none";
                           // document.body.appendChild(elemIF);

                           window.open('http://server.zhhost.top/export/' + e.data.msg)
                       }else{
                           (this as any).$message.error(e.data.err);
                       }
                   }
                });
            },
            // 修改家长
            editPar(row:any,rows:any){
                this.addParTitle = '编辑（ ' + row.name + ' )的家长';
                this.addParFormFlag = true;
                this.isEditPar = true;
                let d:any={
                    mobile:rows.mobile,
                    card:rows.card,
                    callname:rows.callname,
                    student_id:row.student_id,
                    class_id:row.class_id,
                    parent_id:rows.parent_id
                };
                console.log('rows',rows);
                console.log(d );

                this.addParForm = Object.assign({},d);
            },
            // 单条添加学生的家长
            addPar(row:any){
              this.addParTitle = '添加（' + row.name + ')的家长';
              this.addParFormFlag = true;
              this.isEditPar = false;
              console.log(row);
              this.addParForm.class_id = row.class_id;
              this.addParForm.student_id = row.student_id;
            },
            cancelAddPar(){
                this.addParFormFlag = false;
                let d:any={
                    mobile:'',
                    card:'',
                    callname:'',
                    student_id:'',
                    class_id:'',
                };
                this.addParForm=Object.assign({},d);
                (this as any).$refs['addPar'].resetFields();
            },
            sureAddPar(formName:string){
                (this as any).$refs[formName].validate((valid: any) => {
                    if (valid) {
                        if(this.isEditPar){
                            (this as any).axios.post('garden/student/parent_update', this.addParForm, {headers: {token: (this as any).$store.state.token}}).then((e: any) => {
                                if (e.status === 200) {
                                    if (e.data.success) {
                                        (this as any).$message.success('成功');
                                        this.cancelAddPar();
                                        this.getData()
                                    } else {
                                        (this as any).$message.error(e.data.err);
                                    }

                                }
                            })
                        }else{
                            (this as any).axios.post('garden/student/parent_add', this.addParForm, {headers: {token: (this as any).$store.state.token}}).then((e: any) => {
                                if (e.status === 200) {
                                    if (e.data.success) {
                                        (this as any).$message.success('成功');
                                        this.cancelAddPar();
                                        this.getData()
                                    } else {
                                        (this as any).$message.error(e.data.err);
                                    }

                                }
                            })
                        }

                    }
                })

            },
            // 改变学生家长的状态
            changeParentFlag(row: any) {
                (this as any).axios.post('garden/school_student/parent_setstate', {
                    parent_id: row.parent_id
                }, {headers: {token: (this as any).$store.state.token}}).then(((e: any) => {
                    console.log(e);
                    if (e.status === 200) {
                        if (e.data.success) {
                            (this as any).$message.success('成功');
                        } else {
                            (this as any).$message.error(e.data.err);
                        }

                    }
                }))
            },
            pagechange(val: any) {
                this.query.currentpage = val.toString();
                this.getData()
            },
            turnTeacherCancel(index:number){
                (this as any).tableData[index]['showPop'] = false;
            },
            turnTeacher(formName: string,index:number,row:any) {

                (this as any).$refs[formName].validate((valid: any) => {
                    if (valid) {
                        let data: any = {
                            student_id: row.student_id,
                            class_id: this.formLabelAlign.class_id,
                            num: this.formLabelAlign.num,
                        };

                        (this as any).axios.post('garden/student/turn', data, {
                            headers: {token: (this as any).$store.state.token}
                        }).then((e: any) => {
                            if (e.status === 200) {
                                if (e.data.success) {
                                    this.teacherId='';
                                    (this as any).tableData[index]['showPop'] = false;
                                    this.getData();
                                    this.teacherId = ''
                                    this.formLabelAlign.num = ''
                                    this.formLabelAlign.group_id = ''
                                }
                            }
                        });
                    }
                })
            },
            getClassData() {
                (this as any).axios.post('garden/class/selectList', {}, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        if (d.success) {
                            let arr: any = JSON.parse(JSON.stringify(d.msg.list));
                            this.classData = arr;
                        }
                    }
                })
            },
            back() {
                this.$emit('childBack', '')
            },
            changeFlag(row: any) {
                (this as any).axios.post('garden/student/setstate', {
                    student_id: row.student_id
                }, {headers: {token: (this as any).$store.state.token}}).then(((e: any) => {
                    console.log(e);
                    if (e.status === 200) {
                        if (e.data.success) {
                            (this as any).$message.success('成功');
                        } else {
                            (this as any).$message.error(e.data.err);
                        }

                    }
                }))
            },
            submitForm(formName: string) {
                (this as any).$refs[formName].validate((valid: any) => {
                    if (valid) {
                        let data: any = Object.assign({}, this.d);
                        let ad: any = [
                            (this as any).q1,
                            (this as any).q2,
                            (this as any).q3,
                            (this as any).q4,
                            (this as any).q5,
                            (this as any).q6,
                            (this as any).q7,
                        ];
                        data.birthday = formatDate(data.birthday);
                        data.parentJson = JSON.stringify(ad);
                        data.parents = ad;
                        // data.sex = this.d_sex;
                        if(data.birthday.indexOf("-")>-1){
                            let arr:Array<string> = data.birthday.split("-");
                            data.birthday = arr.join("")
                        }
                        (this as any).axios.post('garden/student/design', data, {
                            headers: {token: (this as any).$store.state.token}
                        }).then((t: any) => {
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.closeDialog();
                                    (this as any).$message.success('成功');
                                    this.getData();
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        });
                    }
                })
            },
            handleClose(done: any) {
                (this as any).$confirm('确认关闭？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.closeDialog();
                    done();
                }).catch(() => {
                });
            },
            closeDialog() {
                this.dialogFormVisible = false;
                let d: any = {
                    isEdit: '0',
                    student_id: '0',
                    name: '',
                    name_speak: '',
                    birthday: '',
                    sex: '',
                    num: '0',
                    idcard: '',
                    card: '',
                    parentJson: '',
                    class_id: '',
                };
                this.checkedCities = []
                // this.d_sex = '2';
                this.d = Object.assign({}, d);
            },
            showDialog(row: any = undefined) {
                this.dialogFormVisible = true;
                if (row) {
                    (this as any).axios.post("garden/student/get", {student_id: row.student_id}, {
                        headers: {token: (this as any).$store.state.token}
                    }).then((t: any) => {
                        console.log(t)
                        if (t.status == 200) {
                            if (t.data.success) {
                                const o: any = t.data.msg;
                                let bir:string="";
                                if(o.birthday.indexOf("-")<0){
                                    console.log(o.birthday.indexOf("NaN"));
                                    if(o.birthday.indexOf("NaN")>-1){
                                        bir = '';
                                    }else{
                                        bir = o.birthday.substr(0,4)+'-'+ o.birthday.substr(4,2) + '-' + o.birthday.substr(6,2)
                                    }
                                }else{
                                    bir = o.birthday;
                                }
                                let d: any = {
                                    isEdit: '1',
                                    student_id: row.student_id,
                                    name: o.name,
                                    name_speak: o.name_speak,
                                    birthday: bir,
                                    sex: o.sex,
                                    num: o.num,
                                    idcard: o.idcard,
                                    card: o.card,
                                    // parentJson: o.parentJson,
                                    class_id: row.class_id,
                                };
                                // this.d_sex = o.sex;
                                o.parentJson && JSON.parse(o.parentJson).map((item: any, index: number) => {
                                    (this as any)['q' + (index + 1)] = Object.assign({}, item);
                                });
                                this.d = Object.assign({}, d);
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        }
                    });
                } else {
                    let d: any = {
                        isEdit: '0',
                        student_id: '0',
                        name: '',
                        name_speak: '',
                        birthday: '',
                        sex: '1',
                        num: '0',
                        idcard: '',
                        card: '',
                        parentJson: '',
                        class_id: '',
                    };
                    this.checkedCities = [];
                    // this.d_sex = '2';
                    this.d = Object.assign({}, d);
                }

            },
            getData(currentpage: string = '') {
                if (currentpage) {
                    this.query.currentpage = '1'
                }
                let d: any = Object.assign({}, this.query);
                d.group_id = this.groupId;
                (this as any).axios.post('garden/student/list', d, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        if (d.success) {
                            let arr: any = JSON.parse(JSON.stringify(d.msg.list));
                            arr.map((item: any) => {
                                if (item.state === '1') { // 1正常 0停用
                                    item.stateFlag = true
                                } else {
                                    item.stateFlag = false
                                }
                                item.parents.length > 0 && item.parents.map((item1: any) => {
                                    if (item1.state.toString() === '1') { // 1正常 0停用
                                        item1.stateFlag = true
                                    } else {
                                        item1.stateFlag = false
                                    }
                                });
                                item.showPop = false;
                            });
                            console.log(arr)

                            this.total = e.data.msg.count;
                            this.tableData = arr;
                        }
                    }else{
                        (this as any).$store.dispatch('loginOut', '').then(() => {
                            (this as any).$router.replace("/")
                        })
                    }
                })
            },
        }
    })
</script>

<style lang="less" scoped>
    .par {
        overflow: hidden;margin-bottom: 10px;
        display: flex;justify-content: flex-start;
        .par > * {
            width: 150px;
            margin-bottom: 10px;
            margin-right: 10px;
            float: left;
        }
        .selectCard{
            margin: 0 10px;width: 60%!important;
        }
    }

    .tabBox {
        width: 100%;
        height: 35px;
        padding-top: 10px;

        .tabsInfo {
        }
    }

    .head {
        /*height: 35px;*/
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        line-height: 35px;
        font-size: @--font-size;

        .selectBox {
            margin-left: 10px;
        }

        .left {
            width: 80%;
            height: 100%;
            float: left;
            text-align: left;

            .sarchInput {
                width: 200px;
                height: 100%;
                line-height: 35px;
                margin-left: 10px;
            }

            /*.sarchInput:nth-of-type(1) {*/
            /*    margin-left: 10px;*/
            /*}*/
        }

        .right {
            width: 20%;
            height: 100%;
            float: right;
            text-align: right;

            .add {
                margin-right: 10px;
            }
        }
    }

    .search{
        margin-left: 10px;
    }
    .class{
        overflow:hidden;
        height: calc(100% - 65px);
        width: calc(100% - 20px);margin: 10px auto 0 auto;
    }
</style>