<template>
    <!--        班级管理-->
    <div class="class"  ref="myRef">
        <div class="head">
            <div class="left">
                <el-input placeholder="请输入班级名称/班级ID" v-model="query.key" class="sarchInput" size="small"
                          clearable></el-input>
                <el-select v-model="query.state" placeholder="状态" size="small" class="selectBox" clearable
                           style="width:120px">
                    <el-option label="正常" value="1"></el-option>
                    <el-option label="停用" value="0"></el-option>
                </el-select>
                <el-button type="primary" class="searchBtn" size="small" @click="getData()">搜索</el-button>
            </div>
            <div class="right">
                <el-button type="success" size="small" class="add" @click="showDialog()">添加</el-button>
            </div>
        </div>
        <!--        学生考勤-->
        <div class="tableClass">
            <el-table :data="tableData" border style="width: 100%" class="tableBox" v-loading="loadings" :height="parentHeight - 120"
                      :file-list="fileList">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column :resizable="false" prop="name" label="老师名称"></el-table-column>
                <el-table-column :resizable="false" prop="mobile" label="手机号"></el-table-column>
                <el-table-column :resizable="false" prop="sex" label="性别" width="60">
                    <template #default="scope">
                        <div>{{scope.row.sex== '1'?'男':"女"}}</div>
                    </template>
                </el-table-column>
                <el-table-column :resizable="false" prop="idcard" label="身份证号" width="200"></el-table-column>
                <el-table-column :resizable="false" prop="card" label="卡号" ></el-table-column>
                <el-table-column :resizable="false" prop="num" label="工号" width="100"></el-table-column>
                <el-table-column :resizable="false" prop="classs" label="班级"></el-table-column>

                <el-table-column :resizable="false" prop="state" label="状态" width="170">
                    <template #default="scope">
                        <el-switch style="display: block"
                                   v-model="scope.row.stateFlag"
                                   active-color="#13ce66"
                                   inactive-color="#ff4949"
                                   active-text="正常"
                                   inactive-text="停用"
                                   @change="changeFlag(scope.row)"
                        >
                        </el-switch>
                    </template>
                </el-table-column>
                <el-table-column label="操作" width="100" :resizable="false">
                    <template #default="scope">
                        <el-button size="small" @click="showDialog(scope.row)">编辑</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    class="pagin"
                    background
                    layout="prev, pager, next"
                    :total="total"
                    :current-page="query.currentpage"
                    @current-change="pagechange"
            >
            </el-pagination>
        </div>

        <!--        老师-->
        <el-drawer :title="d.teacher_id?('编辑老师'):('添加老师')" :size="'40%'"  v-model="dialogFormVisible"  :direction="'rtl'" :before-close="handleClose" destroy-on-close>
            <div class="edit">
                <el-form ref="from" :model="d" label-width="80px" @close="closeDialog()" class="commonForm" >
                    <el-form-item label="名称" prop="name" :rules="[ { required: true, message: '名称不能为空'} ]">
                        <el-input v-model="d.name" autocomplete="off" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="读音" prop="name_speak" :rules="[ { required: true, message: '读音不能为空'} ]">
                        <el-input v-model="d.name_speak" autocomplete="off" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="性别">
                        <el-radio-group v-model="d_sex" style="float: left;margin-top: 13px">
                            <el-radio :label="'1'">男</el-radio>
                            <el-radio :label="'2'">女</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="工号">
                        <el-input v-model="d.num" autocomplete="off" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="身份证">
                        <el-input v-model="d.idcard" autocomplete="off" clearable maxlength="18"
                                  show-word-limit></el-input>
                    </el-form-item>
                    <el-form-item label="卡号">
                        <el-autocomplete
                                class="inline-input inlineInputs"
                                v-model="d.card"
                                :fetch-suggestions="querySearch"
                                placeholder="请输入内容"
                                @select="handleSelect"
                                clearable
                                show-word-limit maxlength="10"
                        ></el-autocomplete>
                    </el-form-item>
                    <el-form-item label="手机号">
                        <el-input v-model="d.mobile" autocomplete="off" clearable show-word-limit maxlength="11"></el-input>
                    </el-form-item>
                    <el-form-item label="班级" prop="classStr" >
                        <el-checkbox-group v-model="checkedCities" style="text-align: left;float: left">
                            <el-checkbox v-for="city in classData" :label="city.class_id" :key="city">{{city.class_name}}</el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>

                    <el-form-item>
                        <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                            <el-button @click="closeDialog()"  >取 消</el-button>
                            <el-button type="primary" @click="submitForm('from')" >确 定</el-button>
                        </div>
                    </el-form-item>
                </el-form>
            </div>
        </el-drawer>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive,ref, onMounted} from 'vue';
    import {fileHost, areaList, shortcuts} from "@/utils/utils"

    export default defineComponent({
        name: "Teacher",
        setup() {
            const restaurants:any = ref([]);
            const querySearch:any = (queryString:string, cb:any) => {
                let results = queryString
                    ? restaurants.value.filter(createFilter(queryString))
                    : restaurants.value;
                // 调用 callback 返回建议列表的数据
                cb(results);
            };
            const createFilter = (queryString:string) => {
                return (restaurant:any) => {
                    return (
                        restaurant.value.toLowerCase().indexOf(queryString.toLowerCase()) ===
                        0
                    );
                };
            };
            const loadAll = () => { return [{value: "0000000000", address: "0000000000" }]  };
            const handleSelect = (item:any) => {
                console.log(item);
            };
            onMounted(() => {
                restaurants.value = loadAll();
            });
            const myRef = ref(null);
            return reactive({
                myRef,
                parentHeight:'0',
                restaurants,
                querySearch,
                createFilter,
                loadAll,
                handleSelect,
                dialogFormVisible:false,
                schoolType: '', // '' 学校列表 group 分园列表
                query: {
                    key: '', // 学校名称或者id
                    state:'',
                    currentpage:'1',
                    pagesize:'10'
                },
                d_sex:'2',
                d: {
                    isEdit:'0',
                    teacher_id:'',
                    name_speak:'',
                    sex:'2',
                    num:'',
                    idcard:'',
                    card:'',
                    mobile:'', // 手机
                    classStr:'', // 所属班级
                },
                total: '1',
                checkedCities:[],
                tableData: [],
                classData:[],
                menuInfo: [],
                shortcuts: shortcuts()
            })
        },
        data() {
            return {
                loadings: true,
                fileHost: fileHost(),
                areaList: areaList(),
                type: '0',
                value: '',
                gridData: [],
                dialogTableVisible: false,
                currentRow: '',
                isEdit: 0,
                id: '',
                component: '',
                dialogFormVisible: false,
                schoolData: [],// 学校分园数据
            }
        },
        mounted() {
            // alert(1)
            this.getData();
            this.getClassData();
            this.parentHeight = (this as any).myRef.clientHeight
        },
        watch: {
            $route() {
                (this as any).type = (this as any).$route.query.type;
                (this as any).component = (this as any).$route.query.component;
            },
            component() {
                if (this.component == 'teacher') {
                    this.getData();
                }
            }
        },
        methods: {
            pagechange(val: any) {
                this.query.currentpage = val.toString();
                this.getData()
            },
            changeFlag(item: any) {
                (this as any).axios.post('garden/teacher/setstate', {
                    teacher_id: item.teacher_id
                }, {headers: {token: (this as any).$store.state.token}}).then(((e: any) => {
                    console.log(e);
                    if (e.status === 200) {
                        (this as any).$message.success('成功');
                    }
                }))
            },
            submitForm(formName:string){
                (this as any).$refs[formName].validate((valid:any) => {
                    if(valid){
                        let data:any = Object.assign({},this.d),arr:any=[...this.checkedCities];
                        console.log(this.checkedCities);
                        if(arr.length>0 && arr[0] === "" ){
                            arr.splice(0,1);
                        }
                        data.sex = this.d_sex;
                        data.classStr = arr.join(",");
                        (this as any).axios.post('garden/teacher/design', data,{
                            headers: {  token :(this as any).$store.state.token }
                        }).then((t:any)=>{
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.closeDialog();
                                    (this as any).$message.success('成功');
                                    this.getData();
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        });
                    }
                })
            },
            handleClose(done: any) {
                (this as any).$confirm('确认关闭？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.closeDialog();
                    done();
                }).catch(() => {
                });
            },
            closeDialog(){
                this.dialogFormVisible = false;
                let d:any =  {
                    isEdit:'0',
                    teacher_id:'',
                    name_speak:'',
                    sex:'',
                    num:'',
                    idcard:'',
                    card:'',
                    mobile:'', // 手机
                    classStr:'', // 所属班级
                };
                this.d = Object.assign({},d);
            },

            getClassData(){
                (this as any).axios.post('garden/class/selectList', {},{ headers: { token :(this as any).$store.state.token }
                }).then((e:any) => {
                    if(e.status === 200){
                        let d:any = e.data;
                        if(d.success){
                            let arr:any = JSON.parse(JSON.stringify(d.msg.list));
                            this.classData  = arr;
                        }
                    }
                })
            },
            showDialog(row:any=undefined){
                this.dialogFormVisible = true;
                if(row){
                    (this as any).axios.post("garden/teacher/get", { teacher_id: row.teacher_id },{
                        headers: {  token :(this as any).$store.state.token  }
                    }).then((t:any)=>{
                        if (t.status == 200) {
                            if (t.data.success) {
                                console.log(t.data.msg)
                                const o:any = t.data.msg;
                                let d:any = {
                                    isEdit:'1',
                                    teacher_id:row.teacher_id ,
                                    name:o.name,
                                    name_speak:o.name_speak,
                                    sex:o.sex,
                                    num:o.num,
                                    idcard:o.idcard,
                                    card:o.card,
                                    mobile:o.mobile,
                                    classStr:o.classStr,
                                };
                                this.checkedCities = o.classs.split(",");
                                this.d_sex = o.sex;
                                this.d = Object.assign({},d);
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        }
                    });
                }else{
                    this.d_sex = '2';
                    let d:any = {
                        isEdit:'0',
                        teacher_id:'',
                        name_speak:'',
                        sex:'',
                        num:'',
                        idcard:'',
                        card:'',
                        mobile:'', // 手机
                        classStr:'', // 所属班级
                    };
                    this.d = Object.assign({},d);
                    this.checkedCities = [];
                }

            },

            getData() {
                this.loadings = true;
                let data:any = Object.assign({},this.query);

                (this as any).axios.post('garden/teacher/list', data, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        this.total = '0';
                        console.log(e)
                        if (d.success) {
                            let arr: any = JSON.parse(JSON.stringify(d.msg.list));
                            arr.map((item: any) => {
                                if (item.state === '1') { // 1正常 0停用
                                    item.stateFlag = true
                                } else {
                                    item.stateFlag = false
                                }
                            });
                            this.total = d.msg.count;
                            console.log(arr)
                            this.tableData = arr;
                        }else{
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                    this.loadings = false;
                })
            },
        }
    })
</script>

<style lang="less" scoped>
    .class{
        margin-top: 10px;overflow-y: auto;
        height: calc(100% - 65px);
        .tableClass {

            width: calc(100% - 20px);
            margin: 0 auto 20px auto;

            .tableBox {
                line-height: 35px;
                overflow: inherit;
            }

            .pagin {
                line-height: 35px;
                margin-top: 10px;
            }
        }
    }
    .tabBox {
        width: 100%;
        height: 35px;
        padding-top: 10px;

        .tabsInfo {
        }
    }

    .head {
        /*height: 35px;*/
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        line-height: 35px;
        font-size: @--font-size;

        .selectBox {
            margin-left: 10px;
        }

        .left {
            width: 80%;
            height: 100%;
            float: left;
            text-align: left;

            .sarchInput {
                width: 200px;
                height: 100%;
                line-height: 35px;
                margin-left: 10px;
            }
        }

        .right {
            width: 20%;
            height: 100%;
            float: right;
            text-align: right;

            .add {
                margin-right: 10px;
            }
        }
    }


</style>